<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="./public/css/about.css">
    <link rel="stylesheet" href="fonts/fontawesome-free-5.15.4/css/all.css">
</head>
<body>
<%- include("header")%>

<%- include("nav")%>
<div class="slider_main" style="width: 100% ;height: 400px;background-image: url('http://timbercompany.ancorathemes.com/wp-content/uploads/2016/07/parallax-4.jpg');float: left;margin-top: 30px ">
    <h1 style="text-align: center;line-height: 300px;color: #e9e4d0;font-size: 50px;text-transform: capitalize">About Us</h1>
    <h3 style="text-align: center;color: #e9e4d0;margin-top: -120px">Innovation design and quality manufacturing, all at exception value</h3>
</div>
<div class="main">
    <div class="stories">
        <div class="out">
            <h2>OUR STORIES</h2>
        </div>
        <div style="display: flex" class="image_out">
            <img style="margin-left: 200px;margin-top: 30px" src="https://gotrangtri.vn/wp-content/uploads/2018/08/Ban-tra-go-dep-cho-phong-khach-gia-dinh-GHS-4641-ava-300x300.jpg">
            <div class="gioithieu11">
            <p style="width: 555px;height: 365px;margin-left: 50px;margin-top: 40px;color: #777">Since our beginning in 1999, we have worked tirelessly to earn our reputation for quality, service and dependability. For over 15 years these founding principles have helped us succeed in creating prestigious architectural woodwork projects on a global scale. Our expert staffs provides a superior level of service. We always try our best to follow the global tendency in our design and technology. Our staffs are updated trainning every year.</p>
            <div class="out_list">
                <ul>
                    <li><i style="color: #C69453" class="far fa-check-circle"></i><p>Highly professional staff with many years experience.</p></li>
                    <li><i style="color: #C69453" class="far fa-check-circle"></i><p>The certified materials in a timely and cost effective manner.</p></li>
                    <li><i style="color: #C69453" class="far fa-check-circle"></i><p>Design team with the best  interpretation of their design intent.</p></li>
                    <li><i style="color: #C69453" class="far fa-check-circle"></i><p>Using the latest machanical system.</p></li>
                </ul>
                <div class="contact_us"><a href="#">
                    <h5>CONTACT US</h5>
                    </a></div>
            </div>
            </div>
        </div>
    </div>
    <div class="kinhnghiem">
        <div class="kinhnghiem_con">
        <div class="number">
            <h1>10+</h1>
            <h5>TRADITIONAL VILLAGES TYPICAL OF VIETNAM</h5>
        </div>
        <div class="number">
            <h1 style="color: #e0bc07">15+</h1>
            <h5>YEARS OF EXPERIENCE US IN SMALL INDUSTRY</h5>
        </div>
        <div class="number">
            <h1 style="color: #039039">30+</h1>
            <h5>PRODUCTS WEBSITE UNIQUE ARTISTIC</h5>
        </div>
        <div class="number">
            <h1 style="color: #00467b">5000+</h1>
            <h5>HANDICRAFT PRODUCTS CRAFTS</h5>
        </div>
        </div>
    </div>


    <div class="khachhang">
        <div class="container">
            <div class="khachhang_title">
                <h2>TYPICAL CUSTOMERS</h2>
            </div>
            <div class="slider">
                <marquee>
                    <div class="slide">
                        <img src="https://expert-themes.com/html/sawmall/images/clients/2.png" height="80" width="200" alt="" />
                        <img src="https://expert-themes.com/html/sawmall/images/clients/3.png" height="80" width="200" alt="" />
                        <img src="https://expert-themes.com/html/sawmall/images/clients/4.png" height="80" width="200" alt="" />
                        <img src="https://expert-themes.com/html/sawmall/images/clients/5.png" height="80" width="200" alt="" />
                        <img src="https://expert-themes.com/html/sawmall/images/clients/1.png" height="80" width="200" alt="" />
                        <img src="https://expert-themes.com/html/sawmall/images/clients/2.png" height="80" width="200" alt="" />
                        <img src="https://expert-themes.com/html/sawmall/images/clients/3.png" height="80" width="200" alt="" />
                        <img src="https://expert-themes.com/html/sawmall/images/clients/4.png" height="80" width="200" alt="" />
                        <img src="https://expert-themes.com/html/sawmall/images/clients/5.png" height="80" width="200" alt="" />
                        <img src="https://expert-themes.com/html/sawmall/images/clients/1.png" height="80" width="200" alt="" />
                    </div>
                </marquee>
            </div>
        </div>
    </div>

    <div class="phanhoi">
        <div class="container">
            <h2>WHAT ARE CUSTOMERS SAY ABOUT US?</h2>
            <div class="phanhoi_box">
                <div style="background-image: url('http://gioithieu.myngheviet.vn/wp-content/uploads/2019/09/15-Video-Background-Tranh-Sm-Toi_compressed.jpg?id=964');" class="phanhoi_box_image"></div>
                <div class="text_phanhoi">
                    <h4>“Vietnamese Fine Arts is my favorite brand. Perhaps not everyone likes pure Vietnamese cultural art products like me, but personally, I am really impressed with the products here. It is hard to find meaningful products from all over the world to give to housewarming and grand openings like here. The neoclassical lacquer painting set for the couple's new apartment, the teapot and the ceramic tableware set to celebrate the housewarming of my little friend left a good impression and feeling on anyone who entered our home.”</h4>
                </div>
            </div>
            <div class="phanhoi_box">
                <div style="background-image: url('http://gioithieu.myngheviet.vn/wp-content/uploads/2019/08/40d01e60881791427cd37758639c2733.jpg?id=693');" class="phanhoi_box_image"></div>
                <div class="text_phanhoi">
                    <h4>“I live in Vietnam but my husband's family is in the US and my eldest son is studying and staying in a homestay in Australia. Before, it was a headache when thinking about giving something meaningful to my husband's family and the family where my children lived. From the day I knew Vietnamese Fine Arts, I didn't have to think anymore because there were staff here to help me. Genuine HA DONG silk products, lacquered Picasso paintings, village paintings, lacquered jewelry boxes, and other bronze artifacts not only express my hometown feelings for them but also their culture.”</h4>
                </div>
            </div>
            <div class="phanhoi_box">
                <div style="background-image: url('http://gioithieu.myngheviet.vn/wp-content/uploads/2019/06/IMG_2412.jpg');" class="phanhoi_box_image"></div>
                <div class="text_phanhoi">
                    <h4>“Every year Tet comes, our bank is always looking for products to give to our customers. In recent years, leaders often decide to give products that are not only highly useful but also delicate and convey the brand message. The Tet gift set of Vietnamese Fine Arts has conquered our customers and they competed so much that even the staff had to give their gifts to the guests. Thank you Vietnamese Fine Arts for making great efforts to bring great experiences to our customers.”</h4>
                </div>
            </div>
            <div class="see_more"><a href="#">
                    <h5>See more customer experiences</h5>
                </a></div>
        </div>
    </div>

    <div class="baochi">
        <div class="container">
            <h2>THE PRESS ABOUT VENUS HANDICRAFTS</h2>
            <div class="baochi_image">
                <img src="http://gioithieu.myngheviet.vn/wp-content/uploads/2019/08/vtv1-200x100.png"width="100" height="50">
                <img src="http://gioithieu.myngheviet.vn/wp-content/uploads/2019/08/htv7-1-200x100.png"width="100" height="50">
                <img src="http://gioithieu.myngheviet.vn/wp-content/uploads/2019/08/cafebiz-200x100.png"width="100" height="50">
                <img src="http://gioithieu.myngheviet.vn/wp-content/uploads/2019/09/dantri-200x100.png"width="100" height="50">
            </div>
            <div class="baochi_tong">
                <div class="video_baochi">
                    <div class="video2">
                        <iframe width="538" height="302" src="https://www.youtube.com/embed/wv2ng5DThNg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <h3 style="color: red">VTV1</h3>
                    <h3>Discover Vietnamese Fine Arts with VTV1 with model boats</h3>
                    <h4 style="color: #717070">“There are sailboats with hundreds of tiny details, the main materials for modeling are from nature such as jackfruit, white cedar, rosewood, and the rustic wood colors are kept. The world in a sparkling bottle, few people know that to have that poetic beauty is the result of meticulous work to every little detail." …</h4>
                </div>
                <div class="video_baochi">
                    <div class="video2">
                        <iframe width="538" height="302" src="https://www.youtube.com/embed/nvN3xWj1nAk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <h3 style="color: red">HTV7</h3>
                    <h3>“It took 2 months for artisans to put lacquer art on Tet jam tray”</h3>
                    <h4 style="color: #717070">“There are also materials from ordinary wood, but after going through 45 to 60 days with stages such as shaping, painting, and coloring, the artist has produced many unique lacquered Tet jam trays. unique. Products are not only diverse in color, pattern, size, but also imbued with Vietnamese culture through each line."</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="nhanvien">
        <div class="container">
            <div class="title_nhanvien">
                <h2>PROFESSIONAL AND DEDICATED TEAM</h2>
            </div>
            <div class="image_nhanvien">
                <div class="box_nhanvien">
                    <div class="image-nhanvien">
                        <img style="width: 260px;height: 173px" src="https://onlinebank.com.vn/wp-content/uploads/2019/11/nhan-vien-tin-dung-ngan-hang.jpg">
                    </div>
                    <div class="thong_tin">
                        <h3>Judy Bird</h3>
                        <h4>Director</h4>
                        <p>She has a Bachelor of Science degree in Interior Design and professional experience creating customer residential.</p>
                    </div>
                </div>
                <div class="box_nhanvien1">
                    <div class="image-nhanvien">
                        <img style="width: 260px;height: 173px" src="http://congtyluatdragon.vn/images/news/luat-su-nguyen-trung-tiep.jpg">
                    </div>
                    <div class="thong_tin">
                        <h3>Logan Flint</h3>
                        <h4>Manager</h4>
                        <p>Logan grew up in a household where design was very important. His father was a chief furniture deisgn for Charles Eames.</p>
                    </div>
                </div>
                <div class="box_nhanvien2">
                    <div class="image-nhanvien">
                        <img style="width: 260px;height: 173px" src="https://img.lovepik.com/photo/50122/5789.jpg_wh860.jpg">
                    </div>
                    <div class="thong_tin">
                        <h3>James Morrison</h3>
                        <h4>Marketing Leader</h4>
                        <p>Skimmer grew up crawling around under his grandfather’s workbench looking for just the right two fit perfectly blocks.</p>
                    </div>
                </div>
                <div class="box_nhanvien3">
                    <div class="image-nhanvien">
                        <img style="width: 260px;height: 173px" src="https://working.vn/vnt_upload/news/hinh_ky_nang/H10-min.gif">
                    </div>
                    <div class="thong_tin">
                        <h3>Gordon Miller</h3>
                        <h4>Creative Leader</h4>
                        <p>He enjoys outdoor activities such as hiking, canoeing and skiing and also love music, photography and campfires.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<%- include("footer")%>

</div>
</body>
</html>