<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="fonts/fontawesome-free-5.15.4/css/all.css">
</head>
<body>
<%- include("header")%>

<%- include("nav")%>
<div class="slider_header">
    <h1>Our Business</h1>
</div>
<div class="main">
    <div class="gioithieu">
        <div class="container">
            <div class="gioithieu_con">
                <div class="gioithieucon_1">
                    <div class="gioithieu_mini">
                        <div class="image_gioithieu">
                            <img src="https://mynghesenviet.vn/wp-content/uploads/2020/01/no1.png" width="70px">
                        </div>
                        <h4>Sen Viet fine art production facility, formerly known as Nam Huu fine art production base (2010). This is see is a pioneer in vocational training, creating jobs and developing handicraft products from water hyacinth for people in Tinh Thoi garden (Cao Lanh City, Dong Thap) very early in the early days of the year. year 2002 - 2003.</h4>
                    </div>
                    <div class="gioithieu_mini">
                        <div class="image_gioithieu">
                            <img src="https://mynghesenviet.vn/wp-content/uploads/2020/01/no2.png" width="70px">
                        </div>
                        <h4>In 2015, Ms. Vu Duc Thanh, after graduating with a major in Finance and Banking, Dong Thap University decided to return to take over the family business. Due to the need to expand production and business in the new period, Nam Huu facility was officially renamed Sen Viet Fine Arts Production Facility.</h4>
                    </div>
                    <div class="gioithieu_mini">
                        <div class="image_gioithieu">
                            <img src="https://mynghesenviet.vn/wp-content/uploads/2020/01/no3.png" width="70px">
                        </div>
                        <h4>After a period of researching and approaching the market, experiencing many difficulties and obstacles, up to now, the products bearing the unique imprint of Sen Viet Fine Arts facility such as: baskets, bags, straps, carpets, hyacinth hats… have been present in many famous tourist destinations such as Da Nang, Hoi An and are very popular with local consumers. Not only serving domestic customers, Sen Viet's products have gradually reached out to international markets: Cambodia, Laos, Myanmar...</h4>
                    </div>
                    <div class="gioithieu_mini">
                        <div class="image_gioithieu">
                            <img src="https://mynghesenviet.vn/wp-content/uploads/2020/01/no4.png" width="70px">
                        </div>
                        <h4>In 2019, Sen Viet Fine Arts made a big change when it was determined to build a more professional brand image. With the slogan "Vietnamese art - Vietnamese hands", Sen Viet Fine Arts' strategy in the period 2020 - 2025 is to invest in R&D to diversify products, dominate the domestic market and initially approach to the international market by the sustainable values accumulated during nearly 20 years of its establishment and development.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="kinhnghiem">
        <div class="number">
            <h1>10+</h1>
            <h5>TRADITIONAL VILLAGES TYPICAL OF VIETNAM</h5>
        </div>
        <div class="number">
            <h1 style="color: #e0bc07">15+</h1>
            <h5>YEARS OF EXPERIENCE US IN SMALL INDUSTRY</h5>
        </div>
        <div class="number">
            <h1 style="color: #039039">30+</h1>
            <h5>PRODUCTS WEBSITE UNIQUE ARTISTIC</h5>
        </div>
        <div class="number">
            <h1 style="color: #00467b">5000+</h1>
            <h5>HANDICRAFT PRODUCTS CRAFTS</h5>
        </div>
    </div>

    <div class="sanpham">
        <div class="container">
            <h2>IMAGE VENUS HANDICRAFTS</h2>
            <div class="box_sanpham">
                <a href="#"><div class="sanpham_box_con">
                        <h3>TRADE VILLAGE CRAFTS</h3>
                    </div></a>
                <div class="thanh">
                    <a href="#"><div class="sanpham_box_con2">
                            <h3>TRADE VILLAGE CRAFTS</h3>
                        </div></a>
                    <a href="#"><div class="sanpham_box_con3">
                            <h3>TRADE VILLAGE CRAFTS</h3>
                        </div></a>
                </div>
                <div class="thanh2">
                    <a href="#"><div class="sanpham_box_con4">
                            <h3>TRADE VILLAGE CRAFTS</h3>
                        </div></a>
                    <a href="#"><div class="sanpham_box_con5">
                            <h3>TRADE VILLAGE CRAFTS</h3>
                        </div></a>
                </div>
            </div>
        </div>
    </div>

    <div class="khachhang">
        <div class="container">
            <div class="khachhang_title">
                <h2>TYPICAL CUSTOMERS</h2>
            </div>
            <div class="slider">
                <marquee>
                    <div class="slide">
                        <img style="border-radius: 10px;position: relative;left: -25px" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="80" width="200" alt="" />
                        <img style="border-radius: 10px;position: relative;left: -25px" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="80" width="200" alt="" />
                        <img style="border-radius: 10px;position: relative;left: -25px" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="80" width="200" alt="" />
                        <img style="border-radius: 10px;position: relative;left: -25px" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="80" width="200" alt="" />
                        <img style="border-radius: 10px;position: relative;left: -25px" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="80" width="200" alt="" />
                        <img style="border-radius: 10px;position: relative;left: -25px" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="80" width="200" alt="" />
                        <img style="border-radius: 10px;position: relative;left: -25px" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="80" width="200" alt="" />
                        <img style="border-radius: 10px;position: relative;left: -25px" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="80" width="200" alt="" />
                        <img style="border-radius: 10px;position: relative;left: -25px" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="80" width="200" alt="" />
                        <img style="border-radius: 10px;position: relative;left: -25px" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="80" width="200" alt="" />
                        <img style="border-radius: 10px;position: relative;left: -25px" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="80" width="200" alt="" />
                        <img style="border-radius: 10px;position: relative;left: -25px" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="80" width="200" alt="" />
                        <img style="border-radius: 10px;position: relative;left: -25px" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="80" width="200" alt="" />
                        <img style="border-radius: 10px;position: relative;left: -25px" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="80" width="200" alt="" />
                        <img style="border-radius: 10px;position: relative;left: -25px" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="80" width="200" alt="" />
                    </div>
                </marquee>
            </div>
        </div>
    </div>

    <div class="phanhoi">
        <div class="container">
            <h2>WHAT ARE CUSTOMERS SAY ABOUT US?</h2>
            <div class="phanhoi_box">
                <div style="background-image: url('http://gioithieu.myngheviet.vn/wp-content/uploads/2019/09/15-Video-Background-Tranh-Sm-Toi_compressed.jpg?id=964');" class="phanhoi_box_image"></div>
                <div class="text_phanhoi">
                    <h4>“Vietnamese Fine Arts is my favorite brand. Perhaps not everyone likes pure Vietnamese cultural art products like me, but personally, I am really impressed with the products here. It is hard to find meaningful products from all over the world to give to housewarming and grand openings like here. The neoclassical lacquer painting set for the couple's new apartment, the teapot and the ceramic tableware set to celebrate the housewarming of my little friend left a good impression and feeling on anyone who entered our home.”</h4>
                </div>
            </div>
            <div class="phanhoi_box">
                <div style="background-image: url('http://gioithieu.myngheviet.vn/wp-content/uploads/2019/08/40d01e60881791427cd37758639c2733.jpg?id=693');" class="phanhoi_box_image"></div>
                <div class="text_phanhoi">
                    <h4>“I live in Vietnam but my husband's family is in the US and my eldest son is studying and staying in a homestay in Australia. Before, it was a headache when thinking about giving something meaningful to my husband's family and the family where my children lived. From the day I knew Vietnamese Fine Arts, I didn't have to think anymore because there were staff here to help me. Genuine HA DONG silk products, lacquered Picasso paintings, village paintings, lacquered jewelry boxes, and other bronze artifacts not only express my hometown feelings for them but also their culture.”</h4>
                </div>
            </div>
            <div class="phanhoi_box">
                <div style="background-image: url('http://gioithieu.myngheviet.vn/wp-content/uploads/2019/06/IMG_2412.jpg');" class="phanhoi_box_image"></div>
                <div class="text_phanhoi">
                    <h4>“Every year Tet comes, our bank is always looking for products to give to our customers. In recent years, leaders often decide to give products that are not only highly useful but also delicate and convey the brand message. The Tet gift set of Vietnamese Fine Arts has conquered our customers and they competed so much that even the staff had to give their gifts to the guests. Thank you Vietnamese Fine Arts for making great efforts to bring great experiences to our customers.”</h4>
                </div>
            </div>
            <div class="see_more"><a href="#">
                    <h5>See more customer experiences</h5>
                </a></div>
        </div>
    </div>

    <div class="baochi">
        <div class="container">
            <h2>THE PRESS ABOUT VENUS HANDICRAFTS</h2>
            <div class="baochi_image">
                <img src="http://gioithieu.myngheviet.vn/wp-content/uploads/2019/08/vtv1-200x100.png"width="100" height="50">
                <img src="http://gioithieu.myngheviet.vn/wp-content/uploads/2019/08/htv7-1-200x100.png"width="100" height="50">
                <img src="http://gioithieu.myngheviet.vn/wp-content/uploads/2019/08/cafebiz-200x100.png"width="100" height="50">
                <img src="http://gioithieu.myngheviet.vn/wp-content/uploads/2019/09/dantri-200x100.png"width="100" height="50">
            </div>
            <div class="baochi_tong">
                <div class="video_baochi">
                    <div class="video2">
                        <iframe width="538" height="302" src="https://www.youtube.com/embed/wv2ng5DThNg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <h3 style="color: red">VTV1</h3>
                    <h3>Discover Vietnamese Fine Arts with VTV1 with model boats</h3>
                    <h4 style="color: #717070">“There are sailboats with hundreds of tiny details, the main materials for modeling are from nature such as jackfruit, white cedar, rosewood, and the rustic wood colors are kept. The world in a sparkling bottle, few people know that to have that poetic beauty is the result of meticulous work to every little detail." …</h4>
                </div>
                <div class="video_baochi">
                    <div class="video2">
                        <iframe width="538" height="302" src="https://www.youtube.com/embed/nvN3xWj1nAk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <h3 style="color: red">HTV7</h3>
                    <h3>“It took 2 months for artisans to put lacquer art on Tet jam tray”</h3>
                    <h4 style="color: #717070">“There are also materials from ordinary wood, but after going through 45 to 60 days with stages such as shaping, painting, and coloring, the artist has produced many unique lacquered Tet jam trays. unique. Products are not only diverse in color, pattern, size, but also imbued with Vietnamese culture through each line."</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="nhanvien">
        <div class="container">
            <h2>PROFESSIONAL AND DEDICATED TEAM</h2>
            <div class="nhanvien_box">
                <div class="image_nhanvien">
                    <img src="images/22(1).jpg" height="240" width="198"/>
                </div>
                <div class="text_nhanvien">
                    <h4>VŨ ĐỨC THANH</h4>
                    <h5 style="color: red">Director</h5>
                </div>
            </div>
            <div class="nhanvien_thongtin">
                <h4>15 years of experience in the handicraft industry, used to be the representative director of a foreign company in Vietnam in the handicraft industry; knowledgeable about suppliers and craft villages across the country; is a member and executive committee member of many associations and craft villages such as HAWA, VECOM, Binh Duong lacquerware, etc.</h4>
            </div>


            <div style="position: relative;left: -200px;top: 150px" class="nhanvien_box">
                <div class="image_nhanvien">
                    <img src="images/z2737483352728_1c4595b1650690b9eb5135e89c51f660.jpg" height="240" width="198"/>
                </div>
                <div class="text_nhanvien">
                    <h4>LÊ QUANG ANH</h4>
                    <h5 style="color: red">Deputy Development Director</h5>
                </div>
            </div>
            <div class="nhanvien_thongtin2">
                <h4>7 years of experience in the furniture and real estate industry, specializing in developing products with high spiritual value.</h4>
            </div>



            <div style="position: relative;left: 380px;top: -240px" class="nhanvien_box">
                <div class="image_nhanvien">
                    <img src="images/42a109009e1868463109.jpg" height="240" width="198"/>
                </div>
                <div class="text_nhanvien">
                    <h4>NGUYỄN ĐỨC HÙNG</h4>
                    <h5 style="color: red">Manager</h5>
                </div>
            </div>
            <div class="nhanvien_thongtin3">
                <h4>10 years of experience working in the field of e-commerce and advertising communication, implementing sales systems and online business. More than 5 years of working with the business development of handicrafts through the application of modern technology</h4>
            </div>


            <div style="position: relative;left: -300px;top: 100px" class="nhanvien_box">
                <div class="image_nhanvien">
                    <img src="images/z2737473250879_9e831507ab42a514bfd936127d51768e.jpg" height="240" width="198"/>
                </div>
                <div class="text_nhanvien">
                    <h4>TỐNG DUY PHƯƠNG</h4>
                    <h5 style="color: red">Creative Leader</h5>
                </div>
            </div>
            <div style="position: relative; top: 350px; left: 120px" class="nhanvien_thongtin4">
                <h4>7 years of experience in the furniture and real estate industry, specializing in developing products with high spiritual value.</h4>
            </div>

            <div style="position: relative;left: 500px;top: 110px" class="nhanvien_box">
                <div class="image_nhanvien">
                    <img src="images/z2737487744168_fd9e0c93dbcdd3b6d6d598ea047941b5.jpg" height="240" width="198"/>
                </div>
                <div class="text_nhanvien">
                    <h4>TÔ HUYỀN TRANG</h4>
                    <h5 style="color: red">Marketing Leader</h5>
                </div>
            </div>
            <div class="nhanvien_thongtin5">
                <h4>10 years of experience working in the field of e-commerce and advertising communication, implementing sales systems and online business. More than 5 years of working with the business development of handicrafts through the application of modern technology</h4>
            </div>

        </div>
    </div>
</div>
<%- include("footer")%>

</div>
</body>
</html>