<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>product</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="js/jquery-3.6.0.min.js">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/product2.css">
    <link rel="stylesheet" href="fonts/fontawesome-free-5.15.4/css/all.css">


</head>
<body>
<!-------------HEADER-------------->
<div class="header">
    <%- include("header")%>
    <%- include("nav")%>
</div>
<div class="slider_main" style="width: 100% ;height: 400px;background-image: url('http://timbercompany.ancorathemes.com/wp-content/uploads/2016/07/parallax-1.jpg');float: left;margin-top: 30px ">

</div>
<div class="container">
    <div class="main">
        <!--    phần list-->
        <div class="list_product">
            <div class="top_list">
                <p ><b>product list</b></p>
            </div>
            <div class="list_box">
                <a class="name_list"><b>interior</b></a>
                <ul>
                    <li class ="list"><a href="#"> wooden tables and chairs</a></li>
                    <li class="list"><a href="#">wooden bed</a></li>
                    <li class="list"><a href="#"> wooden collapset</a></li>
                    <li class="list"><a href="#">wooden cabinets</a></li>
                </ul>
                <a class="name_list"><b>decorations</b></a>
                <ul>
                    <li class="list"><a href="#">clock</a></li>
                    <li class="list"><a href="#">jewelry box</a></li>
                    <li class="list"><a href="#">candy box</a></li>
                    <li class="list"><a href="#">tea tray</a></li>
                </ul>
                <a class="name_list"><b>feng shui items</b></a>
                <ul>
                    <li class="list"><a href="#">feng shui statue</a></li>
                    <li class="list"><a href="#">feng shui disk</a></li>
                    <li class="list"><a href="#">lucky pot</a></li>
                    <li class="list"><a href="#">feng shui jade</a></li>
                </ul>
                <a class="name_list"><b>bamboo handmade</b></a>
                <ul>
                    <li class="list"><a href="#">Fashion handmade</a></li>
                    <li class="list"><a href="#">decorative accessories</a></li>
                    <li class="list"><a href="#">Bamboo furniture</a></li>
                    <li class="list"><a href="#">replacing plastic products</a></li>
                </ul>
                <a class="name_list"><b>Stonee</b></a>
                <ul>
                    <li class="list"><a href="#">stone paintings</a></li>
                    <li class="list"><a href="#">stone statue</a></li>
                    <li class="list"><a href="#">Penjing</a></li>
                    <li class="list"><a href="#">accessories</a></li>
                </ul>
            </div>
            <div class="main_hot">
                <div class="hot_list">
                    <p><b>Related News</b></p>
                </div>
                <div class="hot_box">
                    <div class="hot_box1">
                        <p>Hoi An opens the 3rd handicraft market night<br>
                            <a href="#">See more</a>
                            <i class="fas fa-eye"></i></p>
                    </div>
                    <hr>
                    <div class="hot_box1">
                        <p>Water hyacinth knitting abroad in Ninh Binh<br>
                            <a href="#">See more</a>
                            <i class="fas fa-eye"></i></p>
                    </div>
                    <hr>
                    <div class="hot_box1">
                        <p>Vietnam house - where the fine arts converge<br>
                            <a href="#">See more</a>
                            <i class="fas fa-eye"></i></p>
                    </div>
                    <hr>
                    <div class="hot_box1">
                        <p>Thien Phu Stone Wood creates a highlight for living space<br>
                            <a href="#">See more</a>
                            <i class="fas fa-eye"></i></p>
                    </div>
                    <hr>
                    <div class="hot_box1">
                        <p>The reason you must go to Hua Hin once<br>
                            <a href="#">See more</a>
                            <i class="fas fa-eye"></i></p>
                    </div>
                </div>
            </div>
        </div>
        <!--    đây là phần sắp xếp-->
        <div class="content">
            <div class="top_content">
                <ul class="abs">
                    <li class="top_content_li"><a style="text-decoration: underline; color: #eb3e32" href="#">default sort</a></li>
                    <li class="top_content_li"><a href="#">from a to z</a></li>
                    <li class="top_content_li"><a href="#">prices gradually</a></li>
                    <li class="top_content_li"><a href="#">prices increase</a></li>
                    <li class="top_content_li"><a href="#">Latest</a></li>
                </ul>
                <hr>
                <br>
            </div>
            <div class="abs_mobie">
                <select>
                    <option>default sort</option>
                    <option>from a to z</option>
                    <option>prices gradually</option>
                    <option>prices increase</option>
                    <option>Latest</option>
                </select>
                <hr>
            </div>
            <!--      đây là phần content -->
            <div class="box_content">
                <div class="box_column">
                    <a href="#"><div class="image_box">
                            <figure><img src="https://noithathoaphat.info.vn/wp-content/uploads/2017/06/mau-ban-ghe-go-cao-cap-02.jpg" width="299" height="300"></figure>
                            <div class="name_product">
                                <h5>EGO WEAR</h5>
                                <h4>Dragon Sculpture Set</h4>
                                <div class="gia">
                                    399.000.000đ
                                </div>
                                <div class="gia2">
                                    460.000.000đ
                                </div>
                            </div>
                            <button class="heat">
                                <i class="far fa-heart"></i>
                            </button>
                            <button class="buy">
                                <i class="fas fa-shopping-basket"> +1</i>
                            </button>
                            <button class="buy_now">
                                <i class="fas fa-shopping-basket"> Buy Now</i>
                            </button>
                        </div></a>
                </div>
                <div class="box_column">
                    <a href="#"><div class="image_box">
                            <figure><img src="https://cdn.muabannhanh.com/asset/frontend/img/gallery/2018/08/27/5b836cdad4248_1535339738.jpg" width="299" height="300"></figure>
                            <div class="name_product">
                                <h5>EGO WEAR</h5>
                                <h4>nghe dinh set</h4>
                                <div class="gia">
                                    399.000.000đ
                                </div>
                                <div class="gia2">
                                    460.000.000đ
                                </div>
                            </div>
                            <button class="heat">
                                <i class="far fa-heart"></i>
                            </button>
                            <button class="buy">
                                <i class="fas fa-shopping-basket"> +1</i>
                            </button>
                            <button class="buy_now">
                                <i class="fas fa-shopping-basket"> Buy Now</i>
                            </button>
                        </div></a>
                </div>
                <div class="box_column">
                    <a href="#"><div class="image_box">
                            <figure><img src="https://tongkhodogo.com/wp-content/uploads/2021/05/z2486406968397_ae6125b468dbe81249d4253dea25e18f.jpg" width="299" height="300"></figure>
                            <div class="name_product">
                                <h5>EGO WEAR</h5>
                                <h4>shiihuang frequency set</h4>
                                <div class="gia">
                                    399.000.000đ
                                </div>
                                <div class="gia2">
                                    460.000.000đ
                                </div>
                            </div>
                            <button class="heat">
                                <i class="far fa-heart"></i>
                            </button>
                            <button class="buy">
                                <i class="fas fa-shopping-basket"> +1</i>
                            </button>
                            <button class="buy_now">
                                <i class="fas fa-shopping-basket"> Buy Now</i>
                            </button>
                        </div></a>
                </div>
                <div class="box_column">
                    <a href="#"><div class="image_box">
                            <figure><img src="https://dogonguyenvinh.vn/wp-content/uploads/2021/03/15.jpg" width="299" height="300"></figure>
                            <div class="name_product">
                                <h5>EGO WEAR</h5>
                                <h4>nghe dinh ebony</h4>
                                <div class="gia">
                                    399.000.000đ
                                </div>
                                <div class="gia2">
                                    460.000.000đ
                                </div>
                            </div>
                            <button class="heat">
                                <i class="far fa-heart"></i>
                            </button>
                            <button class="buy">
                                <i class="fas fa-shopping-basket"> +1</i>
                            </button>
                            <button class="buy_now">
                                <i class="fas fa-shopping-basket"> Buy Now</i>
                            </button>
                        </div></a>
                </div>
                <div class="box_column">
                    <a href="#"><div class="image_box">
                            <figure><img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcRS7wyNzQpplyvPs6D943hHWrdw4SQTFjWe0dhXSFxzkFI6Ij8j3XT4eWRRREZEeacx501u0O0iHFTj9CdjWVg10YRPlaVnKt7F4_basUXK&usqp=CAE" width="299" height="300"></figure>
                            <div class="name_product">
                                <h5>EGO WEAR</h5>
                                <h4>Royal Set of Red Nacre</h4>
                                <div class="gia">
                                    399.000.000đ
                                </div>
                                <div class="gia2">
                                    460.000.000đ
                                </div>
                            </div>
                            <button class="heat">
                                <i class="far fa-heart"></i>
                            </button>
                            <button class="buy">
                                <i class="fas fa-shopping-basket"> +1</i>
                            </button>
                            <button class="buy_now">
                                <i class="fas fa-shopping-basket"> Buy Now</i>
                            </button>
                        </div></a>
                </div>
                <div class="box_column">
                    <a href="#"><div class="image_box">
                            <figure><img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcQ-ZMIsI3sDW2A_F3RR4DTdv8PimQlAGzzpa0Eo_3TLeudhzhIP3r7Az9aBYGTmN7wHl-Q6dxFF_xTdOi7ZwbPfbg992xmzehlb3bgb37-9&usqp=CAE" width="299" height="300"></figure>
                            <div class="name_product">
                                <h5>EGO WEAR</h5>
                                <h4>Minh Quoc digs Melaleuca wood</h4>
                                <div class="gia">
                                    399.000.000đ
                                </div>
                                <div class="gia2">
                                    460.000.000đ
                                </div>
                            </div>
                            <button class="heat">
                                <i class="far fa-heart"></i>
                            </button>
                            <button class="buy">
                                <i class="fas fa-shopping-basket"> +1</i>
                            </button>
                            <button class="buy_now">
                                <i class="fas fa-shopping-basket"> Buy Now</i>
                            </button>
                        </div></a>
                </div>
                <div class="box_column">
                    <a href="#"><div class="image_box">
                            <figure><img src="https://vn-live-05.slatic.net/p/3d361c929b866ada6389d4862a775c3d.jpg_2200x2200q80.jpg_.webp" width="299" height="300"></figure>
                            <div class="name_product">
                                <h5>EGO WEAR</h5>
                                <h4>Column 14 Elephant Hands</h4>
                                <div class="gia">
                                    399.000.000đ
                                </div>
                                <div class="gia2">
                                    460.000.000đ
                                </div>
                            </div>
                            <button class="heat">
                                <i class="far fa-heart"></i>
                            </button>
                            <button class="buy">
                                <i class="fas fa-shopping-basket"> +1</i>
                            </button>
                            <button class="buy_now">
                                <i class="fas fa-shopping-basket"> Buy Now</i>
                            </button>
                        </div></a>
                </div>
                <div class="box_column">
                    <a href="#"><div class="image_box">
                            <figure><img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcQ3VGmYLnRoxdz-lwvIxcvcALYCLduCmhtWZdxT3hOwdyFAkRPBULVzlFPvQao28D1_6yyJNf0FwYNR8OidP6Mqra3iLnuULkqWqUUgbM8&usqp=CAE" width="299" height="300"></figure>
                            <div class="name_product">
                                <h5>EGO WEAR</h5>
                                <h4>watercolor painting set</h4>
                                <div class="gia">
                                    399.000.000đ
                                </div>
                                <div class="gia2">
                                    460.000.000đ
                                </div>
                            </div>
                            <button class="heat">
                                <i class="far fa-heart"></i>
                            </button>
                            <button class="buy">
                                <i class="fas fa-shopping-basket"> +1</i>
                            </button>
                            <button class="buy_now">
                                <i class="fas fa-shopping-basket"> Buy Now</i>
                            </button>
                        </div></a>
                </div>
                <div class="box_column">
                    <a href="#"><div class="image_box">
                            <figure><img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcRLk2jWNEsVWnEQH37SXqXgPDPbR1yE9CgEu0sRqom072rUgzGV47Ih7cRTGJzr7wJP9yUY4jXoY3wM8AlUkUgKu5u6kO4Xj9GOjepIMfA&usqp=CAE" width="299" height="300"></figure>
                            <div class="name_product">
                                <h5>EGO WEAR</h5>
                                <h4>black ebony royal set</h4>
                                <div class="gia">
                                    399.000.000đ
                                </div>
                                <div class="gia2">
                                    460.000.000đ
                                </div>
                            </div>
                            <button class="heat">
                                <i class="far fa-heart"></i>
                            </button>
                            <button class="buy">
                                <i class="fas fa-shopping-basket"> +1</i>
                            </button>
                            <button class="buy_now">
                                <i class="fas fa-shopping-basket"> Buy Now</i>
                            </button>
                        </div></a>
                </div>
                <div class="box_column">
                    <a href="#"><div class="image_box">
                            <figure><img src="https://dogotunhiengiare.com/upload/product/bo-tua-ngang-go-soi-6-mon-sp383.jpg" width="299" height="300"></figure>
                            <div class="name_product">
                                <h5>EGO WEAR</h5>
                                <h4>simple mini set</h4>
                                <div class="gia">
                                    399.000.000đ
                                </div>
                                <div class="gia2">
                                    460.000.000đ
                                </div>
                            </div>
                            <button class="heat">
                                <i class="far fa-heart"></i>
                            </button>
                            <button class="buy">
                                <i class="fas fa-shopping-basket"> +1</i>
                            </button>
                            <button class="buy_now">
                                <i class="fas fa-shopping-basket"> Buy Now</i>
                            </button>
                        </div></a>
                </div>
                <div class="box_column">
                    <a href="#"><div class="image_box">
                            <figure><img src="https://tongkhodogo.com/wp-content/uploads/2021/04/z2482356436873_1eb0de7e0eab7c1681a14afb323e6337.jpg" width="299" height="300"></figure>
                            <div class="name_product">
                                <h5>EGO WEAR</h5>
                                <h4>Chapter about the elephant</h4>
                                <div class="gia">
                                    399.000.000đ
                                </div>
                                <div class="gia2">
                                    460.000.000đ
                                </div>
                            </div>
                            <button class="heat">
                                <i class="far fa-heart"></i>
                            </button>
                            <button class="buy">
                                <i class="fas fa-shopping-basket"> +1</i>
                            </button>
                            <button class="buy_now">
                                <i class="fas fa-shopping-basket"> Buy Now</i>
                            </button>
                        </div></a>
                </div>
                <div class="box_column">
                    <a href="#"><div class="image_box">
                            <figure><img src="https://xuonggoanlac.com/wp-content/uploads/2021/03/ban-an-tron-8-ghe-gia-nguyen-khoi-565x424.jpg" width="299" height="300"></figure>
                            <div class="name_product">
                                <h5>EGO WEAR</h5>
                                <h4>red rosewood round set</h4>
                                <div class="gia">
                                    399.000.000đ
                                </div>
                                <div class="gia2">
                                    460.000.000đ
                                </div>
                            </div>
                            <button class="heat">
                                <i class="far fa-heart"></i>
                            </button>
                            <button class="buy">
                                <i class="fas fa-shopping-basket"> +1</i>
                            </button>
                            <button class="buy_now">
                                <i class="fas fa-shopping-basket"> Buy Now</i>
                            </button>
                        </div></a>
                </div>
                <div class="box_column">
                    <a href="#"><div class="image_box">
                            <figure><img src="https://xuonggoanlac.com/wp-content/uploads/2021/03/ban-an-k3-huong-xam-2-1-565x753.jpg" width="299" height="300"></figure>
                            <div class="name_product">
                                <h5>EGO WEAR</h5>
                                <h4>Canned gray k3 dining set</h4>
                                <div class="gia">
                                    399.000.000đ
                                </div>
                                <div class="gia2">
                                    460.000.000đ
                                </div>
                            </div>
                            <button class="heat">
                                <i class="far fa-heart"></i>
                            </button>
                            <button class="buy">
                                <i class="fas fa-shopping-basket"> +1</i>
                            </button>
                            <button class="buy_now">
                                <i class="fas fa-shopping-basket"> Buy Now</i>
                            </button>
                        </div></a>
                </div>
                <div class="box_column">
                    <a href="#"><div class="image_box">
                            <figure><img src="https://tongkhodogo.com/wp-content/uploads/2021/05/bo-tan-go-mun-duoi-cong-1.jpg" width="299" height="300"></figure>
                            <div class="name_product">
                                <h5>EGO WEAR</h5>
                                <h4>Qin Shi Huang peacock tail</h4>
                                <div class="gia">
                                    399.000.000đ
                                </div>
                                <div class="gia2">
                                    460.000.000đ
                                </div>
                            </div>
                            <button class="heat">
                                <i class="far fa-heart"></i>
                            </button>
                            <button class="buy">
                                <i class="fas fa-shopping-basket"> +1</i>
                            </button>
                            <button class="buy_now">
                                <i class="fas fa-shopping-basket"> Buy Now</i>
                            </button>
                        </div></a>
                </div>
                <div class="box_column">
                    <a href="#"><div class="image_box">
                            <figure><img src="https://tongkhodogo.com/wp-content/uploads/2021/05/au-a-van-tran-sieu-dep-4-768x537.jpg" width="299" height="300"></figure>
                            <div class="name_product">
                                <h5>EGO WEAR</h5>
                                <h4>set Confucius</h4>
                                <div class="gia">
                                    399.000.000đ
                                </div>
                                <div class="gia2">
                                    460.000.000đ
                                </div>
                            </div>
                            <button class="heat">
                                <i class="far fa-heart"></i>
                            </button>
                            <button class="buy">
                                <i class="fas fa-shopping-basket"> +1</i>
                            </button>
                            <button class="buy_now">
                                <i class="fas fa-shopping-basket"> Buy Now</i>
                            </button>
                        </div></a>
                </div>

                <div class="box_column">
                    <a href="#"><div class="image_box">
                            <figure><img src="https://dogonguyenvinh.vn/wp-content/uploads/2020/11/z2177786331770_0cf457d5a6b3ad60fa2b758509eaef4a.jpg" width="299" height="300"></figure>
                            <div class="name_product">
                                <h5>EGO WEAR</h5>
                                <h4>Red Wood Beak Hook</h4>
                                <div class="gia">
                                    399.000.000đ
                                </div>
                                <div class="gia2">
                                    460.000.000đ
                                </div>
                            </div>
                            <button class="heat">
                                <i class="far fa-heart"></i>
                            </button>
                            <button class="buy">
                                <i class="fas fa-shopping-basket"> +1</i>
                            </button>
                            <button class="buy_now">
                                <i class="fas fa-shopping-basket"> Buy Now</i>
                            </button>
                        </div></a>
                </div>
                <div class="box_column">
                    <a href="#"><div class="image_box">
                            <figure><img src="https://dogonguyenvinh.vn/wp-content/uploads/2020/11/z2177787117716_1c92c8d8b199679626f14c9b1eb5c53e.jpg" width="299" height="300"></figure>
                            <div class="name_product">
                                <h5>EGO WEAR</h5>
                                <h4>Perfume Wood Beak Hook</h4>
                                <div class="gia">
                                    399.000.000đ
                                </div>
                                <div class="gia2">
                                    460.000.000đ
                                </div>
                            </div>
                            <button class="heat">
                                <i class="far fa-heart"></i>
                            </button>
                            <button class="buy">
                                <i class="fas fa-shopping-basket"> +1</i>
                            </button>
                            <button class="buy_now">
                                <i class="fas fa-shopping-basket"> Buy Now</i>
                            </button>
                        </div></a>
                </div>

                <div class="box_column">
                    <a href="#"><div class="image_box">
                            <figure><img src="https://dogonguyenvinh.vn/wp-content/uploads/2017/09/bo-ban-ghe-go-mun-hoa1.jpg" width="299" height="300"></figure>
                            <div class="name_product">
                                <h5>EGO WEAR</h5>
                                <h4>Minh Nghe Ebony Flower Set</h4>
                                <div class="gia">
                                    399.000.000đ
                                </div>
                                <div class="gia2">
                                    460.000.000đ
                                </div>
                            </div>
                            <button class="heat">
                                <i class="far fa-heart"></i>
                            </button>
                            <button class="buy">
                                <i class="fas fa-shopping-basket"> +1</i>
                            </button>
                            <button class="buy_now">
                                <i class="fas fa-shopping-basket"> Buy Now</i>
                            </button>
                        </div></a>
                </div>

                <div class="box_column">
                    <a href="#"><div class="image_box">
                            <figure><img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQPw9C4Csnp-uD0hRJIg8VFRf1zfFji6S2ffsoXCe451d_sq96egf-ubL58x4YKP-Cs2TxsYqGCPEKFYNmay0QfkGrw5IhtUiDJwoAz1FK-&usqp=CAE" width="299" height="300"></figure>
                            <div class="name_product">
                                <h5>EGO WEAR</h5>
                                <h4>High quality table and chairs set</h4>
                                <div class="gia">
                                    399.000.000đ
                                </div>
                                <div class="gia2">
                                    460.000.000đ
                                </div>
                            </div>
                            <button class="heat">
                                <i class="far fa-heart"></i>
                            </button>
                            <button class="buy">
                                <i class="fas fa-shopping-basket"> +1</i>
                            </button>
                            <button class="buy_now">
                                <i class="fas fa-shopping-basket"> Buy Now</i>
                            </button>
                        </div></a>
                </div>

                <div class="box_column">
                    <a href="#"><div class="image_box">
                            <figure><img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcQdnMGoCb0x3w9P-J0eikeN7PSyoug6enAQnMCpw7kHVnk7AuKTHraXCeMVZaGp47_sQr3Dvj7T309GeGNxaW8tVnVazUH3hktAr2D8Bftn&usqp=CAE"></figure>
                            <div class="name_product">
                                <h5>EGO WEAR</h5>
                                <h4>high quality real wood classic sofa sett</h4>
                                <div class="gia">
                                    399.000.000đ
                                </div>
                                <div class="gia2">
                                    460.000.000đ
                                </div>
                            </div>
                            <button class="heat">
                                <i class="far fa-heart"></i>
                            </button>
                            <button class="buy">
                                <i class="fas fa-shopping-basket"> +1</i>
                            </button>
                            <button class="buy_now">
                                <i class="fas fa-shopping-basket"> Buy Now</i>
                            </button>
                        </div></a>
                </div>
            </div>
            <!--het content   -->
        </div>
    </div>
</div>
<!--<div class="button_pade">-->
<!--    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">-->
<!--        <div class="btn-group me-2" role="group" aria-label="First group">-->
<!--            <button type="button" style="background-color:#57371f ;" class="btn btn"><a style=" color: #eead5a;" href="#">1</a></button>-->
<!--            <button type="button" style="background-color:#57371f ;" class="btn btn"><a style=" color: #eead5a;" href="#">2</a></button>-->
<!--            <button type="button" style="background-color:#57371f ;" class="btn btn"><a style=" color: #eead5a;" href="#">3</a></button>-->
<!--            <button type="button" style="background-color:#57371f ;" class="btn btn"><a style=" color: #eead5a;" href="#">4</a></button>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div class="footer">
    <%- include("footer")%>
</div>
</body>
</html>