<!DOCTYPE html>
<html lang="en">
<%- include("head")%>
<body>
<!-------------HEADER-------------->
<%- include("header")%>

<%- include("nav")%>

<div class="slider_header">
    <div style="" class="tittle_slider">
        <h1 style="">Bring the warmth and ambience of real timber to any space!</h1>
    </div>
</div>

<div class="main">
    <div class="product_new">
        <div class="container">
            <h2 class="font_product">
                NEW PRODUCTS
            </h2>
            <div style=" background-color: #f8f2e8;" class="shop_box">
                <a href="/chi-tiet-sp?id=1"><div class="image_box">
                        <figure><img src="https://noithathoaphat.info.vn/wp-content/uploads/2017/06/mau-ban-ghe-go-cao-cap-02.jpg" width="299" height="300"></figure>
                        <div class="name_product">
                            <h5>EGO WEAR</h5>
                            <h4>Dragon Sculpture Set</h4>
                            <div class="gia">
                                399.000.000đ
                            </div>
                            <div class="gia2">
                                460.000.000đ
                            </div>
                        </div>
                        <button class="heat">
                            <i style="margin-left: -2px" class="far fa-heart"></i>
                        </button>
                        <button class="buy">
                            <i style="margin-left: -5px;position: relative;left: 3px" class="fas fa-shopping-basket"> +1</i>
                        </button>

                        <button class="buy_now">
                            <i style="margin-left: -45px"  class="fas fa-shopping-basket"></i>
                            <p style="margin-left: 25px;margin-top: -19px;font-weight: 900">Buy Now</p>
                        </button>
                    </div></a>
                <a href="/chi-tiet-sp?id=9"><div class="image_box">
                        <figure><img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcRLk2jWNEsVWnEQH37SXqXgPDPbR1yE9CgEu0sRqom072rUgzGV47Ih7cRTGJzr7wJP9yUY4jXoY3wM8AlUkUgKu5u6kO4Xj9GOjepIMfA&usqp=CAE" width="299" height="300"></figure>
                        <div class="name_product">
                            <h5>EGO WEAR</h5>
                            <h4>Black Ebony Royal Set</h4>
                            <div class="gia">
                                399.000.000đ
                            </div>
                            <div class="gia2">
                                460.000.000đ
                            </div>
                        </div>
                        <button class="heat">
                            <i style="margin-left: -2px" class="far fa-heart"></i>
                        </button>
                        <button class="buy">
                            <i style="margin-left: -5px;position: relative;left: 3px" class="fas fa-shopping-basket"> +1</i>
                        </button>
                        <button class="buy_now">
                            <i style="margin-left: -45px"  class="fas fa-shopping-basket"></i>
                            <p style="margin-left: 25px;margin-top: -19px;font-weight: 900">Buy Now</p>
                        </button>
                    </div></a>
                <a href="/chi-tiet-sp?id=10"><div class="image_box">
                        <figure><img src="https://dogotunhiengiare.com/upload/product/bo-tua-ngang-go-soi-6-mon-sp383.jpg" width="299" height="300"></figure>
                        <div class="name_product">
                            <h5>EGO WEAR</h5>
                            <h4>Simple Mini Set</h4>
                            <div class="gia">
                                399.000.000đ
                            </div>
                            <div class="gia2">
                                460.000.000đ
                            </div>
                        </div>
                        <button class="heat">
                            <i style="margin-left: -2px" class="far fa-heart"></i>
                        </button>
                        <button class="buy">
                            <i style="margin-left: -5px;position: relative;left: 3px" class="fas fa-shopping-basket"> +1</i>
                        </button>
                        <button class="buy_now">
                            <i style="margin-left: -45px"  class="fas fa-shopping-basket"></i>
                            <p style="margin-left: 25px;margin-top: -19px;font-weight: 900">Buy Now</p>
                        </button>
                    </div></a>
                <a href="/chi-tiet-sp?id=17"><div class="image_box">
                        <figure><img src="https://dogonguyenvinh.vn/wp-content/uploads/2020/11/z2177787117716_1c92c8d8b199679626f14c9b1eb5c53e.jpg" width="299" height="300"></figure>
                        <div class="name_product">
                            <h5>EGO WEAR</h5>
                            <h4>Perfume Wood Beak Hook</h4>
                            <div class="gia">
                                399.000.000đ
                            </div>
                            <div class="gia2">
                                460.000.000đ
                            </div>
                        </div>
                        <button class="heat">
                            <i style="margin-left: -2px" class="far fa-heart"></i>
                        </button>
                        <button class="buy">
                            <i style="margin-left: -5px;position: relative;left: 3px" class="fas fa-shopping-basket"> +1</i>
                        </button>
                        <button class="buy_now">
                            <i style="margin-left: -45px"  class="fas fa-shopping-basket"></i>
                            <p style="margin-left: 25px;margin-top: -19px;font-weight: 900">Buy Now</p>
                        </button>
                    </div></a>
                <div class="chan">
                    <a href="/chi-tiet-sp?id=29"><div class="image_box">
                            <figure> <img src="https://sc02.alicdn.com/kf/HTB17fQOKamWBuNjy1Xaq6xCbXXar.jpg" width="299" height="300"></figure>
                            <div class="name_product">
                                <h5>EGO WEAR</h5>
                                <h4>Classic Royal Bed</h4>
                                <div class="gia">
                                    399.000.000đ
                                </div>
                                <div class="gia2">
                                    460.000.000đ
                                </div>
                            </div>
                            <button class="heat">
                                <i style="margin-left: -2px" class="far fa-heart"></i>
                            </button>
                            <button class="buy">
                                <i style="margin-left: -5px;position: relative;left: 3px" class="fas fa-shopping-basket"> +1</i>
                            </button>
                            <button class="buy_now">
                                <i style="margin-left: -45px"  class="fas fa-shopping-basket"></i>
                                <p style="margin-left: 25px;margin-top: -19px;font-weight: 900">Buy Now</p>
                            </button>
                        </div></a>
                    <a href="/chi-tiet-sp?id=27"><div class="image_box">
                            <figure><img src="https://noithatdogoviet.com/upload/sanpham/giuong-ngu-co-dien-go-go-do-cham-khac-doi-chim-cong.jpg" width="299" height="300"></figure>
                            <div class="name_product">
                                <h5>EGO WEAR</h5>
                                <h4>Modern Bed Model</h4>
                                <div class="gia">
                                    399.000.000đ
                                </div>
                                <div class="gia2">
                                    460.000.000đ
                                </div>
                            </div>
                            <button class="heat">
                                <i style="margin-left: -2px" class="far fa-heart"></i>
                            </button>
                            <button class="buy">
                                <i style="margin-left: -5px;position: relative;left: 3px" class="fas fa-shopping-basket"> +1</i>
                            </button>
                            <button class="buy_now">
                                <i style="margin-left: -45px"  class="fas fa-shopping-basket"></i>
                                <p style="margin-left: 25px;margin-top: -19px;font-weight: 900">Buy Now</p>
                            </button>
                        </div></a>
                    <a href="/chi-tiet-sp?id=30"><div class="image_box">
                            <figure><img src="https://cdn.muabannhanh.com/asset/frontend/img/gallery/2020/06/13/5ee43960885b3_1592015200.jpg" width="299" height="300"></figure>
                            <div class="name_product">
                                <h5>EGO WEAR</h5>
                                <h4>Peacock Tail Bed</h4>
                                <div class="gia">
                                    399.000.000đ
                                </div>
                                <div class="gia2">
                                    460.000.000đ
                                </div>
                            </div>
                            <button class="heat">
                                <i style="margin-left: -2px" class="far fa-heart"></i>
                            </button>
                            <button class="buy">
                                <i style="margin-left: -5px;position: relative;left: 3px" class="fas fa-shopping-basket"> +1</i>
                            </button>
                            <button class="buy_now">
                                <i style="margin-left: -45px"  class="fas fa-shopping-basket"></i>
                                <p style="margin-left: 25px;margin-top: -19px;font-weight: 900">Buy Now</p>
                            </button>
                        </div></a>
                    <a href="/chi-tiet-sp?id=22"><div class="image_box">
                            <figure><img src="https://dogophuongmien.vn/wp-content/uploads/2021/05/giuong-voi-go-g%E1%BB%A5-dep-600x600.jpg" width="299" height="300"></figure>
                            <div class="name_product">
                                <h5>EGO WEAR</h5>
                                <h4>Wooden Elephant Triple Bed</h4>
                                <div class="gia">
                                    399.000.000đ
                                </div>
                                <div class="gia2">
                                    460.000.000đ
                                </div>
                            </div>
                            <button class="heat">
                                <i style="margin-left: -2px" class="far fa-heart"></i>
                            </button>
                            <button class="buy">
                                <i style="margin-left: -5px;position: relative;left: 3px" class="fas fa-shopping-basket"> +1</i>
                            </button>
                            <button class="buy_now">
                                <i style="margin-left: -45px"  class="fas fa-shopping-basket"></i>
                                <p style="margin-left: 25px;margin-top: -19px;font-weight: 900">Buy Now</p>
                            </button>
                        </div></a>
                </div>
            </div>
            <a href="#"><div class="more1">
                    <h5>SHOP ALL</h5>
                </div></a>
<!--            <div class="shop_new">-->
<!--                <div class="box_new1">-->
<!--                    <div class="new_image"><a style="text-decoration: none" href="#">-->
<!--                            <img src="https://tamthuan.com/wp-content/uploads/2017/12/tuong-phat-nam-1.jpg">-->
<!--                            <h3>Gifts of Identity, Gifts From Vietnamese Hands</h3>-->
<!--                            <span class="click" style="margin-top:-50px; margin-left: 200px ">-->
<!--                        <p>Click Here</p>-->
<!--                    </span>-->
<!--                            <div class="phu_de"></div>-->
<!--                        </a></div>-->
<!--                </div>-->
<!--                <div class="box_new2">-->
<!--                    <div class="new_image2"><a style="text-decoration: none" href="#">-->
<!--                            <img src="https://scontent.fhan2-3.fna.fbcdn.net/v/t1.6435-9/240172316_3059907620998049_1136996010657939338_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=730e14&_nc_ohc=zW1UY9utnwwAX-yLNNs&_nc_ht=scontent.fhan2-3.fna&oh=386ef60f8c5d210d59372cfcefb69b10&oe=6156B197">-->
<!--                            <h3>New Home Gifts</h3>-->
<!--                            <span class="click" style="margin-top: 65px">-->
<!--                        <p>Click Here</p>-->
<!--                    </span>-->
<!--                            <div class="phu_de2"></div>-->
<!--                        </a></div>-->
<!--                </div>-->
<!--                <div class="box_new3">-->
<!--                    <div class="new_image3"><a style="text-decoration: none" href="#">-->
<!--                            <img src="https://vcdn-ngoisao.vnecdn.net/2021/01/13/image006-1402-1610527001.jpg">-->
<!--                            <h3>Wooden Statue of Dat Ma</h3>-->
<!--                            <span class="click">-->
<!--                        <p>Click Here</p>-->
<!--                    </span>-->
<!--                            <div class="phu_de3"></div>-->
<!--                        </a></div>-->
<!--                </div>-->
<!--                <div class="box_new4">-->
<!--                    <div class="new_image4"><a style="text-decoration: none" href="#">-->
<!--                            <img src="https://media.istockphoto.com/vectors/sale-banner-template-design-vector-id945107144">-->
<!--                            <h3>New Home Gifts</h3>-->
<!--                            <span class="click" style="margin-left: 120px;margin-top: 60px" >-->
<!--                        <p>Click Here</p>-->
<!--                    </span>-->
<!--                            <div class="phu_de4"></div>-->
<!--                        </a></div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>

    <div  class="giaohang">
        <div style="display: flex" class="mau">
            <div style="width: 350px;height: 300px;margin-left: 120px" class="giaohangfree">
                <i style="font-size: 70px;margin-top: 100px;color: white;margin-left: 130px" class="fas fa-shuttle-van"></i>
                <h3 style="text-align: center;color: white ">DELIVERY IN CHARGE ONLY</h3>
                <p style="text-align: center;color: white ">Applied in the city for orders from 200,000 VND & under 2kg. Super convenient: Shipping network covers 63 provinces and cities with a closed and fully automated order processing process.</p>

            </div>
            <div style="width: 350px;height: 300px;margin-left: 100px" class="quatang">
                <i style="font-size: 70px;margin-top: 100px;color: white;margin-left: 140px" class="fas fa-gift"></i>
                <h3 style="text-align: center;color: white ">SPECIAL GIFT</h3>
                <p style="text-align: center;color: white ">Applied in the city for orders from 200,000 VND & under 2kg. Super convenient: Shipping network covers 63 provinces and cities with a closed and fully automated order processing.</p>

            </div>
            <div style="width: 350px;height: 300px;margin-left: 100px" class="tietkiem">
                <i style="font-size: 70px;margin-top: 100px;color: white;margin-left: 130px" class="fas fa-piggy-bank"></i>
                <h3 style="text-align: center;color: white ">SAVE WHEN BUYING</h3>
                <p style="text-align: center;color: white ">Super low price, affordable. More attractive, Supermarket always has many promotions, free shipping, accumulated points, customer gratitude ... for you to enjoy shopping and still love your pocket!</p>

            </div>
        </div>

    </div>




    <div class="sale">
        <div class="container">
            <div class="title">
                <h2>SAME PRICE SALE</h2>
            </div>
<!--            <div id="countdown">-->
<!--                <h3 class="end"></h3>-->
<!--                <div id='tiles'></div>-->
<!--                <div class="labels">-->
<!--                </div>-->
<!--            </div>-->


            <div id="clockdiv">
                <div>
                    <span class="days"></span>
                </div>
                <div>
                    <span class="hours"></span>
                </div>
                <div>
                    <span class="minutes"></span>
                </div>
                <div>
                    <span class="seconds"></span>
                </div>
            </div>






            <div class="giamgia">
                <a href="/chi-tiet-sp?id=31"><div class="image_box">
                        <figure><img src="https://noithatdogoviet.com/upload/sanpham/thumbs/dong-ho-dung-cham-hoa-hong-go-mun-duoi-cong-dep-gia-re.jpg" width="299" height="300"></figure>
                        <div class="name_product">
                            <h5>EGO WEAR</h5>
                            <h4>Rose Sculpture Clock</h4>
                            <div class="gia">
                                399.000.000đ
                            </div>
                            <div class="gia2">
                                460.000.000đ
                            </div>
                        </div>
                        <button class="heat">
                            <i style="margin-left: -2px" class="far fa-heart"></i>
                        </button>
                        <button class="buy">
                            <i style="margin-left: -5px;position: relative;left: 3px" class="fas fa-shopping-basket"> +1</i>
                        </button>
                        <button class="buy_now">
                            <i style="margin-left: -45px"  class="fas fa-shopping-basket"></i>
                            <p style="margin-left: 25px;margin-top: -19px;font-weight: 900">Buy Now</p>
                        </button>
                    </div></a>
                <a href="/chi-tiet-sp?id=34"><div class="image_box">
                        <figure><img src="https://noithatdogoviet.com/upload/sanpham/thumbs/dong-ho-go-dung-qua-lac-hinh-thap-go-huong-dep.jpg" width="299" height="300"></figure>
                        <div class="name_product">
                            <h5>EGO WEAR</h5>
                            <h4>Ebony Pendulum Stand Clock</h4>
                            <div class="gia">
                                399.000.000đ
                            </div>
                            <div class="gia2">
                                460.000.000đ
                            </div>
                        </div>
                        <button class="heat">
                            <i style="margin-left: -2px" class="far fa-heart"></i>
                        </button>
                        <button class="buy">
                            <i style="margin-left: -5px;position: relative;left: 3px" class="fas fa-shopping-basket"> +1</i>
                        </button>
                        <button class="buy_now">
                            <i style="margin-left: -45px"  class="fas fa-shopping-basket"></i>
                            <p style="margin-left: 25px;margin-top: -19px;font-weight: 900">Buy Now</p>
                        </button>
                    </div></a>
                <a href="/chi-tiet-sp?id=40"><div class="image_box">
                        <figure><img src="https://noithatdogoviet.com/upload/sanpham/thumbs/dong-ho-qua-lac-dung-go-huong-da-cao-cap-dep-gia-tot.jpg" width="299" height="300"></figure>
                        <div class="name_product">
                            <h5>EGO WEAR</h5>
                            <h4>High Quality Stone Incense Wood</h4>
                            <div class="gia">
                                399.000.000đ
                            </div>
                            <div class="gia2">
                                460.000.000đ
                            </div>
                        </div>
                        <button class="heat">
                            <i style="margin-left: -2px" class="far fa-heart"></i>
                        </button>
                        <button class="buy">
                            <i style="margin-left: -5px;position: relative;left: 3px" class="fas fa-shopping-basket"> +1</i>
                        </button>
                        <button class="buy_now">
                            <i style="margin-left: -45px"  class="fas fa-shopping-basket"></i>
                            <p style="margin-left: 25px;margin-top: -19px;font-weight: 900">Buy Now</p>
                        </button>
                    </div></a>
                <a href="/chi-tiet-sp?id=35"><div class="image_box">
                        <figure><img src="https://noithatdogoviet.com/upload/sanpham/thumbs/dong-ho-dung-cham-hoa-tay-go-mun-duoi-cong-dep-gia-re.jpg" width="299" height="300"></figure>
                        <div class="name_product">
                            <h5>EGO WEAR</h5>
                            <h4>Peacock Tail Ebony Flower</h4>
                            <div class="gia">
                                399.000.000đ
                            </div>
                            <div class="gia2">
                                460.000.000đ
                            </div>
                        </div>
                        <button class="heat">
                            <i style="margin-left: -2px" class="far fa-heart"></i>
                        </button>
                        <button class="buy">
                            <i style="margin-left: -5px;position: relative;left: 3px" class="fas fa-shopping-basket"> +1</i>
                        </button>
                        <button class="buy_now">
                            <i style="margin-left: -45px"  class="fas fa-shopping-basket"></i>
                            <p style="margin-left: 25px;margin-top: -19px;font-weight: 900">Buy Now</p>
                        </button>
                    </div></a>

                <a href="#"><div class="more">
                        <h5>SHOP ALL</h5>
                    </div></a>
            </div>
        </div>
    </div>
<!--    <div class="covid">-->
<!--        <marquee>-->
<!--            <p>DISCOUNT during the pandemic season, strong discounts on all products.  NOTICE: Covid-19 Ego Translation Love, only accepting online orders, not coming to the store from 7/8.  HOT: 50% off all orders from 2 million, free shipping quality</p>-->
<!--        </marquee>-->
<!--    </div>-->
    <div class="max">
        <div class="video3">

        </div>
        <div class="top_pr">
            <div class="title_top">
                <h3>TOP HOT SELLING PRODUCTS</h3>
            </div>
            <div class="top_product">
                <div class="pr">
                    <a href="/chi-tiet-sp?id=184"><div class="image_box">
                            <figure><img src="https://www.danonnuocdanang.com/public/images/tin_dang/ky-lan-da-trang-trong-xanh-125-9.jpg" width="299" height="300"></figure>
                            <div class="name_product">
                                <h5>EGO WEAR</h5>
                                <h4>Stone Lion Statue</h4>
                                <div class="gia">
                                    399.000.000đ
                                </div>
                                <div class="gia2">
                                    460.000.000đ
                                </div>
                            </div>
                            <button class="heat">
                                <i style="margin-left: -2px" class="far fa-heart"></i>
                            </button>
                            <button class="buy">
                                <i style="margin-left: -5px;position: relative;left: 3px" class="fas fa-shopping-basket"> +1</i>
                            </button>
                            <button class="buy_now">
                                <i style="margin-left: -45px"  class="fas fa-shopping-basket"></i>
                                <p style="margin-left: 25px;margin-top: -19px;font-weight: 900">Buy Now</p>
                            </button>
                        </div></a>
                    <a href="/chi-tiet-sp?id=181"><div class="image_box">
                            <figure><img src="https://ninhbinhstone.com.vn/wp-content/uploads/2021/03/tuong-phat-da-ngoai-troi-nghe-thuat.jpg" width="299" height="300"></figure>
                            <div class="name_product">
                                <h5>EGO WEAR</h5>
                                <h4>White Stone Buddha Statue</h4>
                                <div class="gia">
                                    399.000.000đ
                                </div>
                                <div class="gia2">
                                    460.000.000đ
                                </div>
                            </div>
                            <button class="heat">
                                <i style="margin-left: -2px" class="far fa-heart"></i>
                            </button>
                            <button class="buy">
                                <i style="margin-left: -5px;position: relative;left: 3px" class="fas fa-shopping-basket"> +1</i>
                            </button>
                            <button class="buy_now">
                                <i style="margin-left: -45px"  class="fas fa-shopping-basket"></i>
                                <p style="margin-left: 25px;margin-top: -19px;font-weight: 900">Buy Now</p>
                            </button>
                        </div></a>
                    <a href="/chi-tiet-sp?id=186"><div class="image_box">
                            <figure><img src="http://langdamynghe.com/wp-content/uploads/2017/12/langdamynghe.com-nhung-dieu-can-biet-ve-tuong-voi-da-theo-phong-thuy.jpg" width="299" height="300"></figure>
                            <div class="name_product">
                                <h5>EGO WEAR</h5>
                                <h4>Stone Elephant Statue</h4>
                                <div class="gia">
                                    399.000.000đ
                                </div>
                                <div class="gia2">
                                    460.000.000đ
                                </div>
                            </div>
                            <button class="heat">
                                <i style="margin-left: -2px" class="far fa-heart"></i>
                            </button>
                            <button class="buy">
                                <i style="margin-left: -5px;position: relative;left: 3px" class="fas fa-shopping-basket"> +1</i>
                            </button>
                            <button class="buy_now">
                                <i style="margin-left: -45px"  class="fas fa-shopping-basket"></i>
                                <p style="margin-left: 25px;margin-top: -19px;font-weight: 900">Buy Now</p>
                            </button>
                        </div></a>
                    <a href="/chi-tiet-sp?id=188"><div class="image_box">
                            <figure><img src="http://www.blogphongthuy.com/wp-content/uploads/2014/04/long-quy-m033.jpg" width="299" height="300"></figure>
                            <div class="name_product">
                                <h5>EGO WEAR</h5>
                                <h4>Gem Turtle Statue</h4>
                                <div class="gia">
                                    399.000.000đ
                                </div>
                                <div class="gia2">
                                    460.000.000đ
                                </div>
                            </div>
                            <button class="heat">
                                <i style="margin-left: -2px" class="far fa-heart"></i>
                            </button>
                            <button class="buy">
                                <i style="margin-left: -5px;position: relative;left: 3px" class="fas fa-shopping-basket"> +1</i>
                            </button>
                            <button class="buy_now">
                                <i style="margin-left: -45px"  class="fas fa-shopping-basket"></i>
                                <p style="margin-left: 25px;margin-top: -19px;font-weight: 900">Buy Now</p>
                            </button>
                        </div></a>

                </div>
                <a href="#"><div class="more3">
                        <h5>SHOP ALL</h5>
                    </div></a>
            </div>
        </div>
    </div>




    <!--    <section class="section_hotkey">-->
    <!--        <div class="container">-->
    <!--            <div class=" hot_keywords">-->
    <!--                <h2>HOT KEYWORDS</h2>-->
    <!--                <ul>-->
    <!--                    <li>-->
    <!--                        <a href="#" title="Chân váy">Chân váy</a>-->
    <!--                    </li>-->
    <!--                    <li>-->
    <!--                        <a href="#" title="Áo sơ mi">Áo sơ mi</a>-->
    <!--                    </li>-->
    <!--                    <li>-->
    <!--                        <a href="#" title="Áo đôi">Áo đôi</a>-->
    <!--                    </li>-->
    <!--                    <li>-->
    <!--                        <a href="#" title="Đầm cao cấp">Đầm cao cấp</a>-->
    <!--                    </li>-->
    <!--                    <li>-->
    <!--                        <a href="#" title="Áo vest">Áo vest</a>-->
    <!--                    </li>-->
    <!--                    <li>-->
    <!--                        <a href="#" title="Váy body">Váy body</a>-->
    <!--                    </li>-->
    <!--                    <li>-->
    <!--                        <a href="#" title="phụ kiện mới">phụ kiện mới</a>-->
    <!--                    </li>-->
    <!--                    <li>-->
    <!--                        <a href="#" title="Áo ba lỗ">Áo ba lỗ</a>-->
    <!--                    </li>-->
    <!--                    <li>-->
    <!--                        <a href="#" title="Áo khoác da">Áo khoác da</a>-->
    <!--                    </li>-->
    <!--                    <li>-->
    <!--                        <a href="#" title="Áo chống nắng">Áo chống nắng</a>-->
    <!--                    </li>-->
    <!--                </ul>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </section>-->

<!--    <div class="newhot">-->
<!--        <div class="container">-->
<!--            <div class="tintuc">-->
<!--                <div class="title_new">-->
<!--                    <a href="#"><h3>LATEST NEWS</h3></a>-->
<!--                </div>-->
<!--                <div class="tintuc_box1"><a href="#">-->
<!--                    <span class="tintuc_image">-->
<!--                        <img src="https://vcdn1-dulich.vnecdn.net/2019/07/14/8-1563078544.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=Bl1tPDscA7h1MnqCe727pQ">-->
<!--                    </span>-->
<!--                        <h5>15/08/2021 - by: Ego Creative</h5>-->
<!--                        <h4>Hoi An opens the 3rd handicraft market night</h4>-->
<!--                        <p> The new night market opened on March 8, located on 4 streets of Tran Quy Cap, Bach Dang, Tieu La and Hoang Van Thu. The market is expected to be arranged with nearly 100 lots for 47 business households...</p>-->
<!--                    </a></div>-->
<!--                <div class="tintuc_box2"><a href="#">-->
<!--                    <span class="tintuc_image2">-->
<!--                        <img src="https://www.thuocdantoc.org/wp-content/uploads/2019/12/beo-nhat-ban-3.jpg">-->
<!--                    </span>-->
<!--                        <h5>15/08/2021 - by: Ego Creative</h5>-->
<!--                        <h4>Water hyacinth knitting abroad in Ninh Binh</h4>-->
<!--                        <p>      When the traditional craft of weaving sedge mats for hundreds of years in Kim Son district gradually disappeared, craftsmen found a new direction...</p>-->

<!--                    </a></div>-->
<!--                <div class="tintuc_box3"><a href="#">-->
<!--                    <span class="tintuc_image3">-->
<!--                        <img src="https://file1.dangcongsan.vn/data/0/images/2020/12/15/kimdung/my-nghe.jpg">-->
<!--                    </span>-->
<!--                        <h5>15/08/2021 - by: Ego Creative</h5>-->
<!--                        <h4>Vietnam house - where the fine arts converge</h4>-->
<!--                        <p>50 stalls and 12 miniature production models here represent 12 groups of Vietnamese handicraft villages...</p>-->

<!--                    </a></div>-->
<!--                <div class="tintuc_box4"><a href="#">-->
<!--                    <span class="tintuc_image4">-->
<!--                        <img src="https://i1-giadinh.vnecdn.net/2021/06/14/1-jpg-8661-1623648918.png?w=680&h=0&q=100&dpr=1&fit=crop&s=ZiI74oqp4oSLfMlf0hpfRA">-->
<!--                    </span>-->
<!--                        <h5>15/08/2021 - by: Ego Creative</h5>-->
<!--                        <h4>Thien Phu Stone Wood creates a highlight for living space</h4>-->
<!--                        <p>Whether it is a gem painting or a feng shui wooden statue, Thien Phu Wood's works have their own nuances and aesthetics, contributing to creating accents for the living space...</p>-->

<!--                    </a></div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->


    <div class="online">
        <div class="ship">
            <div class="ship1">
                <div class="ship2"><b>ORDER ONLINE NOW!</b></div>
                <p><b>NO MORE WAIT</b></p>
            </div>
            <div class="order-content clearfix">
                <form accept-charset='UTF-8' action='/luu-khach-hang' class='contact-form' method='post'>
                    <input name='form_type' type='hidden' value='contact'>
                    <input name='utf8' type='hidden' value='✓'>



                    <label for="ContactFormName">Your Full Name</label>
                    <input type="text"  required id="ContactFormName" class="input-full" name="HovaTen" placeholder="Your Full Name" value="">

                    <label for="ContactFormEmail">Your email address</label>
                    <input type="email" required id="ContactFormEmail" class="input-full" name="Email" placeholder="Your email address" value="">


                    <label for="ContactFormPhone">Your Phone Number</label>
                    <input type="tel"  required id="ContactFormPhone" class="input-full" name="SDT" placeholder="Your Phone Mumber" pattern="[0-9\-]*" value="">

                    <label for="ContactFormMessage">Content</label>
                    <textarea rows="5" required id="ContactFormMessage" class="input-full" name="MoTa" placeholder="Content"></textarea>

                    <div class="text-center">
                        <button type="submit" onclick="alert('You Have Successfully Ordered')" class="btnType1" value="Gửi">Order Now</button>
                    </div>
                </form></div>
        </div>
    </div>



<div class="congty">
    <div class="container">
        <div class="title_congty">
            <div class="congtygo">
            <div class="tencongty">
                <h2 style="width: 250px;border-bottom: 5px solid black;height: 50px; color: #eead5a">Venus Handicrafts</h2>
            </div>
            <div style="margin-top: 30px" class="gioithieucongty">
                <p>Quality Creation - With a long-term strategic vision, flexible management motto and grasping the innovative requirements in the period of economic globalization - Mona Media is proud to be one of the pioneering enterprises. contributed significantly to the country's outstanding economic success to become one of the leading brands in Vietnam's plastic manufacturing industry today. It is the guideline for all our activities.</p>
            </div>
            </div>
            <div class="videocongty">
                <iframe width="570" height="300" src="https://www.youtube.com/embed/AoPiLg8DZ3A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>









    <div class="cooperate">
        <div class="container">
            <div class="slider">
                <marquee>
                    <div class="slide">
                        <img src="https://expert-themes.com/html/sawmall/images/clients/2.png" height="80" width="200" alt="" />
                        <img src="https://expert-themes.com/html/sawmall/images/clients/3.png" height="80" width="200" alt="" />
                        <img src="https://expert-themes.com/html/sawmall/images/clients/4.png" height="80" width="200" alt="" />
                        <img src="https://expert-themes.com/html/sawmall/images/clients/5.png" height="80" width="200" alt="" />
                        <img src="https://expert-themes.com/html/sawmall/images/clients/1.png" height="80" width="200" alt="" />
                        <img src="https://expert-themes.com/html/sawmall/images/clients/2.png" height="80" width="200" alt="" />
                        <img src="https://expert-themes.com/html/sawmall/images/clients/3.png" height="80" width="200" alt="" />
                        <img src="https://expert-themes.com/html/sawmall/images/clients/4.png" height="80" width="200" alt="" />
                        <img src="https://expert-themes.com/html/sawmall/images/clients/5.png" height="80" width="200" alt="" />
                        <img src="https://expert-themes.com/html/sawmall/images/clients/1.png" height="80" width="200" alt="" />
                    </div>
                </marquee>
            </div>
        </div>
    </div>
</div>

<%- include("footer")%>

<div class="hotline-phone-ring-wrap">
    <div class="hotline-phone-ring">
        <div class="hotline-phone-ring-circle"></div>
        <div class="hotline-phone-ring-circle-fill"></div>
        <div class="hotline-phone-ring-img-circle">
            <a href="tel:0358054499" class="pps-btn-img">
                <img src="https://nguyenhung.net/wp-content/uploads/2019/05/icon-call-nh.png" alt="Gọi điện thoại" width="50">
            </a>
        </div>
    </div>
    <div class="hotline-bar">
        <a href="tel:0358054499">
            <span class="text-hotline">035.805.4499</span>
        </a>
    </div>
</div>
<ul id="tnContact">

</ul>






<script src="../public/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript">





    function getTimeRemaining(endtime) {
        var t = Date.parse(endtime) - Date.parse(new Date());
        var seconds = Math.floor((t / 1000) % 60);
        var minutes = Math.floor((t / 1000 / 60) % 60);
        var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
        var days = Math.floor(t / (1000 * 60 * 60 * 24));
        return {
            'total': t,
            'days': days,
            'hours': hours,
            'minutes': minutes,
            'seconds': seconds
        };
    }

    function initializeClock(id, endtime) {
        var clock = document.getElementById(id);
        var daysSpan = clock.querySelector('.days');
        var hoursSpan = clock.querySelector('.hours');
        var minutesSpan = clock.querySelector('.minutes');
        var secondsSpan = clock.querySelector('.seconds');

        function updateClock() {
            var t = getTimeRemaining(endtime);

            daysSpan.innerHTML = t.days;
            hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
            minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
            secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

            if (t.total <= 0) {
                clearInterval(timeinterval);
            }
        }

        updateClock();
        var timeinterval = setInterval(updateClock, 1000);
    }

    var deadline = new Date(Date.parse(new Date()) + 15 * 24 * 60 * 60 * 1000);
    initializeClock('clockdiv', deadline);







    var string = '<li> <a target="_blank" href="https://messenger.com/t/thuongdq" class="iconfb"> <i class="fab fa-facebook-f"></i> </a> <span class="label fb">Chat Facebook</span> </li> <li> <a target="_blank" href="https://zalo.me/0388287614" class="iconzalo"> <img src="//bizweb.dktcdn.net/thumb/icon/100/434/926/themes/832778/assets/icon_zalomessage.png?1630049520862" alt="zalo"> </a> <span class="label zalo">Nhắn tin zalo</span> </li> <li> <a href="sms:19006750" class="iconsms"> <i class="fas fa-sms"></i> </a> <span class="label sms">Nhắn tin điện thoại</span> </li> ';
    setTimeout(function(){
        document.getElementById("tnContact").innerHTML = string;
    },3000)



    var target_date = new Date().getTime() + (1000*3600*48); // set the countdown date
    var days, hours, minutes, seconds; // variables for time units

    var countdown = document.getElementById("tiles"); // get tag element

    getCountdown();

    setInterval(function () { getCountdown(); }, 1000);

    function getCountdown(){

        // find the amount of "seconds" between now and target
        var current_date = new Date().getTime();
        var seconds_left = (target_date - current_date) / 1000;

        days = pad( parseInt(seconds_left / 86400) );
        seconds_left = seconds_left % 86400;

        hours = pad( parseInt(seconds_left / 3600) );
        seconds_left = seconds_left % 3600;

        minutes = pad( parseInt(seconds_left / 60) );
        seconds = pad( parseInt( seconds_left % 60 ) );

        // format countdown string + set tag value
        countdown.innerHTML = "<span>" + days + "</span><span>" + hours + "</span><span>" + minutes + "</span><span>" + seconds + "</span>";
    }

    function pad(n) {
        return (n < 10 ? '0' : '') + n;
    }

</script>
</body>
</html>