<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Libary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="css/libary.css">
    <link rel="stylesheet" href="fonts/fontawesome-free-5.15.4/css/all.css">
</head>
<body>
<!-------------HEADER-------------->
<%- include("header")%>

<%- include("nav")%>

<!------------main--------------->
<div class="main">
    <div class="slider_main" style="width: 100% ;height: 400px;background-image: url('http://timbercompany.ancorathemes.com/wp-content/uploads/2016/07/parallax-4.jpg');float: left;margin-top: 30px ">
        <h1 style="text-align: center;line-height: 400px;color: #e9e4d0;font-size: 50px;text-transform: capitalize">Libary</h1>
    </div>
    <div class="container">
        <div class="diachi">
        </div>
        <div class="list">
            <div class="title-list">
                <h2>Product List</h2>
            </div>
            <div class="list-library">
                <div class="danhsach">
                    <ul>
                        <li class="thanh">
                            <a class="title-danhsach" href="#"><p>Bat Trang Ceamics</p></a>
                            <ul class="danhsachcon">
                                <li><a href="#">Dinner table</a></li>
                                <li><a href="#">Teapot</a></li>
                                <li><a href="#">Worship set</a></li>
                                <li><a href="#">Statue</a></li>
                            </ul>
                        </li>
                        <li class="thanh">
                            <a class="title-danhsach" href="#"><p>Lacquer Painting</p></a>
                            <ul class="danhsachcon">
                                <li><a href="#">Picasso paintings</a></li>
                                <li><a href="#">Calligraphy painting</a></li>
                                <li><a href="#">High-class lacquer painting</a></li>
                                <li><a href="#">Vietnamese paintings</a></li>
                            </ul>
                        </li>
                        <li class="thanh">
                            <a class="title-danhsach" href="#"><p>Model boat</p></a>
                            <ul class="danhsachcon">
                                <li><a href="#">Premium model ship</a></li>
                                <li><a href="#">Ancient warship</a></li>
                                <li><a href="#">Wooden sailing boat</a></li>
                                <li><a href="#">Model in bottle</a></li>
                            </ul>
                        </li>
                        <li class="thanh">
                            <a class="title-danhsach" href="#"><p>Ha Dong silk</p></a>
                            <ul class="danhsachcon">
                                <li><a href="#">Ready-made silk Ao Dai</a></li>
                                <li><a href="#">Men's silk shirt</a></li>
                                <li><a href="#">Embroidery</a></li>
                                <li><a href="#">Scarf</a></li>
                            </ul>
                        </li>
                        <li class="thanh">
                            <a class="title-danhsach" href="#"><p>Dai Bai Bronze</p></a>
                            <ul class="danhsachcon">
                                <li><a href="#">Premium bronze painting</a></li>
                                <li><a href="#">Bronze Worship Set</a></li>
                                <li><a href="#">Bronze painting</a></li>
                                <li><a href="#">Drums</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="library-tong">
            <div class="title_library">
                <h1>IMAGE LIBRARY</h1>
            </div>
            <div class="library-box-tong">
                <h2>Most view</h2>
                <div>
                    <div class="content">
                        <a data-fancybox="gallery" href="https://sieuthitranhdep.vn/wp-content/uploads/2014/06/TD002-80x110cm.jpg" data-caption="Caption for single image"><img src="https://sieuthitranhdep.vn/wp-content/uploads/2014/06/TD002-80x110cm.jpg" alt=""></a>
                        <a data-fancybox="gallery" href="http://tranhdaquyhcm.com/upload/sanpham/tranh-phong-canh-lang-que-8195.jpg" data-caption="Caption for single image"><img src="http://tranhdaquyhcm.com/upload/sanpham/tranh-phong-canh-lang-que-8195.jpg" alt=""></a>
                        <a data-fancybox="gallery" href="https://media3.scdn.vn/img2/2018/9_26/kT1rJa.jpg" data-caption="Caption for single image"><img src="https://media3.scdn.vn/img2/2018/9_26/kT1rJa.jpg" alt=""></a>
                        <a data-fancybox="gallery" href="https://cms.lichngaytot.com/medias/standard/2016/3/2/Bay-sap-gu-trong-nha-dep-chuan-phong-thuy-hinh-anh-2.jpg" data-caption="Caption for single image"><img src="https://cms.lichngaytot.com/medias/standard/2016/3/2/Bay-sap-gu-trong-nha-dep-chuan-phong-thuy-hinh-anh-2.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <a data-fancybox="gallery" href="https://lh3.googleusercontent.com/proxy/PRAADl7S_ocvHKMiynHdJhAcAbtm-S3rduny0-FsUV2zEh6bjJe0-galvIP8FxxZVk0q3N1GOn_fw-XgzEOy0cgwcbtyEEb1n3bGs1XKmI9-iWMYkrtm-ygeww" data-caption="Caption for single image"><img src="https://lh3.googleusercontent.com/proxy/PRAADl7S_ocvHKMiynHdJhAcAbtm-S3rduny0-FsUV2zEh6bjJe0-galvIP8FxxZVk0q3N1GOn_fw-XgzEOy0cgwcbtyEEb1n3bGs1XKmI9-iWMYkrtm-ygeww" alt=""></a>
                        <a data-fancybox="gallery" href="https://lh3.googleusercontent.com/proxy/a_QV0FvMeQEdSstY-Gzfepo17RV4p7dfTLlVBGe0m1oGEuzUDieYlHqxOY7Aj9v7HUBbJXNM2Ha5tIgkUfAGAnfi_wLgG84H1AeubNnNh2tUlNV49eZYhv71rDOwqvTkm_4uP5HBbCMixooj" data-caption="Caption for single image"><img src="https://lh3.googleusercontent.com/proxy/a_QV0FvMeQEdSstY-Gzfepo17RV4p7dfTLlVBGe0m1oGEuzUDieYlHqxOY7Aj9v7HUBbJXNM2Ha5tIgkUfAGAnfi_wLgG84H1AeubNnNh2tUlNV49eZYhv71rDOwqvTkm_4uP5HBbCMixooj" alt=""></a>
                        <a data-fancybox="gallery" href="https://lh3.googleusercontent.com/proxy/8yInDxdEWpNtFysM81nT_RAfXxuzDWEop25aElsVReb9Cs1o0TgXNFpmTBYMYGQNTbkjgFuGgcA_BDQ9xx1gF9lWuCJVqaVtuQ" data-caption="Caption for single image"><img src="https://lh3.googleusercontent.com/proxy/8yInDxdEWpNtFysM81nT_RAfXxuzDWEop25aElsVReb9Cs1o0TgXNFpmTBYMYGQNTbkjgFuGgcA_BDQ9xx1gF9lWuCJVqaVtuQ" alt=""></a>
                        <a data-fancybox="gallery" href="https://doanhnhanplus.vn/wp-content/uploads/2019/11/dnp-ban-biet-gi-ve-ngoc-phi-thuy-19-e1573455875334.jpg" data-caption="Caption for single image"><img src="https://doanhnhanplus.vn/wp-content/uploads/2019/11/dnp-ban-biet-gi-ve-ngoc-phi-thuy-19-e1573455875334.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <a data-fancybox="gallery" href="https://ss-images.saostar.vn/wpr700/pc/1601628766968/1.jpg" data-caption="Caption for single image"><img src="https://ss-images.saostar.vn/wpr700/pc/1601628766968/1.jpg" alt=""></a>
                        <a data-fancybox="gallery" href="https://i.pinimg.com/originals/93/30/34/933034824971ab556bf1bd9440830dab.jpg" data-caption="Caption for single image"><img src="https://i.pinimg.com/originals/93/30/34/933034824971ab556bf1bd9440830dab.jpg" alt=""></a>
                    </div>
                </div>


                <h2>Best seller</h2>
                <div>
                    <div class="content">
                        <a data-fancybox="gallery" href="https://product.hstatic.net/1000333148/product/20200224_153807_f7293dfe989a4051afa864cbb21c42b4_master.jpg" data-caption="Caption for single image"><img src="https://product.hstatic.net/1000333148/product/20200224_153807_f7293dfe989a4051afa864cbb21c42b4_master.jpg" alt=""></a>
                        <a data-fancybox="gallery" href="https://lh3.googleusercontent.com/proxy/TM4ZVAobd4ZzUbLYlWPuv7wa_F2im97n8wONbgLjOXCvryfF0V3Xh8vrRtjECdhdvwfOg5k-XajVABzaEafNKBHDmvwHwGAK8aWaYhr_j2KQQscVOKZdSOCCUQNj0wrYdYBYvzJKnwrIqEs" data-caption="Caption for single image"><img src="https://lh3.googleusercontent.com/proxy/TM4ZVAobd4ZzUbLYlWPuv7wa_F2im97n8wONbgLjOXCvryfF0V3Xh8vrRtjECdhdvwfOg5k-XajVABzaEafNKBHDmvwHwGAK8aWaYhr_j2KQQscVOKZdSOCCUQNj0wrYdYBYvzJKnwrIqEs" alt=""></a>
                        <a data-fancybox="gallery" href="https://image.thanhnien.vn/1024/uploaded/thuyttl/2020_05_24/_mg_6850_bfda.jpg" data-caption="Caption for single image"><img src="https://image.thanhnien.vn/1024/uploaded/thuyttl/2020_05_24/_mg_6850_bfda.jpg" alt=""></a>
                        <a data-fancybox="gallery" href="https://salt.tikicdn.com/ts/product/8b/c4/ff/2096d238d54537c7044c87d71323919a.jpg" data-caption="Caption for single image"><img src="https://salt.tikicdn.com/ts/product/8b/c4/ff/2096d238d54537c7044c87d71323919a.jpg" alt=""></a>
                    </div>
                    <div class="content">
                        <a data-fancybox="gallery" href="https://media-cdn.laodong.vn/Storage/NewsPortal/2019/8/16/749639/_MG_0320.JPG" data-caption="Caption for single image"><img src="https://media-cdn.laodong.vn/Storage/NewsPortal/2019/8/16/749639/_MG_0320.JPG" alt=""></a>
                        <a data-fancybox="gallery" href="https://lh3.googleusercontent.com/proxy/Y1-THgo63D6CM7HMdvetV_fTLsoh7C7rBXrL9A6LHPrTO3JW8mIxgaMaBt5WnRknqMv9A2vVUxKPqMPf97gf2rxRkYIuPt__2iH2pcczp4cIZNRfYH8wHA" data-caption="Caption for single image"><img src="https://lh3.googleusercontent.com/proxy/Y1-THgo63D6CM7HMdvetV_fTLsoh7C7rBXrL9A6LHPrTO3JW8mIxgaMaBt5WnRknqMv9A2vVUxKPqMPf97gf2rxRkYIuPt__2iH2pcczp4cIZNRfYH8wHA" alt=""></a>
                        <a data-fancybox="gallery" href="http://redsvn.net/wp-content/uploads/2019/07/Gom-hoa-nau-01.jpg" data-caption="Caption for single image"><img src="http://redsvn.net/wp-content/uploads/2019/07/Gom-hoa-nau-01.jpg" alt=""></a>
                        <a data-fancybox="gallery" href="https://thamquan.quochoi.vn/Uploads/images/TuyenThamQuan/QR27-6.jpeg" data-caption="Caption for single image"><img src="https://thamquan.quochoi.vn/Uploads/images/TuyenThamQuan/QR27-6.jpeg" alt=""></a>
                    </div>
                    <div class="content">
                        <a data-fancybox="gallery" href="https://gomsutrangtri.vn/datafiles/22441/upload/files/b%E1%BB%99%20b%C3%ACnh%20c%E1%BA%A3nh%202/B%E1%BB%99%20b%C3%ACnh%203/b%E1%BB%99%20b%C3%ACnh%204/b%E1%BB%99%20b%C3%ACnh%205/46494673_2107567642794385_3323513743106637824_n.jpg" data-caption="Caption for single image"><img src="https://gomsutrangtri.vn/datafiles/22441/upload/files/b%E1%BB%99%20b%C3%ACnh%20c%E1%BA%A3nh%202/B%E1%BB%99%20b%C3%ACnh%203/b%E1%BB%99%20b%C3%ACnh%204/b%E1%BB%99%20b%C3%ACnh%205/46494673_2107567642794385_3323513743106637824_n.jpg" alt=""></a>
                        <a data-fancybox="gallery" href="https://image.bnews.vn/MediaUpload/Org/2019/03/09/082119_kien-giang-phat-trien-ben-vung-nghe-dan-co-bang-phu-my.jpg" data-caption="Caption for single image"><img src="https://image.bnews.vn/MediaUpload/Org/2019/03/09/082119_kien-giang-phat-trien-ben-vung-nghe-dan-co-bang-phu-my.jpg" alt=""></a>
                        <a data-fancybox="gallery" href="https://gotrangtri.vn/wp-content/uploads/2019/08/my-nghe-dua-ben-tre-9.jpg" data-caption="Caption for single image"><img src="https://gotrangtri.vn/wp-content/uploads/2019/08/my-nghe-dua-ben-tre-9.jpg" alt=""></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>

<!-------footer----------->
<%- include("footer")%>

</body>
</html>