<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>libary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/newlibary.css">
    <link rel="stylesheet" href="fontawesome-free-5.15.4-/fontawesome-free-5.15.4-web/css/all.css">
    <link rel="stylesheet" href="fonts/fontawesome-free-5.15.4/css/all.css">
</head>
<body>
<!-------------HEADER-------------->
<div class="header">
    <%- include("header")%>

    <%- include("nav")%>
</div>
<div class="slider_main" style="width: 100% ;height: 400px;background-image: url('http://timbercompany.ancorathemes.com/wp-content/uploads/2016/07/parallax-4.jpg');float: left;margin-top: 30px ">
    <h1 style="text-align: center;line-height: 400px;color: #e9e4d0;font-size: 50px;text-transform: capitalize">libary</h1>
</div>
<!--'phan main-->
<div class="container">
    <div class="main">
        <div class="list_product">
            <div class="top_list">
                <p ><b>product list</b></p>
            </div>
            <div class="list_box">
                <div class="list_box">
                    <a class="name_list" href="#"><b>interior</b></a>
                    <ul>
                        <li class ="list"><a href="/san-pham1"> wooden tables and chairs</a></li>
                        <li class="list"><a href="/san-pham2">wooden bed</a></li>
                        <li class="list"><a href="/san-pham3"> wooden collapset</a></li>
                        <li class="list"><a href="/san-pham4">wooden cabinets</a></li>
                    </ul>
                    <a class="name_list" href="#"><b>decorations</b></a>
                    <ul>
                        <li class="list"><a href="/san-pham5">clock</a></li>
                        <li class="list"><a href="/san-pham6">jewelry box</a></li>
                        <li class="list"><a href="/san-pham7">candy box</a></li>
                        <li class="list"><a href="/san-pham8">tea tray</a></li>
                    </ul>
                    <a class="name_list" href="#"><b>feng shui items</b></a>
                    <ul>
                        <li class="list"><a href="/san-pham9">feng shui statue</a></li>
                        <li class="list"><a href="/san-pham10">feng shui disk</a></li>
                        <li class="list"><a href="/san-pham11">lucky pot</a></li>
                        <li class="list"><a href="/san-pham12">feng shui jade</a></li>
                    </ul>
                    <a class="name_list" href="#"><b>bamboo handmade</b></a>
                    <ul>
                        <li class="list" href="#"><a href="/san-pham13">Fashion handmade</a></li>
                        <li class="list" href="#"><a href="/san-pham14">decorative accessories</a></li>
                        <li class="list"><a href="/san-pham15">Bamboo furniture</a></li>
                        <li class="list"><a href="/san-pham16">replacing plastic products</a></li>
                    </ul>
                    <a class="name_list" href="#"><b>Stone</b></a>
                    <ul>
                        <li class="list"><a href="/san-pham17">stone paintings</a></li>
                        <li class="list"><a href="/san-pham18">stone statue</a></li>
                        <li class="list"><a href="/san-pham19">Penjing</a></li>
                        <li class="list"><a href="/san-pham20">accessories</a></li>
                    </ul>
                </div>
                <div class="main_hot">
                    <div class="hot_list">
                        <p><b>Related News</b></p>
                    </div>
                    <div class="hot_box">
                        <div class="hot_box1">
                            <p>Hoi An opens the 3rd handicraft market night<br>
                                <a href="/new1">See more</a>
                                <i class="fas fa-eye"></i></p>
                        </div>
                        <hr>
                        <div class="hot_box1">
                            <p>Water hyacinth knitting abroad in Ninh Binh<br>
                                <a href="/new2">See more</a>
                                <i class="fas fa-eye"></i></p>
                        </div>
                        <hr>
                        <div class="hot_box1">
                            <p>Vietnam house - where the fine arts converge<br>
                                <a href="/new3">See more</a>
                                <i class="fas fa-eye"></i></p>
                        </div>
                        <hr>
                        <div class="hot_box1">
                            <p>Travel the world looking for handicrafts<br>
                                <a href="/new5">See more</a>
                                <i class="fas fa-eye"></i></p>
                        </div>
                        <hr>
                        <div class="hot_box1">
                            <p>Learn about handicraft products at Vietnam House<br>
                                <a href="/new4">See more</a>
                                <i class="fas fa-eye"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--    phần content-->
        <div class="content">
            <div class="title_library">
                <h1 style="text-align: center">IMAGE LIBRARY</h1>
            </div>

            <div class="element">
                <h2 class="title">Most interested</h2>
                <a data-fancybox="gallery" href="https://xuongdogogiagoc.com/wp-content/uploads/2020/12/sap-go-huong-1-375x281.jpg" data-caption="Caption for single image"><img class="img_element" src="https://xuongdogogiagoc.com/wp-content/uploads/2020/12/sap-go-huong-1-375x281.jpg" alt=""></a>
                <a data-fancybox="gallery" href="https://dogothanhtung.vn/wp-content/uploads/2021/05/sap-lien-chi-go-mun-hoa-2mx2m2-co-lien-3-270x203.jpg" data-caption="Caption for single image"><img class="img_element" src="https://dogothanhtung.vn/wp-content/uploads/2021/05/sap-lien-chi-go-mun-hoa-2mx2m2-co-lien-3-270x203.jpg" alt=""></a>
                <a data-fancybox="gallery" href="http://dogoxuavanay.vn/upload/photos/6518/tu-tho-xua-go-trac-o-ha-noi-5c1cac03c0fdb.jpg" data-caption="Caption for single image"><img class="img_element" src="http://dogoxuavanay.vn/upload/photos/6518/tu-tho-xua-go-trac-o-ha-noi-5c1cac03c0fdb.jpg" alt=""></a>
                <a data-fancybox="gallery" href="https://dogominhhiep.com/wp-content/uploads/2020/01/tu-che-kham-lien-chi-768x576.jpg" data-caption="Caption for single image"><img class="img_element" src=https://dogominhhiep.com/wp-content/uploads/2020/01/tu-che-kham-lien-chi-768x576.jpg" alt=""></a>
                <a data-fancybox="gallery" href="https://mynghephuloi.com/wp-content/uploads/2019/09/IMG_2022.jpg" data-caption="Caption for single image"><img class="img_element" src="https://mynghephuloi.com/wp-content/uploads/2019/09/IMG_2022.jpg" alt=""></a>
                <a data-fancybox="gallery" href="https://cdn.tgdd.vn/Files/2020/12/30/1317101/20-kieu-khay-dung-mut-tet-bang-su-dep-va-sang-trong-nhat-nam-2020-202012301444536680.jpg" data-caption="Caption for single image"><img class="img_element" src="https://cdn.tgdd.vn/Files/2020/12/30/1317101/20-kieu-khay-dung-mut-tet-bang-su-dep-va-sang-trong-nhat-nam-2020-202012301444536680.jpg" alt=""></a>
                <a data-fancybox="gallery" href="https://2.bp.blogspot.com/-tnt7PJf3Rv0/WPgfN9v11tI/AAAAAAAAAGs/6eHVi0Z6Y0o8H6DiQ6x8Zh8A6zVNnYzAACLcB/s640/khay-tra-go-dien-phong-cach-co-them-tien-nghi.png" data-caption="Caption for single image"><img class="img_element" src="https://2.bp.blogspot.com/-tnt7PJf3Rv0/WPgfN9v11tI/AAAAAAAAAGs/6eHVi0Z6Y0o8H6DiQ6x8Zh8A6zVNnYzAACLcB/s640/khay-tra-go-dien-phong-cach-co-them-tien-nghi.png" alt=""></a>
                <a data-fancybox="gallery" href="https://loctancuong.com/kcfinder/upload/images/5-cach-bao-quan-1.jpg" data-caption="Caption for single image"><img class="img_element" src="https://loctancuong.com/kcfinder/upload/images/5-cach-bao-quan-1.jpg" alt=""></a><a data-fancybox="gallery" href="https://media3.scdn.vn/img3/2019/1_7/JPkVRB.jpg" data-caption="Caption for single image"><img class="img_element" src="https://media3.scdn.vn/img3/2019/1_7/JPkVRB.jpg" alt=""></a>
                <a data-fancybox="gallery" href="https://vn-live-01.slatic.net/original/1fbb2d3c06feb7358ed9287b9f97b450.jpg" data-caption="Caption for single image"><img class="img_element" src="https://vn-live-01.slatic.net/original/1fbb2d3c06feb7358ed9287b9f97b450.jpg " alt=""></a>
            </div>
            <br>
            <div class="element">
                <h2 class="title">bestseller</h2>
                <a data-fancybox="gallery" href="https://gomtruongan.vn/uploads/products/11042021041151/binh-hut-loc-mau-xanh-luc-bao-menh-moc-ve-vang-ma-dao-thanh-cong_11042021041151.jpg" data-caption="Caption for single image"><img class="img_element" src="https://gomtruongan.vn/uploads/products/11042021041151/binh-hut-loc-mau-xanh-luc-bao-menh-moc-ve-vang-ma-dao-thanh-cong_11042021041151.jpg" alt=""></a>
                <a data-fancybox="gallery" href="https://gom10.vn/uploads/gallerys/binh-hut-loc-cong-phu-dung-vang-kim-40cm.jpg" data-caption="Caption for single image"><img class="img_element" src="https://gom10.vn/uploads/gallerys/binh-hut-loc-cong-phu-dung-vang-kim-40cm.jpg" alt=""></a>
                <a data-fancybox="gallery" href="https://gomsubattrang.com/Images/SanPham/vyv-binh-hut-tai-loc-sen-phu-quy-ve-vang-cao-30-cm.jpg" data-caption="Caption for single image"><img class="img_element" src="https://gomsubattrang.com/Images/SanPham/vyv-binh-hut-tai-loc-sen-phu-quy-ve-vang-cao-30-cm.jpg" alt=""></a>
                <a data-fancybox="gallery" href="https://gombattrangdoanquang.com/wp-content/uploads/2020/11/binh-hut-tai-loc.jpg" data-caption="Caption for single image"><img class="img_element" src="https://gombattrangdoanquang.com/wp-content/uploads/2020/11/binh-hut-tai-loc.jpg" alt=""></a>
                <a data-fancybox="gallery" href="https://kinggems.vn/wp-content/uploads/2019/01/ty-huu-phong-thuy-1.jpg" data-caption="Caption for single image"><img class="img_element" src="https://kinggems.vn/wp-content/uploads/2019/01/ty-huu-phong-thuy-1.jpg" alt=""></a>
                <a data-fancybox="gallery" href="https://image.voso.vn/users/vosoimage/images/e1574fbd8ea3b7dfcf599e2331685a3d?t%5B0%5D=compress%3Alevel%3D100&accessToken=945065636dd8c612b215f890f51ee633e7c2722b3f90f120a5bfab070b97740d" data-caption="Caption for single image"><img class="img_element" src="https://image.voso.vn/users/vosoimage/images/e1574fbd8ea3b7dfcf599e2331685a3d?t%5B0%5D=compress%3Alevel%3D100&accessToken=945065636dd8c612b215f890f51ee633e7c2722b3f90f120a5bfab070b97740d" alt=""></a>
                <a data-fancybox="gallery" href="http://bizweb.dktcdn.net/100/060/498/files/0128457am3.jpg?v=1624006691301" data-caption="Caption for single image"><img class="img_element" src="http://bizweb.dktcdn.net/100/060/498/files/0128457am3.jpg?v=1624006691301" alt=""></a>
                <a data-fancybox="gallery" href="http://image.vtc.vn/files/ductung/2016/10/07/canlon-1055480.jpg" data-caption="Caption for single image"><img class="img_element" src="http://image.vtc.vn/files/ductung/2016/10/07/canlon-1055480.jpg" alt=""></a>
                <a data-fancybox="gallery" href="https://joca.vn/wp-content/uploads/2019/08/6e8cd616b20755590c16-1024x768.jpg" data-caption="Caption for single image"><img class="img_element" src="https://joca.vn/wp-content/uploads/2019/08/6e8cd616b20755590c16-1024x768.jpg" alt=""></a>
            </div>
            <div class="element">
                <h2 class="title">Most Expensive</h2>
                <a data-fancybox="gallery" href="http://cdn.reatimes.vn/mediav2/media_old/upload/f37kVu6MNjREuFS4qNF1Jw/files/2020/06/0601/AMETHYST.jpg" data-caption="Caption for single image"><img class="img_element" src="http://cdn.reatimes.vn/mediav2/media_old/upload/f37kVu6MNjREuFS4qNF1Jw/files/2020/06/0601/AMETHYST.jpg" alt=""></a>
                <a data-fancybox="gallery" href=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUytvsgLkv5yHZIrP14OmVNCcZwplKqSsEkA&usqp=CAU" data-caption="Caption for single image"><img class="img_element" src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUytvsgLkv5yHZIrP14OmVNCcZwplKqSsEkA&usqp=CAU" alt=""></a>
                <a data-fancybox="gallery" href="https://bactrangsuc.vn/anh/images/Bo-trang-suc/pd3070_1450k%2Cri2930_1750k%2Cer1179_580k%2Cbra1230_3950k.jpg" data-caption="Caption for single image"><img class="img_element" src="https://bactrangsuc.vn/anh/images/Bo-trang-suc/pd3070_1450k%2Cri2930_1750k%2Cer1179_580k%2Cbra1230_3950k.jpg" alt=""></a>
                <a data-fancybox="gallery" href="https://trangsuchas.com/wp-content/uploads/2018/07/Set-da-mat-trang-giot-nuoc.jpg" data-caption="Caption for single image"><img class="img_element" src="https://trangsuchas.com/wp-content/uploads/2018/07/Set-da-mat-trang-giot-nuoc.jpg" alt=""></a>
                <a data-fancybox="gallery" href="https://trangsuchas.com/wp-content/uploads/2018/07/Set-da-mat-trang-giot-nuoc.jpg" data-caption="Caption for single image"><img class="img_element" src="https://trangsuchas.com/wp-content/uploads/2018/07/Set-da-mat-trang-giot-nuoc.jpg" alt=""></a>
                <a data-fancybox="gallery" href="http://www.elle.vn/wp-content/uploads/2015/10/16/trang-suc-da-quy.jpg" data-caption="Caption for single image"><img class="img_element" src="http://www.elle.vn/wp-content/uploads/2015/10/16/trang-suc-da-quy.jpg" alt=""></a>
                <a data-fancybox="gallery" href="https://luxuo.vn/wp-content/uploads/2020/12/b2f771c12705c3147f00533e52bde7c3-600x400.png" data-caption="Caption for single image"><img class="img_element" src="https://luxuo.vn/wp-content/uploads/2020/12/b2f771c12705c3147f00533e52bde7c3-600x400.png" alt=""></a>
                <a data-fancybox="gallery" href="https://cdn-img-v2.webbnc.net//uploadv2/web/34/3467/product/2016/06/14/06/46/phat-to-nhu-lai-trang-suc-ngoc-phi-thuy-msp130-1465887078.jpg" data-caption="Caption for single image"><img class="img_element" src="https://cdn-img-v2.webbnc.net//uploadv2/web/34/3467/product/2016/06/14/06/46/phat-to-nhu-lai-trang-suc-ngoc-phi-thuy-msp130-1465887078.jpg" alt=""></a>
                <a data-fancybox="gallery" href="https://i2.wp.com/daquyphongthuy.net/wp-content/uploads/2021/06/trang-suc-ngoc-phi-thuy.jpg?resize=850%2C584&ssl=1" data-caption="Caption for single image"><img class="img_element" src="https://i2.wp.com/daquyphongthuy.net/wp-content/uploads/2021/06/trang-suc-ngoc-phi-thuy.jpg?resize=850%2C584&ssl=1" alt=""></a>
                <a data-fancybox="gallery" href="https://www.hondaviet.vn/wp-content/uploads/2019/04/Vong-cam-thach.jpg" data-caption="Caption for single image"><img class="img_element" src="https://www.hondaviet.vn/wp-content/uploads/2019/04/Vong-cam-thach.jpg" alt=""></a>
                <a data-fancybox="gallery" href="https://znews-photo.zadn.vn/w660/Uploaded/wyhktpu/2020_10_15/1_1.jpg" data-caption="Caption for single image"><img class="img_element" src="https://znews-photo.zadn.vn/w660/Uploaded/wyhktpu/2020_10_15/1_1.jpg" alt=""></a>
            </div>
            <div class="element">
                <h2 class="title">the most beautiful</h2>
                <a data-fancybox="gallery" href="https://phongthuylucyen.com/wp-content/uploads/2018/12/V%C3%B2ng-tay-ng%E1%BB%8Dc-lam-xanh.jpg" data-caption="Caption for single image"><img class="img_element" src="https://phongthuylucyen.com/wp-content/uploads/2018/12/V%C3%B2ng-tay-ng%E1%BB%8Dc-lam-xanh.jpg" alt=""></a>
                <a data-fancybox="gallery" href="https://kimtuthap.vn/wp-content/uploads/2015/12/vong-go-hoa-thach-12.jpg" data-caption="Caption for single image"><img class="img_element" src="https://kimtuthap.vn/wp-content/uploads/2015/12/vong-go-hoa-thach-12.jpg" alt=""></a>
                <a data-fancybox="gallery" href="https://kimtuthap.vn/wp-content/uploads/2016/12/unnamed.jpg" data-caption="Caption for single image"><img class="img_element" src="https://kimtuthap.vn/wp-content/uploads/2016/12/unnamed.jpg" alt="https://kimtuthap.vn/wp-content/uploads/2016/12/unnamed.jpg"></a>
                <a data-fancybox="gallery" href="https://www.floridamuseum.ufl.edu/wp-content/uploads/2017/10/170928-0118.jpg" data-caption="Caption for single image"><img class="img_element" src="https://www.floridamuseum.ufl.edu/wp-content/uploads/2017/10/170928-0118.jpg" alt=""></a>
                <a data-fancybox="gallery" href="https://pbs.twimg.com/media/Cc7i2m8W4AA4EAG.jpg" data-caption="Caption for single image"><img class="img_element" src="https://pbs.twimg.com/media/Cc7i2m8W4AA4EAG.jpg" alt=""></a>
                <a data-fancybox="gallery" href="https://www.pampangatalents.com/04_Gallery/Bonsai/Bonsai_Show/Landscape/slides/Landscape_Bonsai_3.JPG" data-caption="Caption for single image"><img class="img_element" src="https://www.pampangatalents.com/04_Gallery/Bonsai/Bonsai_Show/Landscape/slides/Landscape_Bonsai_3.JPG" alt=""></a>
                <a data-fancybox="gallery" href="https://5.imimg.com/data5/SELLER/Default/2021/1/AN/WH/NC/8072823/penjing-bosai-slate-plate-stonemart-500x500.jpeg" data-caption="Caption for single image"><img class="img_element" src="https://5.imimg.com/data5/SELLER/Default/2021/1/AN/WH/NC/8072823/penjing-bosai-slate-plate-stonemart-500x500.jpeg" alt=""></a>
                <a data-fancybox="gallery" href="https://64.media.tumblr.com/b8c83aab23e5b3884e6857d111bee4a8/tumblr_n4lkkqDSAH1s3c1oao1_1280.jpg" data-caption="Caption for single image"><img class="img_element" src="https://64.media.tumblr.com/b8c83aab23e5b3884e6857d111bee4a8/tumblr_n4lkkqDSAH1s3c1oao1_1280.jpg" alt=""></a>
                <a data-fancybox="gallery" href="https://i.pinimg.com/originals/47/7d/5a/477d5a89dbcad88c7b87a3f478d37481.jpg" data-caption="Caption for single image"><img class="img_element" src="https://i.pinimg.com/originals/47/7d/5a/477d5a89dbcad88c7b87a3f478d37481.jpg" alt=""></a>
            </div>
            <div class="element">
                <h2 class="title">most popular</h2>
                <a data-fancybox="gallery" href="https://media3.scdn.vn/img3/2019/5_2/JgMFVh.jpg" data-caption="Caption for single image"><img class="img_element" src="https://media3.scdn.vn/img3/2019/5_2/JgMFVh.jpg" alt=""></a>
                <a data-fancybox="gallery" href="https://toplist.vn/images/800px/-293208.jpg" data-caption="Caption for single image"><img class="img_element" src="https://toplist.vn/images/800px/-293208.jpg" alt=""></a>
                <a data-fancybox="gallery" href="https://sovani.vn/wp-content/uploads/2019/09/vi-da-da-dieu-handmade-3.jpg" data-caption="Caption for single image"><img class="img_element" src="https://sovani.vn/wp-content/uploads/2019/09/vi-da-da-dieu-handmade-3.jpg" alt=""></a>
                <a data-fancybox="gallery" href="https://i.pinimg.com/736x/ec/b7/45/ecb7450007616382d0822f46fa98e403.jpg" data-caption="Caption for single image"><img class="img_element" src="https://i.pinimg.com/736x/ec/b7/45/ecb7450007616382d0822f46fa98e403.jpg" alt=""></a>
                <a data-fancybox="gallery" href="https://vn-live-01.slatic.net/original/1fbb2d3c06feb7358ed9287b9f97b450.jpg" data-caption="Caption for single image"><img class="img_element" src="https://vn-live-01.slatic.net/original/1fbb2d3c06feb7358ed9287b9f97b450.jpg" alt=""></a>
            </div>




            <!--    hết content-->
        </div>

    </div>
</div>
<!--kết thúc main-->
<%- include("footer")%>
</body>
</html>