<div class="header_nav">
    <div class="container">
        <label for="nav-mobile-input" class="nav_bars-btn">
                <i class="fas fa-tasks"></i>
            </label>
        <input type="checkbox" hidden name="" id="nav-mobile-input">
        <label for="nav-mobile-input" class="nav_overlay"></label>
        <div class="seach2">
            <div class="seach_box2">
                <div class="header_search theme-searchs">

                    <form action="/search" class="input-group search-bar theme-header-search-form ultimate-search" role="search">
                        <input type="text" aria-label="Tìm sản phẩm" name="query" value="" autocomplete="off" placeholder="Search for products..." class="search-auto input-group-field auto-search" required="">
                        <input type="hidden" name="type" value="product">
                        <span class="input-group-btn">
								<button type="submit" class="btn icon-fallback-text" aria-label="Justify">
									<svg enable-background="new 0 0 612.01 612.01" version="1.1" viewBox="0 0 612.01 612.01" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                        <path d="m606.21 578.71-158.01-155.49c41.378-44.956 66.802-104.41 66.802-169.84-0.02-139.95-115.3-253.39-257.51-253.39s-257.49 113.44-257.49 253.39 115.28 253.39 257.49 253.39c61.445 0 117.8-21.253 162.07-56.586l158.62 156.1c7.729 7.614 20.277 7.614 28.006 0 7.747-7.613 7.747-19.971 0.018-27.585zm-348.72-110.91c-120.33 0-217.87-95.993-217.87-214.41s97.543-214.41 217.87-214.41c120.33 0 217.87 95.993 217.87 214.41s-97.542 214.41-217.87 214.41z"/>
                                    </svg>
								</button>
							</span>
                    </form>
                </div>
            </div>
        </div>

        <nav class="nav_mobie_tong">
            <div class="avata">
                <img  src="images/ban chuan.png" height="150" width="170"/>
            </div>

            <label for="nav-mobile-input" class="nav_bars-btn1">
<!--                <img src="images/times-solid%20(1).svg">-->
                <i class="far fa-window-close"></i>
            </label>
            <ul class="nav_mobie">
                <li><a href="/home" style="color: #eb3e32">Home</a></li>
                <li>
                    <a href="/san-pham">
                        Product
                    </a>
                    <ul class="subnav_mobie">
                        <li class="battrang_mobie">
                            <a href="#">
                                Bat Trang ceramics
                                <span class="icon2">
                            <img src="images/pngegg1.png" height="25" width="25"/>
                            </span>
                            </a>
                            <ul class="subnav_mini_mobie">
                                <li><a href="#">Dinner table</a></li>
                                <li><a href="#">Teapot</a></li>
                                <li><a href="#">Worship set</a></li>
                                <li><a href="#">Statue</a></li>
                            </ul>
                        </li>
                        <li class="tranh_mobie">
                            <a href="#">
                                Lacquer painting
                                <span class="icon2">
                            <img src="images/pngegg1.png" height="25" width="25"/>
                            </span>
                            </a>
                            <ul class="subnav_mini_mobie">
                                <li><a href="#">Picasso paintings</a></li>
                                <li><a href="#">Calligraphy painting</a></li>
                                <li><a href="#">High-class lacquer painting</a></li>
                                <li><a href="#">Vietnamese paintings</a></li>
                            </ul>
                        </li>
                        <li class="mohinh_mobie">
                            <a href="#">
                                Model boat
                                <span class="icon2">
                            <img src="images/pngegg1.png" height="25" width="25"/>
                            </span>
                            </a>
                            <ul class="subnav_mini_mobie">
                                <li><a href="#">Premium model ship</a></li>
                                <li><a href="#">Ancient warship</a></li>
                                <li><a href="#">Wooden sailing boat</a></li>
                                <li><a href="#">Model in bottle</a></li>
                            </ul>
                        </li>
                        <li class="lua_mobie">
                            <a href="#">
                                Ha Dong silk
                                <span class="icon2">
                            <img src="images/pngegg1.png" height="25" width="25"/>
                            </span>
                            </a>
                            <ul class="subnav_mini_mobie">
                                <li><a href="#">Ready-made silk Ao Dai</a></li>
                                <li><a href="#">Men's silk shirt</a></li>
                                <li><a href="#">Embroidery</a></li>
                                <li><a href="#">Scarf</a></li>
                            </ul>
                        </li>
                        <li class="dong_mobie">
                            <a href="#">
                                Dai Bai Bronze
                                <span class="icon2">
                            <img src="images/pngegg1.png" height="25" width="25"/>
                            </span>
                            </a>
                            <ul class="subnav_mini_mobie">
                                <li><a href="#">Premium bronze painting</a></li>
                                <li><a href="#">Bronze Worship Set</a></li>
                                <li><a href="#">Bronze painting</a></li>
                                <li><a href="#">Drums</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="/libary">Library</a></li>
                <li><a href="/news">News</a>
                    <ul class="subnav1_mobie">
                        <li><a href="#">Trending news</a></li>
                        <li><a href="#">Promotional news</a></li>
                        <li><a href="#">News tips</a></li>
                    </ul>
                </li>
                <li><a href="/video">Video</a></li>
                <li><a href="/about">Abouts</a></li>
                <li><a href="/question">Question</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/log">Log in</a></li>
                <li><a href="#">Sign up</a></li>
            </ul>
        </nav>
        <ul class="nav">
            <li><a href="/home">Home</a></li>
            <li>
                <a href="#">
                    Product
                    <span class="icon_down">
                    <img src="images/pngegg.png" height="25" width="25"/>
                    </span>
                </a>
                <ul class="subnav">
                    <li class="battrang">
                        <a href="#">
                            Interior
                            <span class="icon2">
                            <img src="images/pngegg1.png" height="25" width="25"/>
                            </span>
                        </a>
                        <ul class="subnav_mini">
                            <li><a href="/san-pham1">Tables And Chairs</a></li>
                            <li><a href="/san-pham2">Wooden Bed</a></li>
                            <li><a href="/san-pham3">Wooden Collapse</a></li>
                            <li><a href="/san-pham4">Wooden Cabinets</a></li>
                        </ul>
                    </li>
                    <li class="tranh">
                        <a href="#">
                            Decorations
                            <span class="icon2">
                            <img src="images/pngegg1.png" height="25" width="25"/>
                            </span>
                        </a>
                        <ul class="subnav_mini">
                            <li><a href="/san-pham5">Clock</a></li>
                            <li><a href="/san-pham6">Jewelry Box</a></li>
                            <li><a href="/san-pham7">Candy Box</a></li>
                            <li><a href="/san-pham8">Tea Tray</a></li>
                        </ul>
                    </li>
                    <li class="mohinh">
                        <a href="#">
                            Feng Shui Items
                            <span class="icon2">
                            <img src="images/pngegg1.png" height="25" width="25"/>
                            </span>
                        </a>
                        <ul class="subnav_mini">
                            <li><a href="/san-pham9">Feng Shui Statue</a></li>
                            <li><a href="/san-pham10">Feng Shui Disk</a></li>
                            <li><a href="/san-pham11">Lucky Pot</a></li>
                            <li><a href="/san-pham12">Feng Shui Jade</a></li>
                        </ul>
                    </li>
                    <li class="lua">
                        <a href="#">
                            Woven Bamboo
                            <span class="icon2">
                            <img src="images/pngegg1.png" height="25" width="25"/>
                            </span>
                        </a>
                        <ul class="subnav_mini">
                            <li><a href="/san-pham13">Handmade Fashion</a></li>
                            <li><a href="/san-pham14">Decorations</a></li>
                            <li><a href="/san-pham15">Woven Bamboo Furniture</a></li>
                            <li><a href="/san-pham16">Nylon Substitutes</a></li>
                        </ul>
                    </li>
                    <li class="dong">
                        <a href="#">
                            Stoneware
                            <span class="icon2">
                            <img src="images/pngegg1.png" height="25" width="25"/>
                            </span>
                        </a>
                        <ul class="subnav_mini">
                            <li><a href="/san-pham17">Rock Paintings</a></li>
                            <li><a href="/san-pham18">Stone Statue</a></li>
                            <li><a href="/san-pham19">Penjing</a></li>
                            <li><a href="/san-pham20">Jewelry</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="/libary">Libary</a></li>
            <li><a href="/news">
                    News
                    <span class="icon_down">
                    <img src="images/pngegg.png" height="25" width="25"/>
                    </span>
                </a>
                <ul class="subnav1">
                    <li><a href="/trending">Trending news</a></li>
                    <li><a href="/promotional">Promotional news</a></li>
                    <li><a href="/tip">News tips</a></li>
                </ul>
            </li>
            <li><a href="/video">Video</a></li>
            <li><a href="/about">Abouts</a></li>
            <li><a href="/question">Question</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
</div>