<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/news_small.css">
    <link rel="stylesheet" href="fontawesome-free-5.15.4-/fontawesome-free-5.15.4-web/css/all.css">
    <link rel="stylesheet" href="fonts/fontawesome-free-5.15.4/css/all.css">
</head>
<body>
<!-------------HEADER-------------->
<div class="header">
    <%- include("header")%>

    <%- include("nav")%>
</div>
<div class="slider_main" style="width: 100% ;height: 400px;background-image: url('http://timbercompany.ancorathemes.com/wp-content/uploads/2016/07/parallax-4.jpg');float: left;margin-top: 30px ">
    <h1 style="text-align: center;line-height: 400px;color: #e9e4d0;font-size: 50px;text-transform: capitalize">news</h1>
</div>
<!--'phan main-->
<div class="container">
    <div class="main">
        <div class="list_product">
            <div class="top_list">
                <p ><b>product list</b></p>
            </div>
            <div class="list_box">
                <div class="list_box">
                    <a class="name_list" href="#"><b>interior</b></a>
                    <ul>
                        <li class ="list"><a href="/san-pham1"> wooden tables and chairs</a></li>
                        <li class="list"><a href="/san-pham2">wooden bed</a></li>
                        <li class="list"><a href="/san-pham3"> wooden collapset</a></li>
                        <li class="list"><a href="/san-pham4">wooden cabinets</a></li>
                    </ul>
                    <a class="name_list" href="#"><b>decorations</b></a>
                    <ul>
                        <li class="list"><a href="/san-pham5">clock</a></li>
                        <li class="list"><a href="/san-pham6">jewelry box</a></li>
                        <li class="list"><a href="/san-pham7">candy box</a></li>
                        <li class="list"><a href="/san-pham8">tea tray</a></li>
                    </ul>
                    <a class="name_list" href="#"><b>feng shui items</b></a>
                    <ul>
                        <li class="list"><a href="/san-pham9">feng shui statue</a></li>
                        <li class="list"><a href="/san-pham10">feng shui disk</a></li>
                        <li class="list"><a href="/san-pham11">lucky pot</a></li>
                        <li class="list"><a href="/san-pham12">feng shui jade</a></li>
                    </ul>
                    <a class="name_list" href="#"><b>bamboo handmade</b></a>
                    <ul>
                        <li class="list" href="#"><a href="/san-pham13">Fashion handmade</a></li>
                        <li class="list" href="#"><a href="/san-pham14">decorative accessories</a></li>
                        <li class="list"><a href="/san-pham15">Bamboo furniture</a></li>
                        <li class="list"><a href="/san-pham16">replacing plastic products</a></li>
                    </ul>
                    <a class="name_list" href="#"><b>Stone</b></a>
                    <ul>
                        <li class="list"><a href="/san-pham17">stone paintings</a></li>
                        <li class="list"><a href="/san-pham18">stone statue</a></li>
                        <li class="list"><a href="/san-pham19">Penjing</a></li>
                        <li class="list"><a href="/san-pham20">accessories</a></li>
                    </ul>
                </div>
                <div class="main_hot">
                    <div class="hot_list">
                        <p><b>Related News</b></p>
                    </div>
                    <div class="hot_box">
                        <div class="hot_box1">
                            <p>Hoi An opens the 3rd handicraft market night<br>
                                <a href="/new1">See more</a>
                                <i class="fas fa-eye"></i></p>
                        </div>
                        <hr>
                        <div class="hot_box1">
                            <p>Water hyacinth knitting abroad in Ninh Binh<br>
                                <a href="/new2">See more</a>
                                <i class="fas fa-eye"></i></p>
                        </div>
                        <hr>
                        <div class="hot_box1">
                            <p>Vietnam house - where the fine arts converge<br>
                                <a href="/new3">See more</a>
                                <i class="fas fa-eye"></i></p>
                        </div>
                        <hr>
                        <div class="hot_box1">
                            <p>Travel the world looking for handicrafts<br>
                                <a href="/new5">See more</a>
                                <i class="fas fa-eye"></i></p>
                        </div>
                        <hr>
                        <div class="hot_box1">
                            <p>Learn about handicraft products at Vietnam House<br>
                                <a href="/new4">See more</a>
                                <i class="fas fa-eye"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--    phần content-->
        <div class="content">
            <div class="element">
                    <div id="name">
                        <h2>Water hyacinth knitting abroad in Ninh Binh</h2>
                    </div>
                    <div class="noidung">
                        <p>Water hyacinth stem, through the skillful hands of craftsmen in Kim Son district (Ninh Binh), has become an export fine art product with high economic value.<br>

                            When the traditional weaving of sedge mats for hundreds of years in Kim Son district gradually disappeared, craftsmen found a new direction. The production of handicrafts with water hyacinth materials not only gives a high income, but also keeps the traditional knitting profession, so it is developed by the people.</p>
                        <img src="http://blogcaycanh.vn/uploads/caycanh/1401854096_cay-beo-luc-binh-2.jpg" width="70%" height="500px"/>
                        <p>Water hyacinth (another name is water hyacinth or Loc Binh) is an aquatic plant, woody, living floating on the river surface. Each mature water hyacinth plant is usually 60-90 cm long. After harvesting, workers will cut off the roots and leaves and then dry them in the sun to make raw materials for knitting export items.

                            Although water hyacinth grows all year round, the drying process can only be done in the dry season, so many people have to spend a whole month cutting water hyacinth to dry and store knitting during the year.<br>

                            Ms. Luu Thi Bich (40 years old, Xuan Thien commune) soaks in water for 8 hours a day to pick up duckweed in the canals near her house. To prevent skin diseases and avoid "eating" the skin, Ms. Bich must wear raincoats, gloves and cover her face.<br>

                            She said that families who work as water hyacinth have to spend their time picking duckweed as a profit, but buying dried duckweed for 20,000 VND/kg and knitting it, the income is not much. "Beo is dense here on the canals, so thousands of people can't even pick it up," Bich said.<br>

                            Water hyacinth knitting has appeared in Ninh Binh since 2005, but has developed strongly in recent years. Partly due to the expansion of foreign markets, partly due to high incomes, more and more craftsmen participate in knitting.</p>
                        <img src="https://sakurafashion.vn/upload/a/1953-hoivu-shop-6236.jpg" width="70%" height="500px"/>
                        <p>With a family of 4 acres of fields, Ms. Tran Thi Theu (32 years old, Nhu Hoa commune) takes advantage of knitting duckweed. “In the past, my whole family worked as a mat weaving business. In recent years, mat weavers have decreased due to low income, slow sales of products, and people have switched to making handicrafts from sedge and water hyacinth, "said Ms.<br>

                            Water hyacinth grows full of water canal near the house, only spends time picking it up to dry and then knitting, but does not have to spend money to buy raw materials, so the income is quite good. With skilled workers like Ms. Emu, every day sitting knitting earns 150,000-300,000 wages.<br>

                            Ms. Nguyen Thi Hoa (45 years old), owner of a handicraft processing facility in Nhu Hoa commune, said that products made from natural materials such as water hyacinth and sedge are sold in Japan, the US, and the US. Germany, Denmark ... favored because of its durability, beauty and especially environmental friendliness. Products made by Kim Son craftsman are very diverse, such as carpets, baskets, newspaper shelves, paper trays, vases, lounge chairs...<br>

                            Water hyacinth knitting technique is simpler than mat weaving, including basic styles such as knitting rice grains, knitting herringbone and knitting spider webs. “Depending on the product, different knitting patterns are used. For example, the herringbone style is often used to knit carpets, while knitting shelves for newspapers and magazines, the rice grain pattern is used," said Ms. Hoa.<br>

                            Every day, Ms. Hoa's facility buys thousands of products made from water hyacinth and sedge in communes such as Nhu Hoa, An Hoa, Xuan Thien, Kim Chinh...</p>
                        <img src="https://salt.tikicdn.com/ts/tmp/9d/06/f6/a18f7bf51bcc3f2fcf28418b170becbd.jpg" width="70%" height="500px"/>
                        <p>According to a representative of Kim Son District Chamber of Industry and Trade, 100% of villages and communes in the district participate in making handicraft products from sedge and water hyacinth with annual revenue of over 200 billion VND. Knitting handicrafts creates jobs for nearly 25,000 workers with a stable income of 2-5 million VND per month.</p>
                    </div>
                    <hr>
                    <div class="ssicon">
                        <p id="author">Sunday, November 2, 2021 - By: Tống Phương.</p>
                        <div class="save">
                            <a href="#">Save <i class="far fa-save"></i></a>
                        </div>
                        <div class="share">
                            <p>Share with
                                <a href="https://www.facebook.com/profile.php?id=100026899127699"><i class="fab fa-facebook"></i></a>
                                <a href="https://www.instagram.com/tp.linhxinh1805/"><i class="fab fa-instagram-square"></i></a>
                                <a href="https://www.wechat.com/vi/"><i class="fab fa-weixin"></i></a>
                                <a href="https://twitter.com/telegram?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fab fa-twitter"></i></a></p>
                        </div>
                    </div>
            </div>
            <!--      hết thúc element-->
        </div>
        <!--    hết content-->
    </div>

</div>
<!--kết thúc main-->
<%- include("footer")%>
</body>
</html>