<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/news_small.css">
    <link rel="stylesheet" href="fontawesome-free-5.15.4-/fontawesome-free-5.15.4-web/css/all.css">
    <link rel="stylesheet" href="fonts/fontawesome-free-5.15.4/css/all.css">
</head>
<body>
<!-------------HEADER-------------->
<div class="header">
    <%- include("header")%>

    <%- include("nav")%>
</div>
<div class="slider_main" style="width: 100% ;height: 400px;background-image: url('http://timbercompany.ancorathemes.com/wp-content/uploads/2016/07/parallax-4.jpg');float: left;margin-top: 30px ">
    <h1 style="text-align: center;line-height: 400px;color: #e9e4d0;font-size: 50px;text-transform: capitalize">news</h1>
</div>
<!--'phan main-->
<div class="container">
    <div class="main">
        <div class="list_product">
            <div class="top_list">
                <p ><b>product list</b></p>
            </div>
            <div class="list_box">
                <div class="list_box">
                    <a class="name_list" href="#"><b>interior</b></a>
                    <ul>
                        <li class ="list"><a href="/san-pham1"> wooden tables and chairs</a></li>
                        <li class="list"><a href="/san-pham2">wooden bed</a></li>
                        <li class="list"><a href="/san-pham3"> wooden collapset</a></li>
                        <li class="list"><a href="/san-pham4">wooden cabinets</a></li>
                    </ul>
                    <a class="name_list" href="#"><b>decorations</b></a>
                    <ul>
                        <li class="list"><a href="/san-pham5">clock</a></li>
                        <li class="list"><a href="/san-pham6">jewelry box</a></li>
                        <li class="list"><a href="/san-pham7">candy box</a></li>
                        <li class="list"><a href="/san-pham8">tea tray</a></li>
                    </ul>
                    <a class="name_list" href="#"><b>feng shui items</b></a>
                    <ul>
                        <li class="list"><a href="/san-pham9">feng shui statue</a></li>
                        <li class="list"><a href="/san-pham10">feng shui disk</a></li>
                        <li class="list"><a href="/san-pham11">lucky pot</a></li>
                        <li class="list"><a href="/san-pham12">feng shui jade</a></li>
                    </ul>
                    <a class="name_list" href="#"><b>bamboo handmade</b></a>
                    <ul>
                        <li class="list" href="#"><a href="/san-pham13">Fashion handmade</a></li>
                        <li class="list" href="#"><a href="/san-pham14">decorative accessories</a></li>
                        <li class="list"><a href="/san-pham15">Bamboo furniture</a></li>
                        <li class="list"><a href="/san-pham16">replacing plastic products</a></li>
                    </ul>
                    <a class="name_list" href="#"><b>Stone</b></a>
                    <ul>
                        <li class="list"><a href="/san-pham17">stone paintings</a></li>
                        <li class="list"><a href="/san-pham18">stone statue</a></li>
                        <li class="list"><a href="/san-pham19">Penjing</a></li>
                        <li class="list"><a href="/san-pham20">accessories</a></li>
                    </ul>
                </div>
                <div class="main_hot">
                    <div class="hot_list">
                        <p><b>Related News</b></p>
                    </div>
                    <div class="hot_box">
                        <div class="hot_box1">
                            <p>Hoi An opens the 3rd handicraft market night<br>
                                <a href="/new1">See more</a>
                                <i class="fas fa-eye"></i></p>
                        </div>
                        <hr>
                        <div class="hot_box1">
                            <p>Water hyacinth knitting abroad in Ninh Binh<br>
                                <a href="/new2">See more</a>
                                <i class="fas fa-eye"></i></p>
                        </div>
                        <hr>
                        <div class="hot_box1">
                            <p>Vietnam house - where the fine arts converge<br>
                                <a href="/new3">See more</a>
                                <i class="fas fa-eye"></i></p>
                        </div>
                        <hr>
                        <div class="hot_box1">
                            <p>Travel the world looking for handicrafts<br>
                                <a href="/new5">See more</a>
                                <i class="fas fa-eye"></i></p>
                        </div>
                        <hr>
                        <div class="hot_box1">
                            <p>Learn about handicraft products at Vietnam House<br>
                                <a href="/new4">See more</a>
                                <i class="fas fa-eye"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--    phần content-->
        <div class="content">
            <div class="element">
                <div id="name">
                    <h2>Vietnam house - where the fine arts converge</h2>
                </div>
                <div class="noidung">
                    <p>50 stalls and 12 miniature production models here represent 12 groups of Vietnamese handicraft villages.<br>

                        Saigon has many favorable conditions for development in all aspects, but in terms of handicrafts, handmade products are passed down from generation to generation, inheriting the spirit and techniques of ancestors. has not yet been cared for and developed. These items require effort, time, and meticulousness, but the profits are small compared to other products.</p>
                    <img src="https://file1.dangcongsan.vn/data/0/images/2020/12/15/kimdung/my-nghe.jpg" height="400px" width="80%"/>
                    <img src="https://laodongthudo.vn/stores/news_dataimages/vuque/082016/21/09/3836_203149_0.jpg"height="400px" width="80%"/>
                    <p>With the desire to contribute a small part to maintaining the quintessence of Vietnamese handicrafts in Saigon, Vietnam House was formed with 50 booths and 12 miniature production models. representing 12 groups of handicraft villages in Vietnam.<br>

                        Products here include bamboo and rattan; products from sedge and water hyacinth; ceramics; wood sculpture; lacquer; embroidery lace; stone sculpture; handmade weaving; construction paper; art picture; metal and other handicraft products. Besides, Vietnam House also has outdoor trial areas to facilitate customers to learn and make their own handicraft products.
                    </p>
                    <img src="https://f.thuongtruong.com.vn/IMAGES/2020/10/26/20201026210511835chap-canh-cho-hang-thu-cong-my-nghe-tai-thi-truong-68-0.jpg" width="80%" height="400px"/>
                    <p>The Vietnamese house has an area of 2,300 m2 next to the Saigon River, creating a convenient space for guests to visit, shop as well as learn and exchange about handicraft village culture. There are more than 2,500 products made by hand by Vietnamese artisans.<br>

                        With a spacious location and airy space, this is an interesting place for customers who are families to visit, shop and entertain during the weekend. Parents can shop while the children participate in outdoor product testing activities and enjoy ethnic music performances from 10:30 a.m. to 11:30 a.m. on Saturdays and Sundays.
                    </p>
                </div>
                <hr>
                <div class="ssicon">
                    <p id="author">Thursday, April 30, 2019 - By: Vũ Thanh.</p>
                    <div class="save">
                        <a href="#">Save <i class="far fa-save"></i></a>
                    </div>
                    <div class="share">
                        <p>Share with
                            <a href="https://www.facebook.com/profile.php?id=100026899127699"><i class="fab fa-facebook"></i></a>
                            <a href="https://www.instagram.com/tp.linhxinh1805/"><i class="fab fa-instagram-square"></i></a>
                            <a href="https://www.wechat.com/vi/"><i class="fab fa-weixin"></i></a>
                            <a href="https://twitter.com/telegram?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fab fa-twitter"></i></a></p>
                    </div>
                </div>
            </div>
            <!--      hết thúc element-->
        </div>
        <!--    hết content-->
    </div>

</div>
<!--kết thúc main-->
<%- include("footer")%>
</body>
</html>