<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel the world looking for handicrafts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="css/allsmallnews.css">
    <link rel="stylesheet" href="fonts/fontawesome-free-5.15.4/css/all.css">
</head>
<body>
<!-------------HEADER-------------->
<!-------------HEADER-------------->
<%- include("header")%>

<%- include("nav")%>

<!------------main--------------->
<div class="page">
    <div class="slider_main" style="width: 100% ;height: 400px;background-image: url('http://timbercompany.ancorathemes.com/wp-content/uploads/2016/07/parallax-4.jpg');float: left;margin-top: 30px;font-weight: 800">
        <h1 style="text-align: center;line-height: 400px;color: #e9e4d0;font-size: 50px;text-transform: capitalize">News</h1>
    </div>
    <div class="container">
        <div>
            <div class="row">
                <div id="sour">
                    <div class="sor">
                        <div class="row">
                            <div class="col-12 a-left">
                                <ul class="breadcrumb">
                                    <li class="home">
                                        <a href="#"><span>Home</span></a>
                                        <span class="g">/</span>
                                    </li>
                                    <li>
                                        <strong><span>Trending news</span></strong>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12 order-2 order-lg-1">
                    <div class="aside-item">
                        <div class="main">

                            <div class="top_list">
                                <p ><b>product list</b></p>
                            </div>
                            <div class="list_box">
                                <a class="name_list"><b>Bat Trang ceramics</b></a>
                                <ul>
                                    <li class ="list"><a href="#">Dinner table</a></li>
                                    <li class="list"><a href="#">Teapot</a></li>
                                    <li class="list"><a href="#">Worship set</a></li>
                                    <li class="list"><a href="#">Statue</a></li>
                                </ul>
                                <a class="name_list"><b>Lacquer painting</b></a>
                                <ul>
                                    <li class="list"><a href="#">Picasso paintings</a></li>
                                    <li class="list"><a href="#">Calligraphy painting</a></li>
                                    <li class="list"><a href="#">Lacquer painting</a></li>
                                    <li class="list"><a href="#">Vietnamese paintings</a></li>
                                </ul>
                                <a class="name_list"><b>Model boat</b></a>
                                <ul>
                                    <li class="list"><a href="#">Premium model ship</a></li>
                                    <li class="list"><a href="#">Ancient warship</a></li>
                                    <li class="list"><a href="#">Wooden sailing boat</a></li>
                                    <li class="list"><a href="#">Model in bottle</a></li>
                                </ul>
                                <a class="name_list"><b>Ha Dong silk</b></a>
                                <ul>
                                    <li class="list"><a href="#">Ready-made silk Ao Dai</a></li>
                                    <li class="list"><a href="#">Men's silk shirt</a></li>
                                    <li class="list"><a href="#">Embroidery</a></li>
                                    <li class="list"><a href="#">Scarf</a></li>
                                </ul>
                                <a class="name_list"><b>Dai Bai Bronze</b></a>
                                <ul>
                                    <li class="list"><a href="#">Premium bronze painting</a></li>
                                    <li class="list"><a href="#">Bronze Worship Set</a></li>
                                    <li class="list"><a href="#">Bronze painting</a></li>
                                    <li class="list"><a href="#">Drums</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="aside-blog">
                            <div class="hot_list">
                                <p><b>Related News</b></p>
                            </div>
                            <div class="hot_box">
                                <div class="hot_box1">
                                    <p>Hoi An opens the 3rd handicraft market night<br>
                                        <a href="#">See more</a>
                                        <i class="fas fa-eye"></i></p>
                                </div>
                                <hr>
                                <div class="hot_box1">
                                    <p>Water hyacinth knitting abroad in Ninh Binh<br>
                                        <a href="#">See more</a>
                                        <i class="fas fa-eye"></i></p>
                                </div>
                                <hr>
                                <div class="hot_box1">
                                    <p>Vietnam house - where the fine arts converge<br>
                                        <a href="#">See more</a>
                                        <i class="fas fa-eye"></i></p>
                                </div>
                                <hr>
                                <div class="hot_box1">
                                    <p>Thien Phu Stone Wood creates a highlight for living space<br>
                                        <a href="#">See more</a>
                                        <i class="fas fa-eye"></i></p>
                                </div>
                                <hr>
                                <div class="hot_box1">
                                    <p>The reason you must go to Hua Hin once<br>
                                        <a href="#">See more</a>
                                        <i class="fas fa-eye"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-12 order-1 order-lg-2">
                    <div id="name">
                        <h2>Travel the world looking for handicrafts</h2>
                    </div>
                    <div class="noidung">
                        <p>As an architect, a lover of travel, fond of collecting handicrafts from other countries, Ms. Le Nguyen Huong Giang has traveled to nearly 60 countries.. She went to visit many craft villages, looking for products that crystallized creativity and culture of folk artisans everywhere to introduce and beautify Vietnamese houses.</p>
                        <img src="https://image.thanhnien.vn/2048/uploaded/minhnguyet/2015_12_29/thucong4_xhjr.jpg" height="400px" width="80%"/>
                        <p>Traveling alone, always making her own schedule, in her travels to nearly 60 countries, Huong Giang often visits markets and villages to make handicrafts as a special passion. . She loves handmade products of passing lands such as Turkey, Russia, Sri Lanka, Bangladesh, Iran, Laos, Myanmar, USA, Netherlands... she collects and brings it to the small shop opened by herself and her associates. to "serve" those who like to hunt for unique goods.</p>
                        <img src="https://image.thanhnien.vn/2048/uploaded/minhnguyet/2015_12_29/thucong1_nhjy.jpg" width="80%" height="400px"/>
                        <p>Ms. Huong Giang's strong personality is clearly reflected in the way she works, as she is very active and always likes to explore new markets. Although she has traveled to many places, she shared: “Actually, the numbers do not show anything, the important thing is what I can do, what I collect after the trips. In the early years, I wanted to go everywhere quickly, a lot, then gradually I liked to slow down the journey, go to small peaceful villages, find strange lands that tourists rarely visit. There are countries that come a few times like the US, Turkey, there are places to come 20 times like Malaysia, there are places to come and stay like Myanmar…”.<br>
                            Like salmon that often go upstream, in the architecture industry, Ms. Giang is not "entrenched" in the country like many other colleagues, but actively attacks foreign markets. From the 2010s, she went to Cambodia alone to receive tenders to design projects here. Then in 2012, when the Myanmar market opened for foreigners to invest, she opened a branch alone, knocked on every door to market and brought the contract to her company. “Initially because it was strange, when they accepted to contact me, companies in Myanmar just wanted to find out what Vietnamese design is like. Then more contracts because they believe in the aesthetics and creativity of Vietnamese architects, no less than other foreign companies. For more and more prestigious projects, I was introduced to Bangladesh to carry out design work…. Not only traveling, I try to find local items. When I travel for work, I often spend a few days learning about the culture, people, and local markets - this helps me in coming up with design ideas as well as collecting more items to take home. One merit and many benefits”.</p>
                        <img src="https://image.thanhnien.vn/2048/uploaded/minhnguyet/2015_12_29/thucong_ilwo.jpg" width="80%" height="400px"/>
                        <p>The guideline for Huong Giang's long journey is "to join the custom", to each country must respect their beliefs and culture in order to be respected again. Even buying and selling has a different style: “When you come to Turkey, you can't bargain because they won't sell no matter what price you pay. Even if I buy wholesale at the whole store, the seller still does not reduce the money, but when shipping long distances, in the order, there will be an additional 5% of the amount of goods that are missed on the road, ceramic and glass items will be damaged. If it breaks, there is a replacement product. In Sri Lanka, too, this country is famous for silk fabrics and embroidered goods, extremely beautiful handmade leather goods. If you fall in love with souvenirs here or home decoration items, then just buy it vigorously, don't waste money, because compared to the selling price elsewhere, it is still very good. Don't bid, because even a few people won't sell."</p>
                        <img src="https://image.thanhnien.vn/2048/uploaded/minhnguyet/2015_12_29/thucong2_xcho.jpg" width="80%" height="500px"/>
                        <p>Ms. Giang said that the country that makes beautiful and sophisticated handicrafts that both she and her Vietnamese customers love is Myanmar. Here, there are craft villages that make giant paper animals, umbrellas with many colorful motifs, or unique and fancy wooden decorations… The sellers here are appreciated by tourists everywhere as Friendly, cute, but when ordering goods in Myanmar, Ms. Giang also has many small problems. “Here, when you go shopping, you have to wait. Even if you order a lot, you have to be told again and again before coming to receive the goods, you still have to be prepared for no goods because their workers refuse to do it, or today is a holiday... If you like it, just wait. However, beauty has the right, those who really want to buy have to wait," she shared with a smile.</p>
                        <img src="https://image.thanhnien.vn/2048/uploaded/minhnguyet/2015_12_29/thucong3_pgtm.jpg" width="80%" height="400px"/>
                        <p>The place where you always have to be careful to pay the price and be careful when buying the goods that Ms. Giang recommends is Egypt. Not only buying goods, when using services also need to be careful. The country is beautiful, the carpets are beautiful, the leather goods are also beautiful but easily "cut".<br>
                            Flying back and forth between Vietnam and other countries, friends see her sometimes in one country, sometimes in another. For her: “Traveling is also a way to relax. Going to strange lands helps me find new creative inspiration, design many beautiful projects, and then help homeowners in Vietnam decorate their living space in the most unique and personal way.</p>
                    </div>
                    <hr>
                    <div class="ssicon">
                        <p id="author">August, September 1, 2011 - By: Đức Hùng.</p>
                        <div class="save">
                            <a href="#">Save <i class="far fa-save"></i></a>
                        </div>
                        <div class="share">
                            <p>Share with
                                <a href="https://www.facebook.com/profile.php?id=100026899127699"><i class="fab fa-facebook"></i></a>
                                <a href="https://www.instagram.com/tp.linhxinh1805/"><i class="fab fa-instagram-square"></i></a>
                                <a href="https://www.wechat.com/vi/"><i class="fab fa-weixin"></i></a>
                                <a href="https://twitter.com/telegram?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fab fa-twitter"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-------footer----------->
<%- include("footer")%>
</body>
</html>