<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Healthy living from 3D painting on cobblestone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="css/allsmallnews.css">
    <link rel="stylesheet" href="fonts/fontawesome-free-5.15.4/css/all.css">
</head>
<body>
<!-------------HEADER-------------->
<%- include("header")%>

<%- include("nav")%>

<!------------main--------------->
<div class="page">
    <div class="slider_main" style="width: 100% ;height: 400px;background-image: url('http://timbercompany.ancorathemes.com/wp-content/uploads/2016/07/parallax-4.jpg');float: left;margin-top: 30px;font-weight: 800">
        <h1 style="text-align: center;line-height: 400px;color: #e9e4d0;font-size: 50px;text-transform: capitalize">News</h1>
    </div>
    <div class="container">
        <div>
            <div class="row">
                <div id="sour">
                    <div class="sor">
                        <div class="row">
                            <div class="col-12 a-left">
                                <ul class="breadcrumb">
                                    <li class="home">
                                        <a href="#"><span>Home</span></a>
                                        <span class="g">/</span>
                                    </li>
                                    <li>
                                        <strong><span>Trending news</span></strong>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12 order-2 order-lg-1">
                    <div class="aside-item">
                        <div class="main">

                            <div class="top_list">
                                <p ><b>product list</b></p>
                            </div>
                            <div class="list_box">
                                <a class="name_list"><b>Bat Trang ceramics</b></a>
                                <ul>
                                    <li class ="list"><a href="#">Dinner table</a></li>
                                    <li class="list"><a href="#">Teapot</a></li>
                                    <li class="list"><a href="#">Worship set</a></li>
                                    <li class="list"><a href="#">Statue</a></li>
                                </ul>
                                <a class="name_list"><b>Lacquer painting</b></a>
                                <ul>
                                    <li class="list"><a href="#">Picasso paintings</a></li>
                                    <li class="list"><a href="#">Calligraphy painting</a></li>
                                    <li class="list"><a href="#">Lacquer painting</a></li>
                                    <li class="list"><a href="#">Vietnamese paintings</a></li>
                                </ul>
                                <a class="name_list"><b>Model boat</b></a>
                                <ul>
                                    <li class="list"><a href="#">Premium model ship</a></li>
                                    <li class="list"><a href="#">Ancient warship</a></li>
                                    <li class="list"><a href="#">Wooden sailing boat</a></li>
                                    <li class="list"><a href="#">Model in bottle</a></li>
                                </ul>
                                <a class="name_list"><b>Ha Dong silk</b></a>
                                <ul>
                                    <li class="list"><a href="#">Ready-made silk Ao Dai</a></li>
                                    <li class="list"><a href="#">Men's silk shirt</a></li>
                                    <li class="list"><a href="#">Embroidery</a></li>
                                    <li class="list"><a href="#">Scarf</a></li>
                                </ul>
                                <a class="name_list"><b>Dai Bai Bronze</b></a>
                                <ul>
                                    <li class="list"><a href="#">Premium bronze painting</a></li>
                                    <li class="list"><a href="#">Bronze Worship Set</a></li>
                                    <li class="list"><a href="#">Bronze painting</a></li>
                                    <li class="list"><a href="#">Drums</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="aside-blog">
                            <div class="hot_list">
                                <p><b>Related News</b></p>
                            </div>
                            <div class="hot_box">
                                <div class="hot_box1">
                                    <p>Hoi An opens the 3rd handicraft market night<br>
                                        <a href="#">See more</a>
                                        <i class="fas fa-eye"></i></p>
                                </div>
                                <hr>
                                <div class="hot_box1">
                                    <p>Water hyacinth knitting abroad in Ninh Binh<br>
                                        <a href="#">See more</a>
                                        <i class="fas fa-eye"></i></p>
                                </div>
                                <hr>
                                <div class="hot_box1">
                                    <p>Vietnam house - where the fine arts converge<br>
                                        <a href="#">See more</a>
                                        <i class="fas fa-eye"></i></p>
                                </div>
                                <hr>
                                <div class="hot_box1">
                                    <p>Thien Phu Stone Wood creates a highlight for living space<br>
                                        <a href="#">See more</a>
                                        <i class="fas fa-eye"></i></p>
                                </div>
                                <hr>
                                <div class="hot_box1">
                                    <p>The reason you must go to Hua Hin once<br>
                                        <a href="#">See more</a>
                                        <i class="fas fa-eye"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-12 order-1 order-lg-2">
                    <div id="name">
                        <h2>Healthy living from 3D painting on cobblestone</h2>
                    </div>
                    <div class="noidung">
                        <p>From pebbles picked up in rivers and streams, a resident in Nha Trang (Khanh Hoa) has created unique 3D paintings, bringing a good source of income.</p>
                        <img src="https://image.thanhnien.vn/2048/uploaded/hoangnam/2016_07_29/5b3706015d_369372_ve_tranh_tren_da_cuoi_2_ajft.jpg" width="700px" height="500px"/>
                        <p>Mr. Dau Quang Thanh (29 years old, in Vinh Hai Ward, Nha Trang City, Khanh Hoa) was born into a difficult family in Ha Tinh. After finishing high school, he worked many jobs to earn a living. Since childhood, he had a hobby of drawing, so every free time he took a brush to paint on paper the natural scenes, everyday life, and then hung it in his room. After more than 2 years of hard work but still struggling, in 2008, Mr. Thanh determined to enter Hue University of Arts to be more fully equipped for the art of drawing and to pursue his passion. "During the day, I go to school, and at night, I often go to the street to walk near Truong Tien Bridge to draw portraits for tourists, while earning more money to study and improve my skills," Thanh said.<br>
                            After graduating from school in 2013, Mr. Thanh moved to Nha Trang to start a business and earn a living by painting and sketching portraits. He came to the painting on cobblestone by accident. During an outing with friends, he saw that the pebbles along rivers and streams had strange shapes, so he had the thought of turning inanimate stones into works of art. He picked up the pebbles and tried to draw some animals and landscapes on them. The first brush strokes were a bit skewed because the rough, rough stone surface made the brush feel unsatisfactory, Thanh had to paint and re-edit many new details to his satisfaction. After completing a few paintings, he took pictures and posted them on his personal Facebook and received many compliments about the uniqueness of the work. “I didn't expect so many people to like painting on cobblestones. Many people have contacted to ask to buy paintings and order themselves to draw. Every time I put a paintbrush on the cobblestone, I am also very excited, because I feel there is something very close to nature, "said Thanh.</p>
                        <img src="https://file.hstatic.net/1000383564/file/dressed_to_the_nines_998d61e0032042198c031e0713c52829_grande.jpg" width="700px" height="500px"/>
                        <p>Thanh said that at first he painted paintings on rocks in the traditional style, but now he focuses on painting in the style of 3D paintings, because this type of painting is more popular because of the vibrancy of the work, creating a real feeling for people. viewers. Thanh said that once a customer came to him to get a portrait to order him to paint, at this time the customer did not know that he could paint 3D paintings on rocks, so when he entered Thanh's room to work, he saw 3D paintings on cobblestones. frogs, geckos, birds... I thought Mr. Thanh was a lover of playing... pets. Thanh shared: "3D painting is more difficult because it has to be meticulous, in addition to choosing the right stone design to highlight the theme, you also have to take the layout, create shadows, light, shapes... Cong That's the way it is, so when it's finished, the work will have depth, life, and realism."</p>
                        <img src="https://songmoi.vn/public/upload_editor/posts/images/tac-pham-tu-da-cuoi-5.jpg" width="700px" height="500px"/>
                        <p>To get painting pebbles, Mr. Thanh had to wander along rivers and streams, up to the highland districts to search. He wanted to find the stone himself, because every stone he found, he had an idea in his head what to draw. On each trip, he usually earns a few dozen to hundreds of satisfactory pebbles. “Cobblestone has strange shapes, so I often rely on the characteristics of each stone to shape the work. The beauty of cobblestone is that no one seems to be the same in shape and size, so paintings on cobblestones are often "unique" paintings, Thanh said.<br>

                            Currently, 3D paintings on cobblestone are considered the mainstay of Thanh's gallery. Every day he can paint 3 - 5 3D pictures on small pebbles with his hands, selling for from 50,000 - 70,000 VND/picture; Large paintings on demand are usually at 300,000 - 500,000 VND/picture, depending on the size and subject. Thanh's customers are not only in Nha Trang but also in many other provinces and cities. "Recently, there are 2 souvenir shops in Ho Chi Minh City contacting me, ordering a large number of paintings on cobblestones on many topics, so I can't do all the work," Thanh boasted.</p>
                    </div>
                    <hr>
                    <div class="ssicon">
                        <p id="author">Friday, September 3, 2021 - By: Viet Minh.</p>
                        <div class="save">
                            <a href="#">Save <i class="far fa-save"></i></a>
                        </div>
                        <div class="share">
                            <p>Share with
                                <a href="https://www.facebook.com/profile.php?id=100026899127699"><i class="fab fa-facebook"></i></a>
                                <a href="https://www.instagram.com/tp.linhxinh1805/"><i class="fab fa-instagram-square"></i></a>
                                <a href="https://www.wechat.com/vi/"><i class="fab fa-weixin"></i></a>
                                <a href="https://twitter.com/telegram?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fab fa-twitter"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-------footer----------->
<%- include("footer")%>
</body>
</html>