<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/news_small.css">
    <link rel="stylesheet" href="fontawesome-free-5.15.4-/fontawesome-free-5.15.4-web/css/all.css">
    <link rel="stylesheet" href="fonts/fontawesome-free-5.15.4/css/all.css">
</head>
<body>
<!-------------HEADER-------------->
<div class="header">
    <%- include("header")%>

    <%- include("nav")%>
</div>
<div class="slider_main" style="width: 100% ;height: 400px;background-image: url('http://timbercompany.ancorathemes.com/wp-content/uploads/2016/07/parallax-4.jpg');float: left;margin-top: 30px ">
    <h1 style="text-align: center;line-height: 400px;color: #e9e4d0;font-size: 50px;text-transform: capitalize">news</h1>
</div>
<!--'phan main-->
<div class="container">
    <div class="main">
        <div class="list_product">
            <div class="top_list">
                <p ><b>product list</b></p>
            </div>
            <div class="list_box">
                <div class="list_box">
                    <a class="name_list" href="#"><b>interior</b></a>
                    <ul>
                        <li class ="list"><a href="/san-pham1"> wooden tables and chairs</a></li>
                        <li class="list"><a href="/san-pham2">wooden bed</a></li>
                        <li class="list"><a href="/san-pham3"> wooden collapset</a></li>
                        <li class="list"><a href="/san-pham4">wooden cabinets</a></li>
                    </ul>
                    <a class="name_list" href="#"><b>decorations</b></a>
                    <ul>
                        <li class="list"><a href="/san-pham5">clock</a></li>
                        <li class="list"><a href="/san-pham6">jewelry box</a></li>
                        <li class="list"><a href="/san-pham7">candy box</a></li>
                        <li class="list"><a href="/san-pham8">tea tray</a></li>
                    </ul>
                    <a class="name_list" href="#"><b>feng shui items</b></a>
                    <ul>
                        <li class="list"><a href="/san-pham9">feng shui statue</a></li>
                        <li class="list"><a href="/san-pham10">feng shui disk</a></li>
                        <li class="list"><a href="/san-pham11">lucky pot</a></li>
                        <li class="list"><a href="/san-pham12">feng shui jade</a></li>
                    </ul>
                    <a class="name_list" href="#"><b>bamboo handmade</b></a>
                    <ul>
                        <li class="list" href="#"><a href="/san-pham13">Fashion handmade</a></li>
                        <li class="list" href="#"><a href="/san-pham14">decorative accessories</a></li>
                        <li class="list"><a href="/san-pham15">Bamboo furniture</a></li>
                        <li class="list"><a href="/san-pham16">replacing plastic products</a></li>
                    </ul>
                    <a class="name_list" href="#"><b>Stone</b></a>
                    <ul>
                        <li class="list"><a href="/san-pham17">stone paintings</a></li>
                        <li class="list"><a href="/san-pham18">stone statue</a></li>
                        <li class="list"><a href="/san-pham19">Penjing</a></li>
                        <li class="list"><a href="/san-pham20">accessories</a></li>
                    </ul>
                </div>
                <div class="main_hot">
                    <div class="hot_list">
                        <p><b>Related News</b></p>
                    </div>
                    <div class="hot_box">
                        <div class="hot_box1">
                            <p>Hoi An opens the 3rd handicraft market night<br>
                                <a href="/new1">See more</a>
                                <i class="fas fa-eye"></i></p>
                        </div>
                        <hr>
                        <div class="hot_box1">
                            <p>Water hyacinth knitting abroad in Ninh Binh<br>
                                <a href="/new2">See more</a>
                                <i class="fas fa-eye"></i></p>
                        </div>
                        <hr>
                        <div class="hot_box1">
                            <p>Vietnam house - where the fine arts converge<br>
                                <a href="/new3">See more</a>
                                <i class="fas fa-eye"></i></p>
                        </div>
                        <hr>
                        <div class="hot_box1">
                            <p>Travel the world looking for handicrafts<br>
                                <a href="/new5">See more</a>
                                <i class="fas fa-eye"></i></p>
                        </div>
                        <hr>
                        <div class="hot_box1">
                            <p>Learn about handicraft products at Vietnam House<br>
                                <a href="/new4">See more</a>
                                <i class="fas fa-eye"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--    phần content-->
        <div class="content">
            <div class="element">
                <div id="name">
                    <h2>5 Ways to "Make" Old Bicycles Brighten Up Space</h2>
                </div>
                <div class="noidung">
                    <p><i><b>Old cars have great values that you don't expect, sometimes we have a habit of throwing away old things that no one is interested in keeping them. Usually, old bicycles will be taken to a scrap metal shop. However, you can completely recycle them into beautiful home decorations. This way, you can both get stylish items and keep your mementos.</b></i></p>
                    <p><b>1. Sparkling chandeliers</b></p>
                    <img src="https://blog.goxanh.vn/wp-content/uploads/5-cach-ho-bien-xe-dap-cu-ky-thanh-noi-bung-sang-khong-gian-3.jpg" height="500px" width="70%"/>
                    <p>To create a warm atmosphere for the living room, romantic for the bedroom and playful for the dining room, a shimmering chandelier is indispensable. More specifically, with the old bike you will own a set of shimmering chandeliers, however, it requires you to invest a lot of effort. Also the first step is to clean the spare parts, next is to fix the iron hooks around the wheel and hang the springs as shown in the picture. Finally, thread the wire through the springs to hang the lights in place, you can also decorate the edge of the bulb with a car chain.</p>
                    <p><b>2. Novelty accessories</b></p>
                    <img src="https://blog.goxanh.vn/wp-content/uploads/5-cach-ho-bien-xe-dap-cu-ky-thanh-noi-bung-sang-khong-gian-4.jpg" height="500px" width="70%"/>
                    <p>There are many accessories that can be created from old bike parts such as: mirrors, picture frames, candle holders, or more creatively, unique photo shelves, …An old bike also has can be repainted and used as a decorative figurine in the home.</p>
                    <p><b>3. Take advantage to plant trees</b></p>
                    <img src="https://blog.goxanh.vn/wp-content/uploads/5-cach-ho-bien-xe-dap-cu-ky-thanh-noi-bung-sang-khong-gian-5.jpg" height="500px" width="70%"/>
                    <p>Planting trees on bicycles is also not a bad idea. For those who love gardening and taking care of plants, there are many great ideas to transform your garden. They can be a place for you to plant flowers or disassemble the wheel to make a trellis for climbing plants in the garden, for example.</p>
                    <p><b>4. Unique tray</b></p>
                    <img src="https://blog.goxanh.vn/wp-content/uploads/5-cach-ho-bien-xe-dap-cu-ky-thanh-noi-bung-sang-khong-gian-2-1.jpg" height="500px" width="70%"/>
                    <p>Family meals are very important, this will be the time when members gather to talk to each other after a hard working day. We often tend to choose compact, round tables for ease of use, however, with an old wheel you can create your own unique spinning wheel. The necessary material for this creation in addition to the bicycle wheel, you need to prepare an additional sheet of glass that fits the wheel, a thick round plastic sheet that is smaller than the wheel. Now let's get to work, you need to clean the material, then attach the fixed wheel shaft to the center of the plastic sheet to create balance and distance with the table surface, and finally place the standard glass plate. available on the wheel rim. Thus, your home meal has become more attractive and interesting.</p>
                </div>
                <hr>
                <div class="ssicon">
                    <p id="author">Friday, September 3, 2021 - By: Viet Minh.</p>
                    <div class="save">
                        <a href="#">Save <i class="far fa-save"></i></a>
                    </div>
                    <div class="share">
                        <p>Share with
                            <a href="https://www.facebook.com/profile.php?id=100026899127699"><i class="fab fa-facebook"></i></a>
                            <a href="https://www.instagram.com/tp.linhxinh1805/"><i class="fab fa-instagram-square"></i></a>
                            <a href="https://www.wechat.com/vi/"><i class="fab fa-weixin"></i></a>
                            <a href="https://twitter.com/telegram?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fab fa-twitter"></i></a></p>
                    </div>
                </div>
            </div>
                <!--      hết thúc element-->
        </div>
            <!--    hết content-->
        </div>

    </div>
    <!--kết thúc main-->
    <%- include("footer")%>
</body>
</html>