<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/newsss.css">
    <link rel="stylesheet" href="fontawesome-free-5.15.4-/fontawesome-free-5.15.4-web/css/all.css">
    <link rel="stylesheet" href="fonts/fontawesome-free-5.15.4/css/all.css">
</head>
<body>
<!-------------HEADER-------------->
<div class="header">
    <%- include("header")%>

    <%- include("nav")%>
</div>
<div class="slider_main" style="width: 100% ;height: 400px;background-image: url('http://timbercompany.ancorathemes.com/wp-content/uploads/2016/07/parallax-4.jpg');float: left;margin-top: 30px ">
    <h1 style="text-align: center;line-height: 400px;color: #e9e4d0;font-size: 50px;text-transform: capitalize">news</h1>
</div>
<!--'phan main-->
<div class="container">
    <div class="main">
        <div class="list_product">
            <div class="top_list">
                <p ><b>product list</b></p>
            </div>
            <div class="list_box">
                <div class="list_box">
                    <a class="name_list" href="#"><b>interior</b></a>
                    <ul>
                        <li class ="list"><a href="/san-pham1"> wooden tables and chairs</a></li>
                        <li class="list"><a href="/san-pham2">wooden bed</a></li>
                        <li class="list"><a href="/san-pham3"> wooden collapset</a></li>
                        <li class="list"><a href="/san-pham4">wooden cabinets</a></li>
                    </ul>
                    <a class="name_list" href="#"><b>decorations</b></a>
                    <ul>
                        <li class="list"><a href="/san-pham5">clock</a></li>
                        <li class="list"><a href="/san-pham6">jewelry box</a></li>
                        <li class="list"><a href="/san-pham7">candy box</a></li>
                        <li class="list"><a href="/san-pham8">tea tray</a></li>
                    </ul>
                    <a class="name_list" href="#"><b>feng shui items</b></a>
                    <ul>
                        <li class="list"><a href="/san-pham9">feng shui statue</a></li>
                        <li class="list"><a href="/san-pham10">feng shui disk</a></li>
                        <li class="list"><a href="/san-pham11">lucky pot</a></li>
                        <li class="list"><a href="/san-pham12">feng shui jade</a></li>
                    </ul>
                    <a class="name_list" href="#"><b>bamboo handmade</b></a>
                    <ul>
                        <li class="list" href="#"><a href="/san-pham13">Fashion handmade</a></li>
                        <li class="list" href="#"><a href="/san-pham14">decorative accessories</a></li>
                        <li class="list"><a href="/san-pham15">Bamboo furniture</a></li>
                        <li class="list"><a href="/san-pham16">replacing plastic products</a></li>
                    </ul>
                    <a class="name_list" href="#"><b>Stone</b></a>
                    <ul>
                        <li class="list"><a href="/san-pham17">stone paintings</a></li>
                        <li class="list"><a href="/san-pham18">stone statue</a></li>
                        <li class="list"><a href="/san-pham19">Penjing</a></li>
                        <li class="list"><a href="/san-pham20">accessories</a></li>
                    </ul>
                </div>
                <div class="main_hot">
                    <div class="hot_list">
                        <p><b>Related News</b></p>
                    </div>
                    <div class="hot_box">
                        <div class="hot_box1">
                            <p>Hoi An opens the 3rd handicraft market night<br>
                                <a href="/new1">See more</a>
                                <i class="fas fa-eye"></i></p>
                        </div>
                        <hr>
                        <div class="hot_box1">
                            <p>Water hyacinth knitting abroad in Ninh Binh<br>
                                <a href="/new2">See more</a>
                                <i class="fas fa-eye"></i></p>
                        </div>
                        <hr>
                        <div class="hot_box1">
                            <p>Vietnam house - where the fine arts converge<br>
                                <a href="/new3">See more</a>
                                <i class="fas fa-eye"></i></p>
                        </div>
                        <hr>
                        <div class="hot_box1">
                            <p>Travel the world looking for handicrafts<br>
                                <a href="/new5">See more</a>
                                <i class="fas fa-eye"></i></p>
                        </div>
                        <hr>
                        <div class="hot_box1">
                            <p>Learn about handicraft products at Vietnam House<br>
                                <a href="/new4">See more</a>
                                <i class="fas fa-eye"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--    phần content-->
        <div class="content">
            <div class="element">
                <a href="/new1">
                    <img src="https://vcdn1-dulich.vnecdn.net/2019/07/14/8-1563078544.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=Bl1tPDscA7h1MnqCe727pQ"/>
                    <h3>Hoi An opens the 3rd handicraft market night</h3></a>
                <p>The new night market is located right next to Hoi An market, operating from 6pm to 11pm every night, selling typical souvenirs of the old town....</p>
                <p class="icbot">15/08/2021 - by: Ego Creative <i class="fas fa-thumbs-up"></i></p>
            </div>
            <div class="element">
                <a href="/new2">
                    <img src="http://blogcaycanh.vn/uploads/caycanh/1401854096_cay-beo-luc-binh-2.jpg"/>
                    <h3>Water hyacinth knitting abroad in Ninh Binh</h3></a>
                <p>Water hyacinth stem, through the skillful hands of craftsmen in Kim Son district (Ninh Binh), has become an export fine art product with high economic value.....</p>
                <p class="icbot">15/08/2021 - by: Ego Creative <i class="fas fa-thumbs-up"></i></p>
            </div>
            <div class="element">
                <a href="/new3">
                    <img src="https://file1.dangcongsan.vn/data/0/images/2020/12/15/kimdung/my-nghe.jpg"/>
                    <h3>Vietnam house - where the fine arts converge</h3></a>
                <p>50 stalls and 12 miniature production models here represent 12 groups of Vietnamese handicraft villages.Saigon has many favorable conditions for development in all....</p>
                <p class="icbot">15/08/2021 - by: Ego Creative <i class="fas fa-thumbs-up"></i></p>
            </div>
            <div class="element">
                <a href="/new4">
                    <img src="https://blog.goxanh.vn/wp-content/uploads/nhung-mon-do-trang-tri-nha-tu-hinh-luc-giac-bat-mat-8.jpg"/>
                    <h3>Eye-catching Hexagonal Home Decorations</h3></a>
                <p>The hexagon, aka honeycomb shape has really gained popularity when it comes to interior design. If you are a fan of geometric patterns then scroll down and check out these....</p>
                <p class="icbot">15/08/2021 - by: Ego Creative <i class="fas fa-thumbs-up"></i></p>
            </div>
            <div class="element">
                <a href="/new5">
                    <img src="https://file.hstatic.net/1000383564/file/dressed_to_the_nines_998d61e0032042198c031e0713c52829_grande.jpg"/>
                    <h3>Healthy living from 3D painting on cobblestone</h3></a>
                <p>From pebbles picked up in rivers and streams, a resident in Nha Trang (Khanh Hoa) has created unique 3D paintings, bringing a good source of income.....</p>
                <p class="icbot">15/08/2021 - by: Ego Creative <i class="fas fa-thumbs-up"></i></p>
            </div>
            <div class="element">
                <a href="/new6">
                    <img src="https://image.thanhnien.vn/2048/uploaded/minhnguyet/2015_12_29/thucong4_xhjr.jpg"/>
                    <h3>Travel the world looking for handicrafts</h3></a>
                <p>As an architect, a lover of travel, fond of collecting handicrafts from other countries, Ms. Le Nguyen Huong Giang has traveled to nearly 60 countries....</p>
                <p class="icbot">15/08/2021 - by: Ego Creative <i class="fas fa-thumbs-up"></i></p>
            </div>

            <div class="element">
            <a href="/new7">
                    <img src="https://image.thanhnien.vn/2048/uploaded/congthang/2016_02_23/1_bqvt.jpg"/>
                    <h3>Learn about handicraft products at Vietnam House</h3></a>
                <p>Vietnam house, designed by architect Vo Trong Nghia with the main materials of wood and bamboo, has just opened to visitors at 187 Nguyen Van Huong, Thao Dien Ward, District 2, Ho Chi Minh City....</p>
                <p class="icbot">15/08/2021 - by: Ego Creative <i class="fas fa-thumbs-up"></i></p>
            </div>

            <div class="element">
                <a href="/new8">
                    <img src="https://blog.goxanh.vn/wp-content/uploads/5-cach-ho-bien-xe-dap-cu-ky-thanh-noi-bung-sang-khong-gian-3.jpg"/>
                    <h3>5 Ways to "Make" Old Bicycles Brighten Up Space</h3></a>
                <p>Old cars have great values that you don't expect, sometimes we have a habit of throwing away old things that no one is interested in keeping them. Usually, old bicycles will be taken....</p>
                <p class="icbot">15/08/2021 - by: Ego Creative <i class="fas fa-thumbs-up"></i></p>
            </div>
            <div class="element">
                <a href="/new9">
                    <img src="https://blog.goxanh.vn/wp-content/uploads/muon-kieu-sang-tao-cung-tre-nua-6.jpg"/>
                    <h3>All Kinds of Creation With Bamboo</h3>
                </a>
                <p>Bamboo is the perfect choice if you want to add wood tones to your interior because they soften the atmosphere in your home and make it more comfortable and inviting....</p>
                <p class="icbot">15/08/2021 - by: Ego Creative <i class="fas fa-thumbs-up"></i></p>
            </div>



            <!--      hết thúc element-->
        </div>
        <!--    hết content-->
    </div>

</div>
<!--kết thúc main-->
<%- include("footer")%>
</body>
</html>