<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trending News</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="css/news_small.css">
    <link rel="stylesheet" href="fontawesome-free-5.15.4-/fontawesome-free-5.15.4-web/css/all.css">
    <link rel="stylesheet" href="fonts/fontawesome-free-5.15.4/css/all.css">
</head>
<body>
<!-------------HEADER-------------->
<%- include("header")%>

<%- include("nav")%>

<!------------main--------------->
<div class="page">
    <div class="slider_main" style="width: 100% ;height: 400px;background-image: url('http://timbercompany.ancorathemes.com/wp-content/uploads/2016/07/parallax-4.jpg');float: left;margin-top: 30px ">
            <h1 style="text-align: center;line-height: 400px;color: #e9e4d0;font-size: 50px;text-transform: capitalize;font-weight: 800 ">Trending News</h1>
    </div>
    <div class="container">
        <div>
            <div class="row">
                <div class="col-lg-3 col-12 order-2 order-lg-1">
                    <div class="aside-item">
                        <div class="main">
                            <div class="main">
                                <div class="top_list">
                                    <p ><b>product list</b></p>
                                </div>
                                <div class="list_box">
                                    <a class="name_list"><b>interior</b></a>
                                    <ul>
                                        <li class ="list"><a href="#"> wooden tables and chairs</a></li>
                                        <li class="list"><a href="#">wooden bed</a></li>
                                        <li class="list"><a href="#"> wooden collapset</a></li>
                                        <li class="list"><a href="#">wooden cabinets</a></li>
                                    </ul>
                                    <a class="name_list"><b>decorations</b></a>
                                    <ul>
                                        <li class="list"><a href="#">clock</a></li>
                                        <li class="list"><a href="#">jewelry box</a></li>
                                        <li class="list"><a href="#">candy box</a></li>
                                        <li class="list"><a href="#">tea tray</a></li>
                                    </ul>
                                    <a class="name_list"><b>feng shui items</b></a>
                                    <ul>
                                        <li class="list"><a href="#">feng shui statue</a></li>
                                        <li class="list"><a href="#">feng shui disk</a></li>
                                        <li class="list"><a href="#">lucky pot</a></li>
                                        <li class="list"><a href="#">feng shui jade</a></li>
                                    </ul>
                                    <a class="name_list"><b>bamboo handmade</b></a>
                                    <ul>
                                        <li class="list"><a href="#">Fashion handmade</a></li>
                                        <li class="list"><a href="#">decorative accessories</a></li>
                                        <li class="list"><a href="#">Bamboo furniture</a></li>
                                        <li class="list"><a href="#">replacing plastic products</a></li>
                                    </ul>
                                    <a class="name_list"><b>Stonee</b></a>
                                    <ul>
                                        <li class="list"><a href="#">stone paintings</a></li>
                                        <li class="list"><a href="#">stone statue</a></li>
                                        <li class="list"><a href="#">Penjing</a></li>
                                        <li class="list"><a href="#">accessories</a></li>
                                    </ul>
                                </div>
                                <div class="aside-blog">
                                    <div class="hot_list">
                                        <p><b>Related News</b></p>
                                    </div>
                                    <div class="hot_box">
                                        <div class="hot_box1">
                                            <p>Hoi An opens the 3rd handicraft market night<br>
                                                <a href="/new1">See more</a>
                                                <i class="fas fa-eye"></i></p>
                                        </div>
                                        <hr>
                                        <div class="hot_box1">
                                            <p>Water hyacinth knitting abroad in Ninh Binh<br>
                                                <a href="/new2">See more</a>
                                                <i class="fas fa-eye"></i></p>
                                        </div>
                                        <hr>
                                        <div class="hot_box1">
                                            <p>Vietnam house - where the fine arts converge<br>
                                                <a href="/new3">See more</a>
                                                <i class="fas fa-eye"></i></p>
                                        </div>
                                        <hr>
                                        <div class="hot_box1">
                                            <p>Travel the world looking for handicrafts<br>
                                                <a href="/new5">See more</a>
                                                <i class="fas fa-eye"></i></p>
                                        </div>
                                        <hr>
                                        <div class="hot_box1">
                                            <p>Learn about handicraft products at Vietnam House<br>
                                                <a href="/new4">See more</a>
                                                <i class="fas fa-eye"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-12 order-1 order-lg-2">
                    <div class="content">
                        <div  class="Content1"><a href="/new1">
                            <img src="https://vcdn1-dulich.vnecdn.net/2019/07/14/8-1563078544.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=Bl1tPDscA7h1MnqCe727pQ"/>
                            <h3>Hoi An opens the 3rd handicraft market night</h3>
                            <p>The new night market is located right next to Hoi An market, operating from 6pm to 11pm every night, selling typical souvenirs of the old town....</p></a>
                            <p class="icbot">15/08/2021 - by: Ego Creative <a href="#"><i class="fas fa-thumbs-up"></i></a></p>
                        </div>

                        <div  class="Content1"><a href="/new2">
                            <img src="http://blogcaycanh.vn/uploads/caycanh/1401854096_cay-beo-luc-binh-2.jpg"/>
                            <h3>Water hyacinth knitting abroad in Ninh Binh</h3>
                            <p>Water hyacinth stem, through the skillful hands of craftsmen in Kim Son district (Ninh Binh), has become an export fine art product with high economic value.....</p></a>
                            <p class="icbot">15/08/2021 - by: Ego Creative <a href="#"><i class="fas fa-thumbs-up"></i></a></p>
                        </div>

                        <div  class="Content1"><a href="/new3">
                            <img src="https://file1.dangcongsan.vn/data/0/images/2020/12/15/kimdung/my-nghe.jpg"/>
                            <h3>Vietnam house - where the fine arts converge</h3>
                            <p>50 stalls and 12 miniature production models here represent 12 groups of Vietnamese handicraft villages.Saigon has many favorable conditions for development in all....</p></a>
                            <p class="icbot">15/08/2021 - by: Ego Creative <a href="#"><i class="fas fa-thumbs-up"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-------footer----------->
<%- include("footer")%>
</body>
</html>