* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto",sans-serif;
}
body{
    font-size: 14px;
    color: #554f4f;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background-color: #f8f2e8;
}
html{
    font-family: "Roboto",sans-serif;
}

/*---------------HEADER---------------*/
.nav li a:hover{
    text-decoration: none;
}
.header{
    width: 100%;
    height: 90px;
    padding: 15px 0;
    background-color: #2d2621;
    border: 1px solid #2d2621
}
.header > .container{
    width: 85%;
    display: flex ;
    padding-left: 10px ;
    padding-right: 10px ;
}
.sum{
    width: 100% ;
    height: 60px ;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    background-color: #2d2621;
}
.logo{
    width: 20%;
    height: 100%;
    background-color: #2d2621;
    position: relative;
    left: -100px;
}
.nav{
    margin-left: -80px;
}
/*--------------SEACH--------------*/
.seach{
    width: 57%;
    height: 60px;
    display: flex;
    flex-direction: row;
    background-color: #2d2621;
}
.seach_box{
    width: 425px;
    height: 42px;
    background-color: #c89551;
    margin-top: 9px;

}
.header_search {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    border: solid 1px #2d2621;
    background-color: #2d2621 ;
}
.keys .listkey {
    display: none;
    width: 425px;
    min-height: 100%;
    background: #fff;
    text-align: left;
    padding: 15px 0 15px 15px;
    margin-top: 1px;
    box-shadow: 10px 10px 10px -10px gray;
    border-radius: 5px;
}
.keys:hover > .listkey{
    display: block;
}
.header_search form input {
    width: 100%;
    height: 40px;
    min-height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 45px 0 50px;
    border: none;
    overflow: hidden;
    background: #ffffff;
    border-radius: 40px !important;
    font-size: 14px;
}
.header_search form .input-group-btn {
    position: absolute;
    white-space: nowrap;
    width: 40px;
    height: 36px;
    line-height: 36px;
    right: 0;
    top: 0;
    background: transparent;
    border-radius: 50%;
    overflow: hidden;
}
.header_search form .input-group-btn button svg {
    width: 23px;
    height: 30px;
    margin-top: -3px;
    margin-left: -3px;
    display: inline-block;
}
.input-group {
    width: 100%;
    position: relative;
    display: table;
    border-collapse: separate;
}
.header_search .keys i {
    font-size: 16px;
    color: #323c42;
    transition: all 0.5s;
}
.header_search .keys {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    z-index: 5;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.keys:focus ~ .listkey {
    display: block;
}
.header_search .keys .listkey a {
    display: inline-block;
    margin: 0 5px 5px 0;
    background: #f5f5f5;
    padding: 0 5px;
    text-align: center;
    color: #323c42;
    font-size: 14px;
    line-height: 28px;
    border-radius: 3px;
    text-decoration: none;
}
.header_search .keys .listkey a:hover{
    background-color: #ff3900;
    color: white;
}

/*--------------TƯ VẤN------------------*/
.header .tuvan {
    padding-left: 50px;
    position: relative;
    top: 7px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 10px 6px;
    margin-left: 10px;
}

.header .tuvan a {
    font-size: 16px;
    color: #ff0000;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    top: -13px;
}
.tuvan > a:hover{
    color: #820000;
}

/*--------------account---------------*/

.account{
    height: 100%;
    margin-left: 30px;
}
.header .group-account {
    padding: 0;
    margin: 0;
    text-align: right;
    display: flex;
    margin-left: 10px;
}
ul {
    list-style: none outside;
}
.header .group-account li {
    display: inline-block;
    margin-left: 20px;
}
.group-account li a{
    font-weight: bold;
}
.header .group-account li .icon {
    position: relative;
    display: inline-flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    /*display: flex;*/
}
.header .group-account li .icon svg {
    width: 25px;
    height: 25px;
}
a, .text-link {
    color: #323c42;
    text-decoration: none;
    background: transparent;
}
.group-account li a:hover{
    color: #ff0000;
    text-decoration: none;
}



/*----------THANH MENU--------------*/

.header_nav{
    width: 100%;
    height: 50px;
    background-color: #b18857;
    display: flex ;
    z-index: 2;
    position: relative;
}
.header_nav .container{
    width: 83.3%;
    display: flex ;
    padding-left: 10px ;
    padding-right: 10px ;
    background-color: #b18857;
    margin-left: 117px;
}
.nav > li {
    display: inline-block;
}
.nav li{
    position: relative;
}
.subnav{
    opacity: 0; visibility: hidden; top: 150%; transition: all 0.5s ease-in-out;
    position: absolute;
    background-color: #ffffff;
    width: 251px;
    box-shadow: 10px 10px 10px -10px gray;
    border-radius: 3px;
}
.nav .subnav a{
    line-height: 40px;
    border: 0.5px solid #eceaea;
    color: #5e5e5e;
}
.battrang{
    position: relative;
}
.subnav_mini{
    opacity: 0; visibility: hidden; top: 150%; transition: all 0.5s ease-in-out;
    position: absolute;
    left: 150%;
    width: 270px;
    margin-top: -62px;
    /*margin-left: 22px;*/
    background-color: #fdfdfd;
    box-shadow: 10px 10px 10px -10px gray;
    border-radius: 3px;
}
.nav > li > a{
    font-weight: 600;
}

.nav li a{
    color: #2d2621;
    font-size: 17px;
    font-weight: bolder;
    line-height: 50px;
    padding: 0 31px;
}

.nav li:hover .subnav{
    opacity: 1; visibility: visible; top: 100%;
}


.nav  li  .battrang:hover .subnav_mini{
    opacity: 1; visibility: visible; left: 100%;
}
.nav  li  .tranh:hover .subnav_mini{
    opacity: 1; visibility: visible; left: 100%;
}
.nav  li  .mohinh:hover .subnav_mini{
    opacity: 1; visibility: visible; left: 100%;
}
.nav  li  .lua:hover .subnav_mini{
    opacity: 1; visibility: visible; left: 100%;
}
.nav  li  .dong:hover .subnav_mini{
    opacity: 1; visibility: visible; left: 100%;
}

.nav > li > a:hover{
    color: #ffffff;
}
.nav>li>a:focus, .nav>li>a:hover{
    background-color: #ad875a;
}
.subnav li a {
    display: block;
}
.subnav > li > a:hover{
    color: #ff3900;
    text-decoration: none;
}

.subnav_mini > li > a:hover{
    color: #ff3900 ;
    text-decoration: none;
}
.battrang .icon2{
    position: relative;
    left: 130px;
}
.tranh .icon2{
    position: relative;
    left: 90px;
}
.mohinh .icon2{
    position: relative;
    left: 57px;
}
.lua .icon2{
    position: relative;
    left: 60px;
}
.dong .icon2{
    position: relative;
    left: 105px;
}
.subnav1 li{
    position: relative;
}
.nav .subnav1{
    opacity: 0; visibility: hidden; top: 150%; transition: all 0.5s ease-in-out;
    position: absolute;
    background-color: white;
    color: black;
    width: 220px;
    box-shadow: 10px 10px 10px -10px gray;
    border-radius: 3px;
}
.nav .subnav1 a{
    display: block;
    line-height: 40px;
    border: 0.5px solid #ececec;
}
.subnav1 > li:hover >a{
    color: #ff3900;
    text-decoration: none;
}
.nav li:hover .subnav1{
    opacity: 1; visibility: visible; top: 100%;
}
.nav_mobie > li > a:hover {
    color: #ff0000;
    text-decoration: none;
}
.nav_mobie li a{
    text-decoration: none;
    line-height: 24px;
    padding: 0 24px;
    display: block;
}

.nav_mobie > li{
    display: block;
}

.nav_bars-btn{
    width: 32px;
    height: 40px;
    color: black;
    display: none;
    margin-left: 0%;
    background-color: #ffffff;

}
.nav_bars-btn img{
    width: 32px;
    height: 32px;
}
.nav_overlay{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    animation: fadeIn linear 0.2s;
}

.nav_mobie_tong{
    position: fixed;
    top:0;
    left: 0;
    bottom: -10px;
    width: 230px;
    height: 1000px;
    max-width: 100%;
    background-color: white;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.2s;
    z-index: 2;
}
.nav_mobie_tong ul{
    margin-top: 150px;
}
.nav_mobie_tong li{
    text-decoration: none;
    color: #323c42;
    display: block;
    padding: 8px 0;
    font-size: 17px;
    font-weight: 20;
    margin-left: 30px;
    margin-top: 10px;
}
.nav_bars-btn1{
    width: 18px;
    height: 18px;
    color: black;
    margin-left: 85%;
    position: relative;
    top: -50px;
}
.nav_mobie{
    position: absolute;
}
.subnav_mobie{
    display: none;
}
.subnav_mini_mobie{
    display: none ;
}
.subnav1_mobie{
    display: none;
}

#nav-mobile-input:checked ~ .nav_overlay{
    display: block;
}
#nav-mobile-input:checked ~ .nav_mobie_tong{
    transform: translateX(0%);
    opacity: 1;
}

.avata{
    position: relative;
    top: 40px;
}
.seach2{
    position: relative;
    top: 70px;
    left: 5px;
    width: 220px;
}
.nav_mobie li{
    position: relative;
    top: -90px;
}
/*----------MAIN-------------*/
.main{
    width: 100%;
    height: 100%;
    background-color: #f8f2e8;
    margin-top: -30px;
}
.diachi{
    display: flex;
    margin-left: -32px;
    margin-top: 30px;
    position: relative;
    z-index: 1;
}
.diachi a{
    text-decoration: none;
    color: black;
}
.diachi a:hover{
    color: #0d5e97;
}
.diachi2{
    margin-left: 5px;
    color: #ff3900;
}
.title-list{
    width: 280px;
    height: 50px;
    background-color: #c89551;
    margin-left: -34px;
}
.title-list h2{
    text-align: center;
    line-height: 50px;
}
.list-library {
    width: 280px;
    height: 650px;
    background-color: #e9e4d0;
    margin-left: -34px;
}
.danhsach a{
    text-decoration: none;
    color: #2b2b2b;
}

.title-danhsach{
    font-size: 25px;
    position: relative;
    left: 10px;
}
.danhsach a:hover p{
    color: #0d5e97;
}
.danhsachcon{
    margin-top: -5px;
    margin-left: 30px;
}
.danhsachcon a{
    color: #717171;
}
.danhsachcon li{
    margin-top: 5px ;
}
.danhsachcon li a:hover{
    color: #ff3900;
}
.thanh{
    margin-top: 5px;
}
.library-tong{
    width: 940px;
    height: 100%;
    margin-left: 300px;
    margin-top: -723px;
}
.library-tong h1{
    text-align: center;
    color: black;
}
.library-box-tong .content{
    display: flex;
}
.content a{
    display: block;
    width: 20%;
    margin: 20px;
}
.content a img{
    width: 230px;
    height: 250px;
    padding: 10px;
}










/*---------FOOTER-----------*/
.footer{
    width: 100%;
    height: 410px;
    background: #24272e;
    padding: 45px 0 0;
}
.row{
    margin-left: -50px;
}
.footer h4 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.footer ul {
    padding: 0;
    padding-top: 25px;
}
.footer ul li {
    color: #8b8e96;
    line-height: 24px;
    font-size: 14px;
}
.social p {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}
.social-button {
    display: inline-block;
    background-color: #fff;
    width: 40px;
    height: 40px;
    line-height: 36px;
    margin-right: 5px;
    text-align: center;
    position: relative;
    overflow: hidden;
    opacity: .99;
    border-radius: 40px;
    -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
    transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button i {
    font-size: 18px;
    vertical-align: middle;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
    transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button.youtube i {
    color: #DC4A38;
}
.social-button.instagram i {
    color: #3CF;
}
.footer ul li a {
    color: #8b8e96;
    font-size: 14px;
}
.footer .copyright {
    color: #8b8e96;
    font-size: 13px;
}
.footer .copyright .inner {
    border-top: solid 1px #373a43;
    padding: 15px 0;
    margin-top: 20px;
}
.footer .copyright a {
    color: #fff;
    font-size: 13px;
}
.footer .copyright ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
}
.footer .copyright ul li {
    margin-left: 20px;
}
.footer .copyright ul li a {
    color: #8b8e96;
    font-size: 13px;
}
.backtop.show {
    opacity: 1 !important;
}
.list-menu li:hover a{
    color: #ff3900;
    text-decoration: none;
}
.wsp a:hover{
    color: #ff3900;
    text-decoration: none;
}
.col-lg-6 a:hover{
    color: #ff3900;
    text-decoration: none;
}








@media only screen and (min-width: 720px)and (max-width: 1211px) {
    .nav_bars-btn {
        display: block;
    }

    .nav {
        display: none;
    }

    .tuvan {
        display: none;
    }

    .seach {
        margin-left: 50px;
    }

    .account_d-none a {
        text-align: center;
    }

    .account_d-none1 a {
        text-align: center;
    }

    .cart-drop a {
        text-align: center;
    }
    .header_nav{
        background-color: white;
    }
    .header_nav .container{
        background-color: white;
    }
    .footer{
        height: 600px;
    }
    .shop_new{
        display: none;
    }
}

/*---footer----*/
.footer{
    width: 100%;
    height: 410px;
    background: #2d2621;
    padding: 45px 0 0;
}
.row{
    margin-left: -50px;
}
.footer h4 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.footer ul {
    padding: 0;
    padding-top: 25px;
}
.footer ul li {
    color: #8b8e96;
    line-height: 24px;
    font-size: 14px;
}
.social p {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}
.social-button {
    display: inline-block;
    background-color: #fff;
    width: 40px;
    height: 40px;
    line-height: 36px;
    margin-right: 5px;
    text-align: center;
    position: relative;
    overflow: hidden;
    opacity: .99;
    border-radius: 40px;
    -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
    transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button i {
    font-size: 18px;
    vertical-align: middle;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
    transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button.youtube i {
    color: #DC4A38;
}
.social-button.instagram i {
    color: #3CF;
}
.footer ul li a {
    color: #8b8e96;
    font-size: 14px;
}
.footer .copyright {
    color: #8b8e96;
    font-size: 13px;
}
.footer .copyright .inner {
    border-top: solid 1px #373a43;
    padding: 15px 0;
    margin-top: 20px;
}
.footer .copyright a {
    color: #fff;
    font-size: 13px;
}
.footer .copyright ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
}
.footer .copyright ul li {
    margin-left: 20px;
}
.footer .copyright ul li a {
    color: #8b8e96;
    font-size: 13px;
}
.backtop.show {
    opacity: 1 !important;
}
.list-menu li:hover a{
    color: #ff3900;
    text-decoration: none;
}
.wsp a:hover{
    color: #ff3900;
    text-decoration: none;
}
.col-lg-6 a:hover{
    color: #ff3900;
    text-decoration: none;
}



#tnContact {
    max-width: 230px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 20px;
    left: 1450px;
    z-index: 10;
}
#tnContact li {
    list-style-type: none;
    width: 40px;
    height: 40px;
    padding: 0;
    margin-bottom: 10px;
    white-space: nowrap;
}
#tnContact li a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 15px;
    text-align: center;
    border-radius: 99px;
    align-items: center;
    justify-content: center;
}
#tnContact li a i {
    font-size: 18px;
    color: #fff;
}
#tnContact li .label {
    position: relative;
    visibility: hidden;
    cursor: pointer;
    color: #fff;
    padding: 7px 10px;
    border-radius: 0 99px 99px 0;
}
#tnContact li .iconzalo img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
.iconfb, .label.fb {
    background: #3b5999;
}
.iconzalo, .label.zalo {
    background: #008df2;
}
.iconsms, .label.sms {
    background: #00c300;
}
.iconcall, .label.call {
    background: #383838;
    animation: ld-jingle 0.8s linear infinite;
}
.hotline-phone-ring-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999999;
}