* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto",sans-serif;
}
body{
    font-size: 14px;
    color: #554f4f;
    overflow-x: hidden;
    width: 100%;
    height: 2000px;
}
html{
    font-family: "Roboto",sans-serif;
}

/*---------------HEADER---------------*/
.nav li a:hover{
    text-decoration: none;
}
.header{
    width: 100%;
    height: 90px;
    padding: 15px 0;
    background-color: #ffffff;
}
.header > .container{
    width: 85%;
    display: flex ;
    padding-left: 10px ;
    padding-right: 10px ;
}
.sum{
    width: 100% ;
    height: 60px ;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}
.logo{
    width: 20%;
    height: 100%;
    background-color: #ffffff;
}
/*--------------SEACH--------------*/
.seach{
    width: 57%;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
}
.seach_box{
    width: 425px;
    height: 42px;
    background-color: #ffffff;
    margin-top: 9px;
    margin-left: 30px;
}
.header_search {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    border: solid 1px #333;
    border-radius: 40px;
}
.keys .listkey {
    display: none;
    width: 425px;
    min-height: 100%;
    background: #fff;
    text-align: left;
    padding: 15px 0 15px 15px;
    margin-top: 1px;
    box-shadow: 10px 10px 10px -10px gray;
    border-radius: 5px;
}
.keys:hover > .listkey{
    display: block;
}
.header_search form input {
    width: 100%;
    height: 40px;
    min-height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 45px 0 50px;
    border: none;
    overflow: hidden;
    background: #ffffff;
    border-radius: 40px !important;
    font-size: 14px;
}
.header_search form .input-group-btn {
    position: absolute;
    white-space: nowrap;
    width: 40px;
    height: 36px;
    line-height: 36px;
    right: 0;
    top: 0;
    background: transparent;
    border-radius: 50%;
    overflow: hidden;
}
.header_search form .input-group-btn button svg {
    width: 23px;
    height: 30px;
    margin-top: -3px;
    margin-left: -3px;
    display: inline-block;
}
.input-group {
    width: 100%;
    position: relative;
    display: table;
    border-collapse: separate;
}
.header_search .keys i {
    font-size: 16px;
    color: #323c42;
    transition: all 0.5s;
}
.header_search .keys {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    z-index: 5;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.keys:focus ~ .listkey {
    display: block;
}
.header_search .keys .listkey a {
    display: inline-block;
    margin: 0 5px 5px 0;
    background: #f5f5f5;
    padding: 0 5px;
    text-align: center;
    color: #323c42;
    font-size: 14px;
    line-height: 28px;
    border-radius: 3px;
    text-decoration: none;
}
.header_search .keys .listkey a:hover{
    background-color: #ff3900;
    color: white;
}

/*--------------TƯ VẤN------------------*/
.header .tuvan {
    padding-left: 50px;
    position: relative;
    top: 7px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 10px 6px;
    margin-left: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Capa_1' enable-background='new 0 0 512 512' height='512' viewBox='0 0 512 512' width='512'%3E%3Cg%3E%3Cpath d='m252.178 455.638h-11.489c-5.522 0-10 4.477-10 10s4.478 10 10 10h11.489c5.522 0 10-4.477 10-10s-4.478-10-10-10z'/%3E%3Cpath d='m349.412 415.851h-205.958c-5.522 0-10 4.477-10 10s4.478 10 10 10h205.958c5.522 0 10-4.477 10-10s-4.477-10-10-10z'/%3E%3Cpath d='m502.901 259.684c0-61.585-40.95-113.767-96.999-130.643v-79.902c0-27.096-22.044-49.139-49.138-49.139h-220.661c-27.095 0-49.139 22.043-49.139 49.139v19.616c-44.928 13.052-77.865 54.657-77.865 103.825s32.937 90.772 77.865 103.825v186.457c0 27.095 22.044 49.139 49.139 49.139h220.661c27.095 0 49.139-22.043 49.139-49.139v-72.534c56.049-16.877 96.998-69.059 96.998-130.644zm-473.802-87.104c0-48.566 39.416-88.078 87.865-88.078s87.865 39.512 87.865 88.078c0 25.334-10.898 49.461-29.902 66.196-2.384 2.1-3.629 5.208-3.353 8.374l.511 5.858-7.393-2.519c-2.563-.874-5.374-.67-7.787.566-12.432 6.372-25.87 9.603-39.941 9.603-48.449-.001-87.865-39.512-87.865-88.078zm356.803 290.281c0 16.067-13.071 29.139-29.139 29.139h-220.66c-16.067 0-29.139-13.072-29.139-29.139v-182.665c3.293.305 6.629.461 10 .461 15.82 0 30.997-3.331 45.18-9.909l18.01 6.137c3.202 1.089 6.732.49 9.394-1.595 2.66-2.084 4.088-5.373 3.794-8.74l-1.417-16.257c20.973-20.32 32.905-48.358 32.905-77.715 0-59.594-48.388-108.078-107.865-108.078-3.371 0-6.707.156-10 .461v-15.822c0-16.067 13.071-29.139 29.139-29.139h220.661c16.067 0 29.139 13.072 29.139 29.139v75.505c-6.245-.883-12.624-1.34-19.107-1.34-75.05 0-136.106 61.18-136.106 136.38 0 37.505 15.43 73.301 42.511 99.015l-1.946 22.325c-.294 3.367 1.134 6.655 3.794 8.74 2.661 2.085 6.191 2.685 9.394 1.595l24.31-8.283c18.19 8.622 37.695 12.989 58.045 12.989 6.484 0 12.863-.457 19.107-1.34v68.136zm-19.107-86.797c-18.594 0-36.353-4.27-52.783-12.691-1.426-.731-2.99-1.101-4.562-1.101-1.087 0-2.177.177-3.226.534l-13.715 4.673 1.042-11.958c.276-3.166-.969-6.273-3.354-8.374-25.108-22.111-39.51-53.991-39.51-87.464 0-64.172 52.085-116.38 116.106-116.38s116.106 52.208 116.106 116.38c.002 64.173-52.083 116.381-116.104 116.381z'/%3E%3Cpath d='m343.31 258.626v-17.734c0-5.523-4.478-10-10-10s-10 4.477-10 10v17.734c0 5.523 4.478 10 10 10s10-4.477 10-10z'/%3E%3Cpath d='m400.279 230.893c-5.522 0-10 4.477-10 10v17.734c0 5.523 4.478 10 10 10s10-4.477 10-10v-17.734c0-5.523-4.477-10-10-10z'/%3E%3Cpath d='m386.629 296.601c-5.298 5.3-12.342 8.219-19.834 8.219s-14.537-2.919-19.835-8.219c-3.905-3.906-10.235-3.906-14.143-.002-3.905 3.905-3.906 10.236-.002 14.142 9.076 9.079 21.144 14.079 33.979 14.079s24.903-5 33.979-14.079c3.904-3.906 3.903-10.238-.003-14.142-3.905-3.906-10.238-3.903-14.141.002z'/%3E%3Cpath d='m82.96 168.76c-1.613-3.935-5.7-6.455-9.942-6.147-4.155.301-7.745 3.226-8.898 7.225-1.154 4.003.397 8.448 3.787 10.868 3.361 2.4 7.936 2.475 11.372.185 3.918-2.612 5.492-7.785 3.681-12.131z'/%3E%3Cpath d='m120.79 181.81c3.863-1.611 6.355-5.538 6.157-9.719-.198-4.178-3.086-7.849-7.078-9.075-4.034-1.239-8.591.302-11.035 3.742-2.46 3.462-2.46 8.181 0 11.643 2.658 3.742 7.727 5.169 11.956 3.409z'/%3E%3Cpath d='m150.96 176.4c1.578 3.848 5.572 6.384 9.729 6.166 4.122-.216 7.755-3.003 9.021-6.93 1.276-3.959-.104-8.459-3.424-10.986-3.381-2.573-8.096-2.72-11.637-.379-3.924 2.594-5.497 7.789-3.689 12.129z'/%3E%3C/g%3E%3C/svg%3E");
}

.header .tuvan a {
    font-size: 16px;
    color: #ff0000;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    top: -13px;
}
.tuvan > a:hover{
    color: #820000;
}

/*--------------account---------------*/

.account{
    height: 100%;
}
.header .group-account {
    padding: 0;
    margin: 0;
    text-align: right;
    display: flex;
}
ul {
    list-style: none outside;
}
.header .group-account li {
    display: inline-block;
    margin-left: 20px;
}
.group-account li a{
    font-weight: bold;
}
.header .group-account li .icon {
    position: relative;
    display: inline-flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    /*display: flex;*/
}
.header .group-account li .icon svg {
    width: 25px;
    height: 25px;
}
a, .text-link {
    color: #323c42;
    text-decoration: none;
    background: transparent;
}
.group-account li a:hover{
    color: #ff0000;
    text-decoration: none;
}



/*----------THANH MENU--------------*/

.header_nav{
    width: 100%;
    height: 50px;
    background-color: #eaeaea;
    display: flex ;
    position: relative;
    z-index: 2;
}
.header_nav .container{
    width: 83.3%;
    display: flex ;
    padding-left: 10px ;
    padding-right: 10px ;
    background-color: #eaeaea;
    margin-left: 117px;
}
.nav > li {
    display: inline-block;
}
.nav li{
    position: relative;
}
.subnav{
    opacity: 0; visibility: hidden; top: 150%; transition: all 0.5s ease-in-out;
    position: absolute;
    background-color: #ffffff;
    width: 251px;
    box-shadow: 10px 10px 10px -10px gray;
    border-radius: 3px;
}
.nav .subnav a{
    line-height: 40px;
    border: 0.5px solid #eceaea;
    color: #5e5e5e;
}
.battrang{
    position: relative;
}
.subnav_mini{
    opacity: 0; visibility: hidden; top: 150%; transition: all 0.5s ease-in-out;
    position: absolute;
    left: 150%;
    width: 270px;
    margin-top: -62px;
    /*margin-left: 22px;*/
    background-color: #fdfdfd;
    box-shadow: 10px 10px 10px -10px gray;
    border-radius: 3px;
}
.nav > li > a{
    font-weight: 600;
}

.nav li a{
    color: black;
    font-size: 17px;
    font-weight: bolder;
    line-height: 50px;
    padding: 0 31px;
}

.nav li:hover .subnav{
    opacity: 1; visibility: visible; top: 100%;
}


.nav  li  .battrang:hover .subnav_mini{
    opacity: 1; visibility: visible; left: 100%;
}
.nav  li  .tranh:hover .subnav_mini{
    opacity: 1; visibility: visible; left: 100%;
}
.nav  li  .mohinh:hover .subnav_mini{
    opacity: 1; visibility: visible; left: 100%;
}
.nav  li  .lua:hover .subnav_mini{
    opacity: 1; visibility: visible; left: 100%;
}
.nav  li  .dong:hover .subnav_mini{
    opacity: 1; visibility: visible; left: 100%;
}


.nav > li > a:hover{
    color: #eb3e32 ;
}

.subnav li a {
    /*margin-left: -20px;*/
    display: block;
}
.subnav > li > a:hover{
    color: #ff3900;
    text-decoration: none;
}

.subnav_mini > li > a:hover{
    color: #ff3900 ;
    text-decoration: none;
}
.battrang .icon2{
    position: relative;
    left: 31px;
}
.tranh .icon2{
    position: relative;
    left: 50px;
}
.mohinh .icon2{
    position: relative;
    left: 98px;
}
.lua .icon2{
    position: relative;
    left: 84px;
}
.dong .icon2{
    position: relative;
    left: 66px;
}
.subnav1 li{
    position: relative;
}
.nav .subnav1{
    opacity: 0; visibility: hidden; top: 150%; transition: all 0.5s ease-in-out;
    position: absolute;
    background-color: white;
    color: black;
    width: 220px;
    box-shadow: 10px 10px 10px -10px gray;
    border-radius: 3px;
}
.nav .subnav1 a{
    display: block;
    line-height: 40px;
    border: 0.5px solid #ececec;
}
.subnav1 > li:hover >a{
    color: #ff3900;
    text-decoration: none;
}
.nav li:hover .subnav1{
    opacity: 1; visibility: visible; top: 100%;
}
.nav_mobie > li > a:hover {
    color: #ff0000;
    text-decoration: none;
}
.nav_mobie li a{
    text-decoration: none;
    line-height: 24px;
    padding: 0 24px;
    display: block;
}

.nav_mobie > li{
    display: block;
}

.nav_bars-btn{
    width: 32px;
    height: 40px;
    color: black;
    display: none;
    margin-left: 0%;
    background-color: #ffffff;

}
.nav_bars-btn img{
    width: 32px;
    height: 32px;
}
.nav_overlay{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    animation: fadeIn linear 0.2s;
}

.nav_mobie_tong{
    position: fixed;
    top:0;
    left: 0;
    bottom: -10px;
    width: 230px;
    height: 1000px;
    max-width: 100%;
    background-color: white;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.2s;
    z-index: 2;
}
.nav_mobie_tong ul{
    margin-top: 150px;
}
.nav_mobie_tong li{
    text-decoration: none;
    color: #323c42;
    display: block;
    padding: 8px 0;
    font-size: 17px;
    font-weight: 20;
    margin-left: 30px;
    margin-top: 10px;
}
.nav_bars-btn1{
    width: 18px;
    height: 18px;
    color: black;
    margin-left: 85%;
    position: relative;
    top: -50px;
}
.nav_mobie{
    position: absolute;
}
.subnav_mobie{
    display: none;
}
.subnav_mini_mobie{
    display: none ;
}
.subnav1_mobie{
    display: none;
}

#nav-mobile-input:checked ~ .nav_overlay{
    display: block;
}
#nav-mobile-input:checked ~ .nav_mobie_tong{
    transform: translateX(0%);
    opacity: 1;
}

.avata{
    position: relative;
    top: 40px;
}
.seach2{
    position: relative;
    top: 70px;
    left: 5px;
    width: 220px;
}
.nav_mobie li{
    position: relative;
    top: -90px;
}
/*----------MAIN-------------*/
.main{
    width: 100%;
    height: 2000px;
}
.diachi{
    display: flex;
    margin-left: -32px;
    margin-top: 30px;
    position: relative;
    z-index: 1;
}
.diachi a{
    text-decoration: none;
    color: black;
}
.diachi a:hover{
    color: #0d5e97;
}
.diachi h4{
    font-size: 17px;
}
.diachi2{
    margin-left: 5px;
    color: #ff3900;
}
.title-list{
    width: 280px;
    height: 50px;
    background-color: #f1f1f1;
    margin-left: -34px;
}
.title-list h2{
    text-align: center;
    line-height: 50px;
}
.list-library {
    width: 280px;
    height: 650px;
    background-color: #ffffff;
    margin-left: -34px;
}
.danhsach a{
    text-decoration: none;
    color: #2b2b2b;
}

.title-danhsach{
    font-size: 25px;
    position: relative;
    left: 10px;
}
.danhsach a:hover p{
    color: #0d5e97;
}
.danhsachcon{
    margin-top: -5px;
    margin-left: 30px;
}
.danhsachcon a{
    color: #717171;
}
.danhsachcon li{
    margin-top: 5px ;
}
.danhsachcon li a:hover{
    color: #ff3900;
}
.thanh{
    margin-top: 5px;
}
.library-tong{
    margin-left: 300px;
    margin-top: -723px;
    width: 940px;
    height: 1000px;
}
.library-tong h1{
    text-align: center;
    color: black;
}
.library-box-tong .content{
    display: flex;
}
.content a{
    display: block;
    width: 20%;
    margin: 20px;
}
.content a img{
    width: 100%
}























/*---------FOOTER-----------*/
.footer{
    width: 100%;
    height: 410px;
    background: #24272e;
    padding: 45px 0 0;
}
.row{
    margin-left: -50px;
}
.footer h4 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.footer ul {
    padding: 0;
    padding-top: 25px;
}
.footer ul li {
    color: #8b8e96;
    line-height: 24px;
    font-size: 14px;
}
.social p {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}
.social-button {
    display: inline-block;
    background-color: #fff;
    width: 40px;
    height: 40px;
    line-height: 36px;
    margin-right: 5px;
    text-align: center;
    position: relative;
    overflow: hidden;
    opacity: .99;
    border-radius: 40px;
    -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
    transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button i {
    font-size: 18px;
    vertical-align: middle;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
    transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button.youtube i {
    color: #DC4A38;
}
.social-button.instagram i {
    color: #3CF;
}
.footer ul li a {
    color: #8b8e96;
    font-size: 14px;
}
.footer .copyright {
    color: #8b8e96;
    font-size: 13px;
}
.footer .copyright .inner {
    border-top: solid 1px #373a43;
    padding: 15px 0;
    margin-top: 20px;
}
.footer .copyright a {
    color: #fff;
    font-size: 13px;
}
.footer .copyright ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
}
.footer .copyright ul li {
    margin-left: 20px;
}
.footer .copyright ul li a {
    color: #8b8e96;
    font-size: 13px;
}
.backtop.show {
    opacity: 1 !important;
}
.list-menu li:hover a{
    color: #ff3900;
    text-decoration: none;
}
.wsp a:hover{
    color: #ff3900;
    text-decoration: none;
}
.col-lg-6 a:hover{
    color: #ff3900;
    text-decoration: none;
}








@media only screen and (min-width: 720px)and (max-width: 1211px) {
    .nav_bars-btn {
        display: block;
    }

    .nav {
        display: none;
    }

    .tuvan {
        display: none;
    }

    .seach {
        margin-left: 50px;
    }

    .account_d-none a {
        text-align: center;
    }

    .account_d-none1 a {
        text-align: center;
    }

    .cart-drop a {
        text-align: center;
    }
    .header_nav{
        background-color: white;
    }
    .header_nav .container{
        background-color: white;
    }
    .footer{
        height: 600px;
    }
    .shop_new{
        display: none;
    }
}